body {
  overflow-x:hidden 
}
.page-header{
margin:10px !important;
}
.static-body .static-title{
    font-size: 2.5em !important;
    margin-bottom: 1em;
    font-weight: 300;
}
h3.taskers_Saying {
    text-align: center;
    color: #2b2b2b;
    font-size: 2.4em;
    font-weight: 100;
}

header.page-header {    
    margin: 0!important;
}
@media (max-width: 500px), (max-width: 800px) and (min-width: 501px)
{
.static-body .container {
    margin: 0 0em !important;
}
}
.padding_inter {
    padding-bottom: 3%;
}
@import url(//fonts.googleapis.com/css?family=Open+Sans);
.stat-container {
    padding: 12px 3.5em;
    font-size: 20px;
    line-height: 1.5;
    font-weight: bolder;
       font-family: "Proxima", Arial, Helvetica, sans-serif !important;
}

.tr-carousel__indicators {
    position: absolute;
    left: 50%;
    top: 102%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    cursor: pointer;
}
.stat-container {
    font-family: steagal-light;
    font-weight: bolder !important;
    color: #2a2a2a;
}
.stat-container {
    font-family: steagal;
}
section.static-section.about-stats {
    padding: 4.5em 0;
    
    background-size: cover;
}
.ceo_class img{
border-radius:100px;
}
.header__menu-toggle {
    display: inline-block;
    font-size: 1.75rem;
    line-height: 1.428571429;
    color: #5aa1e3 !important;
    cursor: pointer;
}
a.header__navigation-link {
    color: #fff !important;
}
a.header__navigation-link:hover {
    color: #fff !important;
text-decoration:none;
}
.aboutus_background {
    top: -63px;
}
h2.taskers_Saying {
    margin-bottom: 1em !important;
}
.tasker-testimonial__quote:before {
    display: block;
    color: #b1b9c3;
    position: absolute;
    font-size: 3.75rem;
    font-weight: 600;
    content: "\201C";
    top: -0.5em;
    left: -.6em;
}
.tasker-testimonial__quote {
    position: relative;
    font-weight: normal;
    margin: 0 auto 1.5em;
    max-width: 80%;
}
img.review_class {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.tasker_saying {
padding: 3em 0;
    padding-left: 15%;
    padding-right: 15%;
    
    background-color: white;
    
    background-size: cover;
}
.tasker_saying {
    padding-left: 15%;
    padding-right: 15%;
}
.handy_man1 {
    margin: 0 !important;
}
.tasker-about_about {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    font-size: 1.5rem;
}
.register_Block {
    background: white;
    border-radius: 10px;
    width: 71%;
    padding: 3.1rem 2rem;
    text-align: center;
}
button.start_Reg {
    color: #51af33;
    border: 1px solid #51af33;
    background-color: white;
    padding: 0.5em 1.38em 0.5em;
    border-radius: 4px;
    font-size: 1.25rem;
    font-weight: normal;
    width: 80%;
    margin-top: 6px;
    cursor: pointer;
    outline: 0;
}
.handy_man1 {
    background: url(http://kedabra.com/wp-content/uploads/2017/01/anoutus-screen.png) center top no-repeat;
    background-size: cover;
    position: relative;
    padding: 4.5rem 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    height: 440px;
    width: 100%;
}

.fortune_class p {
    width: 90%;
}
.fortune_background {
    padding-left: 15%;
    padding-right: 15%;
    background: #f9fafb;
    padding-top: 8%;
    padding-bottom: 3%;
}
.fortune_class img {
    /* width: 106px; */
    width: 224px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 10%;
}
.fortune_class {
    text-align: center;
}

button.start_Reg:hover {
    border: 1px solid #5aa1e3;
    background-color: #5aa1e3;
    color: #fff !important;
}
button.start_Reg {
    color: #5aa1e3 !important;
        border: 1px solid #5aa1e3;
    background-color: white;
    padding: 0.5em 1.38em 0.5em;
    border-radius: 4px;
    font-size: 1.25rem;
    font-weight: normal;
    width: 80%;
    margin-top: 6px;
    cursor: pointer;
    outline: 0;
}
.para_ceo {
    padding-left: 5%;
    padding-right: 5%;
}

section.static-section.about-stats {
    padding: 4.5em 0;
    background:none;
    background-size: cover;
}
img.stat-icon {
    display: block;
    margin: 0 auto 1.4em;
    height: 48px;
    width: 48px;
}
.u-align--center.stat-outer-wrap {
    float: right !important;
}
.stat-container {
    padding: 12px 3.5em;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
}
.ceo_padding {
    padding-left: 15%;
    padding-right: 15%;
}
.memberOrganise {
padding-top:3%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom:3%;
}

h2.static-title.secondary-heading.about-intro__title {
    margin-bottom: 7px;
}
p.sameday_class {
    font-size: 24px;
    padding-left: 20%;
    padding-right: 20%;
}
.row [class^='col-'], .row [class*=' col-'] {
    float: none;
    margin-bottom: 1rem;
    position: relative;
}
.about_us_ontheway h1 {
    font-size: 3.5em;
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
p.mktg-subheadline {
    font-size: 1.75rem;
    margin-bottom: 0;
    color: #fff;
font-weight:400;
}
.aboutus_background {
   
    height: 420px;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;   
    background-color: #b1b9c3;
    text-align: center;
    -webkit-transition: height .15s;
    transition: height .15s;
   
    color: #fff;
}

@media screen and (max-width:480px) and (min-width: 200px){
.ceo_class img {
    border-radius: 100px;
    padding: 5px;
}
html {
    overflow-x: hidden !important;
}
}

@media screen and (max-width:767px) and (min-width: 200px){
.rabbit img {
    width: 75%;
    margin-bottom: 1% !important;
}
.ceo_class img {
    border-radius: 100px;
    padding: 5px;
}
.about_us_ontheway {
    padding-left: 4%;
    padding-right: 4%;
}
.aboutus_background {

    margin-top: 0px;
}
h2.taskers_Saying {
    font-size: 21px !important;
}
button.start_Reg {
    font-size: 17px;
width:100%;
}
.para_ceo {
    display: none;
}
.register_Block {
    background: white;
    border-radius: 10px;
    width: 90%;
    padding: 3.1rem 2rem;
    text-align: center;
    margin-left: 5%;
    margin-right: 0%;
}
.fortune_background {
    padding-left: 10%;
    padding-right: 5%;
    background: #f9fafb;
    padding-top: 8%;
    padding-bottom: 3%;
    text-align: center;
}
span.about-member__position {
    font-size: 13px;
}
h4.title-with-subtitle.about-member__name {
    font-size: 17px;
}
.static-body .static-title {
    text-align: center;
    font-size: 22px !important;
    margin-bottom: 1em;
    font-weight: 300;
}
p.sameday_class {
    font-size: 16px;
    padding-left: 10%;
    padding-right: 10%;
}
.header__logo {
    position: absolute;
    top: 0;
    left: 0!important;
       margin-left: 0;
}
.static-body .secondary-heading {
    font-size: 22px !important;
}
.about_us_ontheway h1 {
    font-size: 27px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
padding-left: 5%;
    padding-right: 5%;
}
p.mktg-subheadline {
    font-size: 17px;
    margin-bottom: 0;
    color: #fff;
padding-left: 5%;
    padding-right: 5%;
}
}

@media screen and (max-width:1201px) and (min-width: 768px){
.hiw-download-app__title {
    font-size: 22px !important;
    font-weight: 300;
    padding-bottom: .625rem;
}
h2.taskers_Saying {
    font-size: 24px !important;
}
.tasker_saying {
    padding-left: 3%;
    padding-right: 3%;
}


.static-body .secondary-heading {
    font-size: 2.5rem !important;
}
.static-body .static-title {
    text-align: center;
    font-size: 2.2em !important;
    margin-bottom: 1em;
    font-weight: 300;
}
.ceo_padding {
    padding-left: 0;
    padding-right: 0;
}

.memberOrganise {
    padding-left: 5%;
    padding-right: 5%;
}
.header__logo {
    position: absolute;
    top: 0;
    left: 0 !important;
    margin-left: -35px;
}
h4.title-with-subtitle.about-member__name {
    font-size: 15px;
}
.fortune_background {
    padding-left: 5%;
    padding-right: 5%;
    background: #f9fafb;
    padding-top: 8%;
    padding-bottom: 3%;
}
button.start_Reg {
    font-size: 18px;
}
.register_Block {
    width: 94% !important;
}
span.about-member__position {
    font-size: 13px;
}
.memberOrganise {
    padding-left: 0% !important;
    padding-right: 0% !important;
}
}
@media screen and (max-width:1371px) and (min-width: 1201px){
.hiw-download-app__title {
    text-align: left;
    display: inline-block;
    float: left;
    margin-left: 0% !important;
}
}