html.js_active.vc_desktop.vc_transform.vc_transform.gr__kedabra_com {
    
}
.vc_row.wpb_row.vc_row-fluid.Becomeatask.vc_custom_1492700206352.vc_row-has-fill.vc_row-o-full-height.vc_row-o-columns-middle.vc_row-flex {
    max-height: 120.504vh !important;
}
.chosen-container-active .chosen-choices {
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    height: 35px !important;
}
select#city {
    text-transform: capitalize;
}

input.default {
    font-family: steagal;
}
h5.errcolor.last_nameerr3 {
    font-size: 12px !important;
}
.active, .dot:hover {
    background-color: transparent !important;
}
h2.task_review {
    font-size: 2.5em;
}
div#second_chosen {
    width: 100% !important;
    font-weight: normal;
    border: 1px solid #b1b9c3;
    font-size: 1em;
    border-radius: 4px;
    / min-height: 40px !important; /
}

.chosen-container-active .chosen-choices {
    border: 0px solid #5897fb !important; 
    /* box-shadow: 0 0 5px rgba(0,0,0,.3); */
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    margin: 1px 0;
    padding: 12px !important;
    height: 15px;
    outline: 0;
    border: 0!important;
    background: transparent!important;
    box-shadow: none;
    color: #c5c5c5 !important;
    font-size: 100%;
    font-family: steagal !important;
    line-height: normal;
    border-radius: 0;
}
.h5, h5 {
    font-size: 20px !important;
}
ol.carousel-indicators {
    display: none !important;
}

body{
overflow-x:hidden !important;}
.page-header{
margin:10px !important;
}
h1.new-tasker__hero-headline {
    color: #fff;
    font-size: 48px;
    font-weight: 400 !important;
}
.small, small {
    font-size: 100% !important;
}
h2.task_review {
    margin-bottom: 25px !important;
}
h2.register_heading {
    font-size: 2.5rem;
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 1em !important;
    font-weight: 300;
}
button#dropdown_list_parent:after {
    content: ' ';
    /* height: 47px; */
    position: absolute;
    top: 40%;
    right: 6px;
    width: 0;
    border: 4px solid rgba(0, 0, 0, 0);
    border-top-color: #2a2a2a;
    margin-top: -2px;
}
.header__menu-toggle {
    display: inline-block;
    font-size: 2.75rem;
    line-height: 1.428571429;
    cursor: pointer;
    color: #5aa1e3 !important;
}
.intl-tel-input .country-list {
    position: absolute;
    z-index: 2;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 -1px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    background-color: white;
    border: 1px solid #CCC;
    white-space: nowrap;
    max-height: 200px;
    overflow-x: hidden !important;
    width: 356px;
}
.intl-tel-input {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #d6d7d8 !important;
}
a.header__navigation-link {
    color: #fff !important;
}
a.header__navigation-link:hover {
    color: #fff;
text-decoration: none;
}
.Becomeatask {
    margin-top: -69px;    
    
}
span.pre_shadow {
    display: inherit;
    background: #5aa1e3;
    width: 11px;
    height: 11px;
    border-radius: 50px;
    float: left;
    margin-top: 18px;
    margin-right: 10px;
}
.new-tasker-hiw__container.new-tasker-hiw__points-container {
    float: right;
    line-height: 46px;
    font-size: 18px;
    text-align: left;
    display: table;
    vertical-align: middle !important;
    position: absolute;
    right: 5% !important;
    top: 30%;
    width: 50%;
}
.moning_screen {
    padding-left: 15%;
}

a.box-no-padding:hover {
    text-decoration: none;
}
.static-body footer .apps-message {
    color: white;
    font-size: 16px;
}
footer {
    background: #67727e;
    font-size: 18px;
    padding: 4rem 0;
    overflow: hidden;
    z-index: 0;
    position: relative;
    padding-left: 5%;
}

.new-tasker-form__byline {
    margin-bottom: .75em;
    margin-top: 0.15em;
}
.header-with-subtext {
    margin-bottom: 0;
    margin-top: 0;
}
a.header__navigation-link {
    font-size: 16px;   
    color: #51af33;
}
.page-header {
    padding-bottom: 14px !important;
    margin: 0px 0 0px !important;
    border-bottom: 1px solid #eee;
    padding-top: 14px !important;
}
h2.ontheway_primis {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: 300;
}
.content_job_description {
    height: 17em;
    width: 17em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    background: #86919d;
    border-radius: 100%;
    color: white;
    text-align: center;
    font-size: 1.25rem;
}
button.Reg_star {
    color: white;
    border: 1px solid #5aa1e3;
    background-color: #5aa1e3;
    display: inline-block;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
letter-spacing: 1px;
}
form.Task_Submission {
    background: #e8ebef;
    padding: 1.5rem 2rem;
    border-radius: 4px;
    width: 50%;
    margin-left: 16%;
margin-top:78px;
line-height:27px;
font-family: steagal;
    font-weight: 100 !important;
    text-align:center;
}
.fortune_class p {
    width: 90%;
font-weight: 300;
    padding: 0 0.5rem;
    font-size: 18px;
}
.fortune_background {
    padding-left: 15%;
    padding-right: 15%;
    background: #f9fafb;
    padding-top: 8%;
    padding-bottom: 3%;
}
.fortune_class img {
    /* width: 106px; */
    width: 224px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 10%;
}
.fortune_class {
    text-align: center;
}
.tasker_saying {
padding: 3em 0;
    padding-left: 15%;
    padding-right: 15%;    
    background-color: white;    
    background-size: cover;
}
img.review_class {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.tasker-testimonial__quote {
    position: relative;
    font-weight: normal;
    margin: 0 auto 1.5em;
    max-width: 80%;
}
.tasker_saying {
    padding-left: 15%;
    padding-right: 15%;
}
.tasker-testimonial__quote:before {
    display: block;
    color: #b1b9c3;
    position: absolute;
    font-size: 3.75rem;
    font-weight: 600;
    content: "\201C";
    top: -0.5em;
    left: -.6em;
}
button.register_Teak_Reg {
   color: white;
    border: 1px solid #5aa1e3;
    background-color: #5aa1e3;
    padding: 6px 30px 6px 30px;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 400;
height:50px;
    text-align: center;
   
}
h2.register_heading {
    font-size: 2.5rem;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: 300;
}
.register_padding {  
    background-color: white;
    padding: 3em 0;
    padding-left: 15%;
    padding-right: 15%;
}
.online_register {
    padding: 0 2em;
    position: relative;
    text-align: center !important;
}
p.get-started-text {
    font-size: 20px;
    line-height: 1.45em;
    margin-bottom: 0.5em!important;
}
p.get-started-title {
    font-size: 30px;
    line-height: 1.5em;
    margin-bottom: .15em;
width: 90%;
}
.new-tasker__category-name {
    margin-top: 1em;
}
.new-tasker__category-img.new-tasker__category-img--Personal {
    background-image: url(https://s3.amazonaws.com/websitewordpress/veterians.png);
    width: 132px;
    height: 132px;
    margin: 0 auto;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.new-tasker__category-img.new-tasker__category-img--Furniture {
    background-image: url(https://s3.amazonaws.com/websitewordpress/nutritionist.png);
    width: 132px;
    height: 132px;
    margin: 0 auto;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.new-tasker__category-img.new-tasker__category-img--Moving {
    background-image: url(https://s3.amazonaws.com/websitewordpress/psycologist.png);
    width: 132px;
    height: 132px;
    margin: 0 auto;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.new-tasker__category-img.new-tasker__category-img--cleaning {
    background-image: url(https://s3.amazonaws.com/websitewordpress/Therapist.png);
    width: 132px;
    height: 132px;
    margin: 0 auto;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.new-tasker__category-img.new-tasker__category-img--Delivery{
    background-image: url(https://s3.amazonaws.com/websitewordpress/nurse.png);
    width: 132px;
    height: 132px;
    margin: 0 auto;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
h2.static-title.secondary-heading {
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 7rem;
}
.category_pro {
      position: relative;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    padding: 3em 0;
    padding-left: 10%;
    padding-right: 10%;
}
.class_center {
    text-align: center !important;
    display: inline;
}
.new-tasker__category-img.new-tasker__category-img--handyman {
   
    width: 132px;
    height: 132px;
    margin: 0 auto;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.circle_image_Padding {
    padding-left: 10%;
    padding-right: 10%;
}
h2.static-title.secondary-heading.new-tasker__byt-title {
    font-size: 2.5em !important;
    font-weight: 300;
    margin-bottom: 7rem;
}
.task_bar_padding {
    height: 450px;
    padding: 3em 0 0;
    
    background-size: cover;
}
span.tasker_content_Heading {
    font-size: 19px;
    color: #fff;
}

.collection_task {
    font-size: 0rem;
    margin-bottom: 1.25rem;
    width: 70px;
    margin-top: 50px;
}

h1.new-tasker__hero-headline {
    color: #fff;
    font-size: 48px;
}
.new-tasker__hero-form {
    width: 50%;
    margin-left: 15%;
}
.Becomeatask {
   
    padding: 0 !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.row [class^='col-'], .row [class*=' col-'] {
    float: none;
    margin-bottom: 1rem;
    position: relative;
}


@media screen and (max-width:767px) and (min-width: 200px){

body{
overflow-x:hidden !important;}

header.page-header {
    background: #fff;
    border-bottom: none;
    color: #fff !important;
    padding:15px;
}
.header__navigation-container.header__navigation-container--mobile.u-hidden--lg.js-header-navigation--mobile {
    height: 200px !important;
    overflow: hidden;
    background: #51af33;
    width: 100%;
}
.Becomeatask {
    margin-top: 0px;
    min-height: 100% !important;
}
h2.new-tasker-form__title.header-with-subtext {
    font-size: 25px !important;
}
h1.new-tasker__hero-headline {
    color: #fff;
    font-size: 25px;
font-weight: 600;
    letter-spacing: 1px;
}
.vc_empty_space {
    height: 0px !important;
}
form.Task_Submission {
    background: #e8ebef;
    padding: 1.5rem 3rem;
    border-radius: 4px;
    width: 100%;
    margin-left: 0%;
margin-top:0px;
    line-height: 27px;
}
h2.static-title.secondary-heading.new-tasker__byt-title {
    font-size: 2.5rem !important;
    font-weight: 300;
    margin-bottom: 0rem;
}
.collection_task {
    font-size: 0rem;
    margin-bottom: 1.25rem;
    width: 43px;
    margin-top: 45px;
}
span.tasker_content_Heading {
    font-size: 14px;
    color: #fff;
}
.content_job_description {
    height: 13em;
    width: 13em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    background: #86919d;
    border-radius: 100%;
    color: white;
    text-align: center;
    font-size: 1.25rem;
}
.task_bar_padding {
    height: auto;
    padding: 3em 0 0;
    
    background-size: cover;
}
h2.static-title.secondary-heading {
    font-size: 2.5rem !important;
    font-weight: 300;
    /* margin-bottom: 7rem; */
}
h2.register_heading {
    font-size: 2.5rem !important;
    text-align: center;
    font-size: 27px;
    margin-bottom: 1em;
    font-weight: 300;
}
.online_register {
    padding: 0 0em;
    position: relative;
    text-align: center !important;   
}
p.get-started-title {
    font-size: 22px;
    line-height: 1.5em;
    margin-bottom: .15em;
    width: 100%;
}
p.get-started-text {
    font-size: 16px;
    line-height: 1.45em;
    margin-bottom: 0.5em!important;
}
img.image_sec_Online {
    width: 20%;
}
h2.task_review {
    font-size: 27px !important;
}
.fortune_class p {
    width: 100%;
    font-weight: 300;
    padding: 0 0.5rem;
    font-size: 14px;
}
.fortune_background {
    padding-left: 5%;
    padding-right: 5%;
    background: #f9fafb;
    padding-top: 8%;
    padding-bottom: 3%;
}
}
@media screen and (max-width:1201px) and (min-width: 768px){
.moning_screen {
    padding-left: 5%;
}
.background_Slidetaskers {
    /* position: relative; */
    height: 391px !important;
    display: inline-block !important;
    float: left;
    width: 250px;
}
.new-tasker-hiw__container.new-tasker-hiw__points-container {
    float: right;
    line-height: 43px;
    font-size: 13px;
    text-align: left;
    display: table;
    vertical-align: middle !important;
    position: absolute;
    right: 3% !important;
    top: 30%;
    width: 50%;
}
img.image_Fixed {
    width: 258px !important;
    display: inherit;
}
.carousel-inner {
    display: inline-block !important;
    width: 358px !important;
    position: absolute !important;
    left: 12px !important;
    margin-top: 48px !important;
}
img.hello_class {
    width: 65% !important;
    float: left;
}
form.Task_Submission {
    background: #e8ebef;
    padding: 1.5rem 2rem;
    border-radius: 4px;
    width: 95%;
    margin-left: 0%;
    line-height: 27px;
    text-align:center !importants;
}
.header-with-subtext {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 25px !important;
}
h1.new-tasker__hero-headline {
    color: #fff;
    font-size: 48px;
  
}
h2.static-title.secondary-heading.new-tasker__byt-title {
    font-size: 2.5rem !important;
    font-weight: 300;
    margin-bottom: 0;
}
.task_bar_padding {
    height: 400px;
    padding: 3em 0 0;
   
    background-size: cover;
}
.circle_image_Padding {
    padding-left: 3%;
    padding-right: 3%;
}
.category_pro {
   
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    padding: 3em 0;
    padding-left: 3%;
    padding-right: 3%;
}
.new-tasker__category-img.new-tasker__category-img--handyman {
  
    width: 113px;
    height: 113px;
    margin: 0 auto;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.new-tasker__category-img.new-tasker__category-img--Personal {
   
    width: 113px;
    height: 113px;
    margin: 0 auto;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.new-tasker__category-img.new-tasker__category-img--Furniture {
  
    width: 113px;
    height: 113px;
    margin: 0 auto;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.new-tasker__category-img.new-tasker__category-img--Moving {
   
    width: 113px;
    height: 113px;
    margin: 0 auto;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.new-tasker__category-img.new-tasker__category-img--cleaning {
   
    width: 113px;
    height: 113px;
    margin: 0 auto;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.new-tasker__category-img.new-tasker__category-img--Delivery{
   
    width: 113px;
    height: 113px;
    margin: 0 auto;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
h2.register_heading {
    font-size: 2.5rem !important;
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 1em;
    font-weight: 300;
}
.register_padding {
    background-color: white;
    padding: 3em 0;
    padding-left: 3%;
    padding-right: 3%;
}
.online_register {
    padding: 0 0em;
    position: relative;
    text-align: center !important;
}
p.get-started-title {
    font-size: 25px;
    line-height: 1.5em;
    margin-bottom: .15em;
    width: 100%;
}
p.get-started-text {
    font-size: 19px;
    line-height: 1.45em;
    margin-bottom: 0.5em!important;
}
h2.static-title.secondary-heading {
    font-size: 2.5rem !important;
    font-weight: 300;
    margin-bottom: 0%;
}
h2.task_review {
    font-size: 22px !important;
}
.tasker_saying {
    padding-left: 3%;
    padding-right: 3%;
}
.fortune_background {
    padding-left: 3%;
    padding-right: 3%;
    background: #f9fafb;
    padding-top: 8%;
    padding-bottom: 3%;
}
.fortune_class p {
    width: 100%;
    font-weight: 300;
    padding: 0 0.5rem;
    font-size: 17px;
}
h2.ontheway_primis {
    text-align: center;
    font-size: 27px !important;
    margin-bottom: 1em;
    font-weight: 300;
}
}


@media screen and (max-width:1201px) and (min-width: 991px){
.moning_screen {
    padding-left: 12% !important;
}
.new-tasker-hiw__container.new-tasker-hiw__points-container {
    float: right;
    line-height: 46px;
    font-size: 15px;
    text-align: left;
    display: table;
    vertical-align: middle !important;
    position: absolute;
    right: 4% !important;
    top: 30%;
    width: 50%;
}
}



@media screen and (max-width:1371px) and (min-width: 1201px){
form.Task_Submission {
    background: #e8ebef;
    padding: 1.5rem 2rem;
    border-radius: 4px;
    width: 60%;
    margin-left: 16%;
    margin-top: 78px;
    line-height: 27px;
}
.register_padding {
    background-color: white;
    padding: 3em 0;
    padding-left: 5%;
    padding-right: 5%;
}
}
@media screen and (max-width:4400px) and (min-width: 1201px){

.carousel-inner {
    display: inline-block !important;
    width: 280px !important;
    position: absolute;
    left: 15px !important;
    margin-top: 60px !important;
}
img.image_Fixed {
    width: 312px !important;
}
img.hello_class {
    float: left;
}
}
.ms-options-wrap,
.ms-options-wrap * {
    box-sizing: border-box;
}

.ms-options-wrap > button:focus,
.ms-options-wrap > button {
    position: relative;
    width: 100%;
    text-align: left;
    border: 1px solid #aaa;
    background-color: #fff;
    padding: 5px 20px 5px 5px;
    margin-top: 1px;
    font-size: 13px;
    color: #aaa;
    outline: none;
    white-space: nowrap;
}

.ms-options-wrap > button:after {
    content: ' ';
    height: 0;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 0;
    border: 6px solid rgba(0, 0, 0, 0);
    border-top-color: #999;
    margin-top: -3px;
}

.ms-options-wrap > .ms-options {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 20px;
    background: white;
    z-index: 2000;
    border: 1px solid #aaa;
}

.ms-options-wrap > .ms-options > .ms-search input {
    width: 100%;
    padding: 4px 5px;
    border: none;
    border-bottom: 1px groove;
    outline: none;
}

.ms-options-wrap > .ms-options .ms-selectall {
    display: inline-block;
    font-size: .9em;
    text-transform: lowercase;
    text-decoration: none;
}
.ms-options-wrap > .ms-options .ms-selectall:hover {
    text-decoration: underline;
}

.ms-options-wrap > .ms-options > .ms-selectall.global {
    margin: 4px 5px;
}

.ms-options-wrap > .ms-options > ul > li.optgroup {
    padding: 5px;
}
.ms-options-wrap > .ms-options > ul > li.optgroup + li.optgroup {
    border-top: 1px solid #aaa;
}

.ms-options-wrap > .ms-options > ul > li.optgroup .label {
    display: block;
    padding: 5px 0 0 0;
    font-weight: bold;
}

.ms-options-wrap > .ms-options > ul label {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 4px;
    margin: 1px 0;
}

.ms-options-wrap > .ms-options > ul li.selected label,
.ms-options-wrap > .ms-options > ul label:hover {
    background-color: #efefef;
}

.ms-options-wrap > .ms-options > ul input[type="checkbox"] {
    margin-right: 5px;
    position: absolute;
    left: 4px;
    top: 7px;
}


h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    /* visibility: hidden; */
    /* opacity: 0; */
    z-index: 999999;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 44px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #00c1cf;
    font-family: Tahoma, Arial, sans-serif;
    text-align: center;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
    color: #00c1cf;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
button#dropdown_list_parent {
    width: 100%;
    background: white;
    border: 1px solid #cccccc;  
    text-align:left
}
ul#dropdown_list {
    background: white;
    min-height: 100px;
    height: auto;
    max-height: 400px;
    top: 39px;
    z-index: 999;
    width: 100%;
    border-radius: 1px;
    overflow:scroll;
   border: 1px solid #e0e0e0;
}
#dropdown_p{
    position:relative
}
ul#dropdown_list li {
    padding-left: 35px;
    margin: 5px;
}
ul#dropdown_list li input {
    float: left;
    margin: -5px;
    margin-left: 10px;
    margin-right: 10px;
}
ul#dropdown_list li:hover {
    background: #00c1cf!important;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.new-tasker-hiw__container.new-tasker-hiw__points-container {
    cursor: pointer;
}

@media (max-width: 500px), (max-width: 800px) and (min-width: 501px)
{
.static-body .container {
    margin: 0 0em !important;
}
}

/*Master SignUP css */

span.label {
    color: #a4a7a7;
    text-align: left;
    margin-left: 10px;
    font-size: 16px;
    width: 101%;
    /* background: #f7f3f3; */
    /* padding: 5px; */
    height: 24px;
    border-bottom: 1px solid whitesmoke;
    border-radius: 0px;
    line-height: 16px;
}
.ms-options-wrap > .ms-options > ul label {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 4px;
    margin: 1px 0;
    text-align: left;
}
.ms-options-wrap > .ms-options > ul input[type="checkbox"] {
    margin-right: 5px;
    position: absolute;
    left: 17px !important;
    top: -4px !important;
}

input[type="checkbox"] {
    width: 15px !important;
    margin-left: 9px;
}
label {
    padding-left: 50px !important;
}
.errcolor {
    color: tomato;
    font-size: 13px!important;
}
.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 2px !important;
    width: 100%;
     height: 35px !important;
    height: 1%;
    border: 1px solid #aaa;
    background-color: #fff;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(1%,#eee),color-stop(15%,#fff));
    background-image: -webkit-linear-gradient(#eee 1%,#fff 15%);
    background-image: -moz-linear-gradient(#eee 1%,#fff 15%);
    background-image: -o-linear-gradient(#eee 1%,#fff 15%);
    background-image: linear-gradient(#eee 1%,#fff 15%);
    cursor: text;
}