.button_moving {
    text-align: center;
}
.lightbox--title.js-lightbox-title {
    text-align: center;
}
.row.confirm-lightbox--content-row {
    text-align: center;
}
.u-align--center {
    text-align: center;
    margin-top: 15px;
}
.apply_button {
    text-align: center;
}
/*input#promotion_codes {
    margin-top: 13px;
}*/
button.Apply_bu {
    /* background: red; */
    background: #4cadc9;
    border: 1px solid #4cadc9;
    padding: 2%;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    width: 30%;
    border-radius: 5px;
}
.confirm-lightbox--button-row button {
    /* margin: 0 0.25em; */
    font-size: 14px !important;
    font-weight: 400;
    /* font-family: steagal; */
    font-family: "Proxima", Arial, Helvetica, sans-serif !important;
    padding: 13px !important;
}
span.font_mes:hover {
    color: #ff0000;
    transform: scale(2.1);
    opacity: 0.6;
    transition: all 100ms ease-in-out;
}
select {
    margin: 0;
    padding: 0.5em 0.25em !important;
    background-color: white;
    height: 40px;
}
.header__navigation-container.header__navigation-container--mobile.u-hidden--lg.js-header-navigation--mobile {
    height: auto;
    max-height: 150px !important;
    overflow: hidden;
    background: #51af33;
    width: 100%;
}

.row.confirmation__cta-help {
    margin-bottom: 40px;
}
span.font_mes {
    color: #33b5fe;
}
.card_full_div:hover {
    cursor: pointer;
    background: #ededed;
    transition: all 100ms ease-in-out;
}
span.card_number_full {
    font-size: 16px;
    letter-spacing: 0px;
}
span.card_type_block {
    padding: 7px;
    border-radius: 4px;
    background: #009db6;
    color: #fff;
    margin-right: 20px;
}

.card_full_div {
    padding: 14px 16px;
    background: white;
    border: 1px solid #cecdcd;
    border-radius: 2px;   
    margin-top: 20px;
}
input.card_type_id_radio {
    float: left;
    border: 0px;
    cursor: pointer;
    width: auto;  
    margin-right: 12px; 
    margin-top:6px;
}
.row.row--guttered.row--thin {
    margin-top: 30px;
}
.button_system {
    display: inline-block;
    width: 100%;
    margin-left: 15%;
}
.cash_payment {
    float: left;
    width: 30%;
    cursor:pointer;
}
.card_payment {
    /* float: right; */
    width: 30%;
    cursor: pointer;
    display: inline-block;
    margin-left: 10%;
}
button.cash_button {
    background-color: #464646;
    color: #fff;
    border-color: #464646;
    height: 46px;
    cursor:pointer;
}
button.card_button {
    background-color: #464646;
    color: #fff;
    border-color: #464646;
    height: 45px;
    outline: 0 !important;
    cursor: pointer;
}
.customer {
    background-color: #4cadc9 !important;
    border: 1px solid #4cadc9 !important;
    padding: 2% 0% 2% 0% !important;
    text-transform: capitalize;
    font-size: 16px;
}
a.recommendations__hire-btn.btn.btn-primary.btn-large.js-btn-hire {
    background-color: #4cadc9 !important;
    border: 1px solid #4cadc9 !important;
    padding: 2% 0% 2% 0% !important;
    text-transform: capitalize;
}

input:checked+.recommendations__schedule-filter-day__inner {
    background-color: rgba(0, 163, 254, 0.8);
    border-color: rgba(0, 163, 254, 0.8);
    color: white;
    font-weight: bold;
}

i.fa.fa-caret-right {
    font-size: 30px;
}
i.fa.fa-caret-left {
    font-size: 30px;
}
i.fa.fa-info {
    border: 2px solid rgba(0, 163, 254, 0.8);
    border-radius: 50px;
    width: 20px;
    text-align: center;
    font-size: 15px;
    outline: 0;
    color: rgba(0, 163, 254, 0.8);
}
a:visited, .link:visited {
    color: #4cadc9;
}
a.build-subheader__mod-link.js-change-template {
    color: #4cadc9;
}
.continue_blue:active {
    background: #4cadc9 !important;
    border: 1px solid #4cadc9 !important;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=search]:focus, input[type=url]:focus, input[type=number]:focus, textarea:focus {
    color: #242a30;
    border-color: transparent;
    box-shadow: inset 0 0 0 1px #00c1cf !important;
}
.tasker_avail:hover {
    
    background: #4cadc9 !important;
    color: #fff !important;
    border: 1px solid #4cadc9;
}
.tasker_avail {
    width: 50%;
    background: #fff !important;
    color: #4cadc9 !important;
    border: 1px solid #4cadc9;
    text-transform: capitalize;
}
.continue_option {
    font-size: 17px;
    background-color: #4cadc9 !important;
    border: 1px solid #4cadc9 !important;
    padding: 2% 0% 2% 0% !important;
    text-transform: capitalize;
    font-weight: 400;
}
button.btn.btn-primary.js-group-cta {
    font-size: 17px;
}
.continue_blue {
    background: #4cadc9;
    border: 1px solid #4cadc9;
    font-size: 18px;
    text-transform: capitalize;
}
.continue_blue:hover {
    background: #4cadc9;
    border: 1px solid #4cadc9;
}
img.build-trust-banner__badge {
    width: 30px;
}



@media (max-width: 600px)
{
api.css:1
.recommendations__filters .recommendations__mobile-filter-trigger {
    margin-left: auto;
}
a.recommendations__mobile-filter-trigger.btn.btn-primary.js-modal-trigger {
    padding: 2%;
    font-size: 13px;
    width: 270px;
}
a.recommendations__mobile-filter-trigger.btn.btn-primary.js-modal-trigger {
    background: #4cadc9;
    border: 1px solid #4cadc9;
    font-size: 14px;
    width: 250px;
    padding: 3%;
}
.btn.btn-secondary.btn--md.js-tomorrow.tasker_avail {
    width: 300px;
    font-size: 16px;
}
}
@media (max-width: 1000px)
{
.recommendations__filters .recommendations__mobile-filter-trigger {
    display: block;
    margin-right: auto;
    background: #4cadc9;
    border: 1px solid #4cadc9;
    font-size: 17px;
    width: 300px;
    padding: 2%;
}
.recommendations__filters .recommendations__mobile-filter-trigger:hover {
    display: block;
    margin-right: auto;
    background: #4cadc9;
    border: 1px solid #4cadc9;
    font-size: 17px;
    width: 300px;
    padding: 2%;
}
}

@media screen and (max-width:768px) and (min-width: 200px){
    .card_full_div {
    padding-left: 27px;
}
	span.card_type_block {
    padding: 3px;
    border-radius: 4px;
    background: #009db6;
    color: #fff;
    margin-right: 7px;
    font-size: 14px;
}
input.card_type_id_radio {
    float: left;
    border: 0px;
    cursor: pointer;
    width: 12px;
    margin-right: -13px;
    /* margin-top: -17px; */
    margin-left: -14px;
}
span.card_number_full {
    font-size: 12px;
    /* letter-spacing: 0px; */
}

}
@media screen and (max-width:4400px) and (min-width: 1201px){

}
.container_cards.loading_animation_block {
    position: absolute;
    z-index: 99;
    left: calc(50% - 60px);
    background: white;
    border-radius: 6px;
    border: 1px solid #e6e6e6;
    padding: 6px;
}
.confirmation--main .confirmation__section-label {
    color: #545e69;
    margin-bottom: 15px;
}
button#add_card_button { 
    margin-top: 21px;
    background: #0b80c1;
    border: 0px;
    padding: 7px 5px;
    color: #fff;
    border-radius: 5px;
	cursor:pointer;
	font-size:20px
}
button#add_card_button:disabled {
    background: #bfbfbf;
    cursor: not-allowed;
}




/*--------------------
Buttons
--------------------*/
.btn {
  display: block;
  color: white;
  text-decoration: none;
  margin: 20px 0;
  padding: 15px 15px;
  border-radius: 5px;
  position: relative;
}
.btn::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .2s ease-in-out;
  box-shadow: inset 0 3px 0 transparent, 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.btn:hover::after {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.2);
}

/*--------------------
Form
--------------------*/
.form fieldset {
  border: none;
  padding: 0;
  padding: 10px 0;
  position: relative;
  clear: both;
}
.form fieldset.fieldset-expiration {
  float: left;
  width: 60%;
}
.form fieldset.fieldset-expiration .select {
  width: 84px;
  margin-right: 12px;
  float: left;
}
.form fieldset.fieldset-ccv {
  clear: none;
  float: right;
  width: 86px;
}
.form fieldset label {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Inconsolata;
}
.form fieldset input,
.form fieldset .select {
  width: 100%;
  height: 38px;
  color: #333333;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}
.form fieldset input.input-cart-number,
.form fieldset .select.input-cart-number {
  width: 82px;
  display: inline-block;
  margin-right: 8px;
}
.form fieldset input.input-cart-number:last-child,
.form fieldset .select.input-cart-number:last-child {
  margin-right: 0;
}
.form fieldset .select {
  position: relative;
}
.form fieldset .select::after {
  content: '';
  /*border-top: 8px solid #222;*/
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  z-index: 2;
  top: 14px;
  right: 10px;
  pointer-events: none;
}
.form fieldset .select select {
  appearance: none;
  position: absolute;
  padding: 0;
  border: none;
  width: 100%;
  outline: none !important;
  top: 0px;
  left: 0px;
  background: none;
}
.form fieldset .select select :-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.form button {
  width: 100%;
  outline: none !important;
  background: linear-gradient(180deg, #49a09b, #3d8291);
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  box-shadow: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 90px;
}
.form button .fa {
  margin-right: 6px;
}

/*--------------------
Checkout
--------------------*/
.checkout {
  margin: 150px auto 30px;
  position: relative;
  width: 460px;
  background: white;
  border-radius: 15px;
  padding: 160px 45px 30px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/*--------------------
Credit Card
--------------------*/
.credit-card-box {
  perspective: 1000;
  width: 400px;
  height: 280px;
  position: absolute;
  top: -112px;
  left: 50%;
  transform: translateX(-50%);
}
.credit-card-box:hover .flip, .credit-card-box.hover .flip {
  transform: rotateY(180deg);
}
.credit-card-box .front,
.credit-card-box .back {
  width: 400px;
  height: 250px;
  border-radius: 15px;
  backface-visibility: hidden;
  background: linear-gradient(135deg, #bd6772, #53223f);
  position: absolute;
  color: #fff;
  font-family: Inconsolata;
  top: 0;
  left: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
.credit-card-box .front::before,
.credit-card-box .back::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("http://cdn.flaticon.com/svg/44/44386.svg") no-repeat center;
  background-size: cover;
  opacity: .05;
}
.credit-card-box .flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.credit-card-box .logo {
  position: absolute;
  top: 9px;
  right: 20px;
  width: 60px;
}
.credit-card-box .logo svg {
  width: 100%;
  height: auto;
  fill: #fff;
}
.credit-card-box .front {
  z-index: 2;
  transform: rotateY(0deg);
}
.credit-card-box .back {
  transform: rotateY(180deg);
}
.credit-card-box .back .logo {
  top: 185px;
}
.credit-card-box .chip {
  position: absolute;
  width: 60px;
  height: 45px;
  top: 20px;
  left: 20px;
  background: linear-gradient(135deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
  border-radius: 8px;
}
.credit-card-box .chip::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 4px solid rgba(128, 128, 128, 0.1);
  width: 80%;
  height: 70%;
  border-radius: 5px;
}
.credit-card-box .strip {
  background: linear-gradient(135deg, #404040, #1a1a1a);
  position: absolute;
  width: 100%;
  height: 50px;
  top: 30px;
  left: 0;
}
.credit-card-box .number {
  position: absolute;
  margin: 0 auto;
  top: 103px;
  left: 19px;
  font-size: 38px;
}
.credit-card-box label {
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: normal;
  opacity: 0.5;
  display: block;
  margin-bottom: 3px;
}
.credit-card-box .card-holder,
.credit-card-box .card-expiration-date {
  position: absolute;
  margin: 0 auto;
  top: 180px;
  left: 19px;
  font-size: 22px;
  text-transform: capitalize;
}
.credit-card-box .card-expiration-date {
  text-align: right;
  left: auto;
  right: 20px;
}
.credit-card-box .ccv {
  height: 36px;
  background: #fff;
  width: 91%;
  border-radius: 5px;
  top: 110px;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  color: #000;
  text-align: right;
  padding: 10px;
}
.credit-card-box .ccv label {
  margin: -25px 0 14px;
  color: #fff;
}
p#new_card_title {
    text-align: center;
    font-size: 17px;
    margin-bottom: -20px;
    padding-top: 13px;
    font-weight: 600;
    color: #906380;
    border-top: 1px solid #f3f3f3;
}
.validation_class.has-error {
    border: 1px solid red;
}
.select.validation_class.has-error{
    border: 1px solid red;
}
p#card_error_success {
    text-align: center;
    color: #03dc03;
    font-size: 19px;
}



div#card_load {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    top: 0px;
    z-index: 99;
}
span.loader_card {
    position: absolute;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
}
.loader_card{
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
