/*
map close css*/


i.fa.fa-window-close.map_close {
    position: absolute;
    right: -6px;
    font-size: 21px;
    top: -7px;
    z-index: 999999;
    cursor: pointer;
}


/*
map close css*/

ul#pagination-demos {
    display: none !important;
}
.chosen-container {
    font-size: 18px !important;
    width: 100% !important;
    text-transform: capitalize;
}
.header__navigation-container.header__navigation-container--mobile.u-hidden--lg.js-header-navigation--mobile {
    height: 100% !important;
    overflow: hidden;
    background: #51af33;
    width: 100%;
}
img.moving_tasks {
    padding-right: 10px;
}
.media--content {
    margin: 0 0 0 0 !important;
}
i.ss-caret-right-light {
    display: none;
}
.header__navigation-container.header__navigation-container--mobile.u-hidden--lg.js-header-navigation--mobile {
    height: auto;   
    overflow: hidden;
    background: #51af33;
    width: 100%;
}
a.mct__item:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.6;
}

a.btn.btn-secondary.btn-small.btn-sm-block.support-cta{
	margin-bottom:50px;
}
@media screen and (max-width:768px) and (min-width: 200px){
    span.generalhandling_view {
    font-size: 20px;
}
header.page-header {
    padding: 20px;
}
img.imsge_sentence {
    border-radius: 30px;
    width: 25px;
}
.static-body .container--wide {
    padding-left: 0%;
    padding-right: 0%;
}
.drop_down_soon {
    position: absolute;
    background: #e4e5e6;
    right: 10px;
    width: 44% !important;
    text-align: center;
    z-index: 99999;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    top: 106px;
}
footer{
display:none;

}
}


.marker_location {
    float: left;
    width: 100%;
    border-bottom: 1px solid gainsboro;
    padding:10px;
} 
.tasker_list {
    border-bottom: 1px solid gainsboro;
    float: right;
    width: 100%;
    padding: 10px;
} 
.vc_row{
margin:0;!important}
p.live_track {
    border-bottom: 1px solid grey;
    line-height: 2.2;
cursor:pointer;
}
.more_right_change {
    float: right;
}
img.imsge_sentence {
   
    border-radius: 30px;
}
span.location_date {
    color: #b4b8bd;
}
.general_setting {
    border-bottom: 1px solid gainsboro;
    padding: 1%;
    font-size: 2rem;
}
i.fa.fa-chevron-up {
    font-size: 13px;
    padding-left: 5px;
}
.hide_details {
    padding: 1%;
    text-align: center;
    color: #00c1cf;
    border-top: 1px solid gainsboro;
}
.hide_details1  {
    padding: 1%;
    text-align: center;
    color: #00c1cf;
    border-top: 1px solid gainsboro;
}
.Description_section {
    padding: 5%;
}
span.tasker_name1 {
    
    color: #00c1cf;
    font-weight: 400;
    font-size: 21px;
}
/*span.tasker_name {
    margin-left: 363px;
}*/
.location_min {
    padding: 4%;
}
.datepicker_section {
    padding: 2%;
    border-bottom: 1px solid gainsboro;
}
.booking_status {
    background: #e4e5e6;   
    border-bottom: 1px solid gainsboro;
    padding: 1%;
}
.struture_whole {
    border: 1px solid gainsboro; 
    border-radius:5px;
    margin-bottom: 30px;  
}

span.date_selection1 {
    margin-left: 25%;
}
h4.tasks {
    color: #00c1cf;
    
}
span.fate_time {
    padding-left: 12px;
    border-left: 1px solid grey;
}
hr {
    margin-top: 0% !important; 
     margin-bottom: 1.5rem !important;
    border: 1px solid transparent;
    border-top-color: #dce0e6;
}
select.selectpicker {
    width: 100%;
}
.loadersmall {
    margin-top: 10%;
    position: absolute;
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    z-index: 999999;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.nocatlist {
    text-align: center;
    font-size: 21px;
    color: red;
    padding: 3em;
}
    a.btn.btn-secondary.btn-small.btn-sm-block.support-cta {
    width: 22%;
    font-size: 14px;
    padding: 1%;
    background: #4cadc9;
    color: #fff !important;
    border: 1px solid #4cadc9;
}
a:visited, .link:visited {
    color: #4cadc9!important;
}
a.box-no-padding:visited, .link:visited {
    color: #f8f7ef!important;
}
a.btn.btn-secondary.btn-small.btn-sm-block.support-cta {
     width: 22%;
    font-size: 14px;
    padding: 1%;
}
.fortune_class {
    text-align: center !important;
}
.fortune_class p {
    width: 90%;
    font-size: 18px;
}
.fortune_class img {
    width: 224px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 10%;
}
.fortune_background {
    padding-left: 15%;
    padding-right: 15%;
}
h2.dashboard__get-started-title {
    color: #67727e;
    margin-top: 0;
    margin-bottom: 0em;
}
.dashboard__get-started-icon {
    background-color: #67727e;
    font-size: 1.25em;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 43px;
    font-weight: 600;
    color: white;
    margin-top: 7px;
}
.media--content {
    margin: 0 0 1.5rem 0 !important;
}
.search-bar-container {
max-width: 100%;
    margin: 0 !important;
    padding-top: 1rem;
}
@media screen and (max-width:800px) and (min-width: 200px){
.dashboard__get-started-container {
    padding-left: 5%;
    padding-right: 5%;
}
a.btn.btn-secondary.btn-small.btn-sm-block.support-cta {
    width: 90%;
    font-size: 14px;
    margin-left: 5%;
text-transform:lowercase;
margin-bottom:50px;
padding:2%;
}
.fortune_class p {
    width: 100%;
    font-size: 18px;
}
.fortune_background {
    padding-left: 5%;
    padding-right: 5%;
}

}
@media screen and (max-width:1201px) and (min-width: 768px){
	a.btn.btn-secondary.btn-small.btn-sm-block.support-cta {
    width: 33%;
    font-size: 14px;
    padding: 1%;
}

}
span.sitsh {
    cursor: pointer;
}
.drop_down_soon {
    position: absolute;
    background: #e4e5e6;
    right: 10px;    
    width: 25%;
    text-align: center;
    z-index: 99999;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
}
span.tasker_more {
    cursor: pointer;
}
.shmap{
    height: 300px;
}
.customer_tasklist{
    display: none;
}
.display_not_show {
    display: none;
}
span.booking_id {
    font-size: 18px;
    color: #00b6ff;
    font-weight: 600;
}
span.booking_status_msg {
    float: right;
    color: green;
    font-size: 18px;
}




div#page_loader_parent {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0,0,0,0.7);
    top: 0px;
    left: 0px;
    border-radius: 8px
}

.loader {
  z-index: 999;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  letter-spacing: 0.2em;
}
.loader::before, .loader::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #fff;
  position: absolute;
  animation: load .7s infinite alternate ease-in-out;
}
.loader::before {
  top: 0;
}
.loader::after {
  bottom: 0;
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}
p.cancel_task {
    cursor: pointer;
}






