
a.btn.btn-secondary.btn-small.js-template-cta {
    text-transform: lowercase;
    background: #3178ae;
    border: 1px solid #3178ae;
    color: #fff;
}
a.mktg-nav--link {
    color: #3178ae !important;
}
.view--body {
    padding: 2em 0 0 !important;
}
img.mg-quote--img1 {
    width: 50px;
    border-radius: 50px;
}

@media screen and (max-width:501px) and (min-width: 275px){

img.mktg-template-item--img {
    margin-top: 25px;
}
}
@media screen and (max-width:4400px) and (min-width: 1201px){

}