.page-header{
margin:10px !important;
}
.green_class {
    margin: 0 auto;
    width: 250px;
}
h3.static-title.secondary-heading {
    padding-bottom: 20px;
}
.landing_ontheway h1 {
    font-weight: 100 !important;
    font-size: 4.5rem;
    line-height: 1.2;
}
h3.taskers_Saying {
    text-align: center;
    color: #2b2b2b;
    font-size: 2.4em !important;
    font-weight: 100;
}
body{
	overflow-x:hidden;
}
a.start_Reg:hover {
    color: #fff !important;
}
.sticky {
  
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}
@media screen and (max-width: 782px)
{
html {
    margin-top: 46px !important;
    overflow-x: hidden !important;
}
.page-header{
margin:10px !important;
}
}

.image_moving {
    margin-right: 25px;
}
.moving_left {
    margin-left: 25px;
}
/*.wpb_wrapper {
    margin-bottom: 267px;
}*/
i.ss-icon.ss-checkmark-light.icon-spacing {
    padding-right: 10px;
}
.arrow_pick{
padding-top:0px;}
/*h2.static-title.secondary-heading {
    margin-bottom: 2rem;
}*/
footer {
    padding: 3%;
}
.header__menu-toggle {
    display: inline-block;
    font-size: 1.75rem;
    line-height: 1.428571429;
    color: #5aa1e3 !important;
    cursor: pointer;
}
a.btn.btn-primary.btn--md.js-dismiss {
    color: white;
    border: 1px solid #5aa1e3;
    background-color: #5aa1e3;
}
h2.taskers_Saying {
    margin-bottom: 1em !important;
}
.tasker-testimonial__quote:before {
    display: block;
    color: #b1b9c3;
    position: absolute;
    font-size: 3.75rem;
    font-weight: 600;
    content: "\201C";
    top: -0.5em;
    left: -.6em;
}
.tasker-testimonial__quote {
    position: relative;
    font-weight: normal;
    margin: 0 auto 1.5em;
    max-width: 80%;
}
img.review_class {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.tasker_saying {
padding: 3em 0;
    padding-left: 15%;
    padding-right: 15%;
   
    background-color: white;
    
    background-size: cover;
}
.tasker_saying {
    padding-left: 15%;
    padding-right: 15%;
}
.handy_man {
    margin: 0;
}
.fortune_class p {
    width: 90%;
}
.fortune_background {
    padding-left: 15%;
    padding-right: 15%;
    background: #f9fafb;
    padding-top: 8%;
    padding-bottom: 3%;
}
.fortune_class img {    
    width: 224px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 10%;
}
.fortune_class {
    text-align: center;
}
button.start_Reg:hover {
    border: 1px solid #5aa1e3;
    background-color: #5aa1e3;
    color: #fff !important;
}
button.start_Reg {
        color: #5aa1e3 !important;
    border: 1px solid #5aa1e3 !important;
background-color: white;
    padding: 0.5em 1.38em 0.5em;
    border-radius: 4px;
    font-size: 1.25rem;
    font-weight: normal;
    width: 80%;
    margin-top: 6px;
    cursor: pointer;
    outline: 0;
}
.tasker-about1 {
    padding-top: 15px;
    padding-bottom: 3px;
}
h2.meet-tasker-title.static-title {
    margin-bottom: 10px;
}
.register_Block {
    background: white;
    border-radius: 10px;
    width: 76%;
    padding: 3.1rem 2rem;
    text-align: center;
}
.handy_man {
    background-size: cover;
    position: relative;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    height: 500px;
    width: 100%;
 
    padding: 5rem;
}
button.learn_Option {
margin-bootom:0 !important;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    font-size: 1rem;
    color: #242a30;
    border: 1px solid #b1b9c3;
    background-color: #e8ebef;
    border-radius: 3px;
    width: 12%;
    text-align: center;
    cursor: pointer;
    outline: none;
margin-top:15px;
}
.hw-form-group__note div {
    line-height: 1.3;
    padding: 10px 14px;
    display: none;
}
ul#typeahead-9-544 {
    border: 0px #fff;
}
.bookcourier {
    display: none;
}
.hw-dropdown-menu, .hw-form-group__note {
    
    border: 0px solid #3178ae !important;
}
.hw-button {   
    color: #fff!important;
	    
}
.asap_down {
    border: 1px solid #3178ae !important;
    border-top: #fff !important;
}
.new_dropdown_asap {
    border: 1px solid #3178ae !important;
    border-top: #fff !important;
}
.hide_new {
    display: none;
}
span.hw-arrow.ng-hide {
    display: none;
}
.animated.fadeIn p {
    text-align: center !important;
}
.hidding_back.pos_abs {
 position: fixed;
    top: 19%;
    left: 20.5%;
    backface-visibility: hidden;
}
div#hidding_background img {
    width: 288px;
    height: 530px;
}
div#hidding_background{
	text-align:center
}
div#car_img_car {
    position: relative;
    width: 287px;
    margin: 0 auto;
}
div#inner_div {
    position: absolute;
    top: 45px;
    left: 43px;
    width: 233px;
    height: 491px;
}
div#inner_div img {
    height: 410px;
    width: 233px;
}
.text_font p {
    font-size: 16px;
    line-height: 27px;
    width: 80%;
}
.text_font h2 {
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: initial;
}
.vc_sep_pos_align_left {
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 0;
}
ul#floating_indics_ul li {
    background: transparent;
    margin-bottom: 20px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 2px solid #afaeae;
}
div#floating_indics {
    width: 50px;
    height: 200px;
    position: fixed;
    left: 50px;
    top: calc(65% - 200px);
    /* background: red; */
}
ul#floating_indics_ul {
    height: 100%;
}
li.active {
   background: #00c1cf !important;
    height: 20px!important;
    width: 20px!important;
    border: 0px solid #3178ae!important; 
    margin-left: -5px;
}

header.header-container.ng-scope.fixed_header {
    position: fixed;
    width: 100%;
    z-index: 99;
    background: white;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(171,171,171,0.54);
    -moz-box-shadow: 0px 1px 5px 0px rgba(171,171,171,0.54);
    box-shadow: 0px 1px 5px 0px rgba(171,171,171,0.54);
}
ul#floating_indics_ul li a {
    color: transparent;
}
li.navigation__item a {
    }
    
p.under_button {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    color: #2a2a2a;
    font-size: 13px;
    line-height: 21px;
}
.get_method:before {
    display: none;
}

a.next:hover {
    text-decoration: none;
    color: #3178ae;
}
a.prev:hover {
    text-decoration: none;
    color: #3178ae;
}
p.hiw-text {
    width:100%;
    padding: 10px 20px;
}
.moving_class2 {
    text-align: center !important;
}
p.hiw-text1 {
    width: 90%;
}
.hiw-title1 {
    color: #242a30;
    font-size: 26px;
    font-weight: 400;
}

.task_Picking {
    background: #f9fafb;
    padding: 1em 0;
    padding-left: 15%;
    padding-right: 15%;
}
.hiw-title {
color: #67727e;
    font-size: 27px;
    line-height: 1.5em;
    font-weight: normal;
}
.moving_class img {
    width: 58px;
}
.moving_class {
    text-align: center;
}
li.dwyl-list-item {
    padding: 0.25em;
    font-size: 22px;
    font-weight: 600;
}
i.fa.fa-check {
    padding-right: 10px;
}
p.dwyl-heading {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
}
.green_background {
    max-height: 353px;
    padding: 3em 0 4em;
    color: white;
    position: relative;
    margin-top: 30px;
    background-size: cover;
}
input#usr {
    text-align: center;
    width: 30%;
cursor:pointer;
}
.homepage__subtitle1 {
    margin-bottom: 0;
    font-size: 1.75rem;
    line-height: 1.5;
}
.homepage__separator {
    width: 100px;
   border-top: 1px solid #5aa1e3;
    border-bottom: 1px solid #5aa1e3;
    margin: 1.875rem auto;
}
.float_none {
    float: none;
}
.row [class^='col-'], .row [class*=' col-'] {
    float: none !important;
    margin-bottom: 1rem;
    position: relative;
}
.landing_ontheway h2 {
    font-size: 25px;
    font-weight: 100 !important;
    font-size: 4.5rem;
    line-height: 1.2;
}
.landingbackground_ontheway {
      
    height: 700px;
   
    background-size: cover;
}
img.vc_single_image-img.attachment-medium {
    width: 100% !important;
    height: 100% !important;
}
.container {
    max-width: 100%;
    padding: 0;
}
section.page-banner {
    background-color: #61625d !important;
    color: #ffffff;
	height: 270px;
}
h1.animated.fadeIn {
    font-size: 2.5rem;
    letter-spacing: 8.9px;
    line-height: 32px;
    text-transform: uppercase;
    color: #fff;
}
#booking-search-panel {
    width: 100%;
    height: 236px;
    display: block;
    z-index: 9;
    position: relative;
    top: -107px;
}



@media screen and (max-width:767px) and (min-width: 200px){
	.landing_ontheway h1 {
    font-weight: 100 !important;
    font-size: 1.5rem;
    line-height: 1.2;
}

.arrow_pick {
    padding-top: 100px;
}
   /*  div#download_app_sec1 {
    background: #eaecef !important;
}*/
    body{
        overflow-x:hidden !important;
    }
.homepage__subtitle1 {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.5;
}
.moving_left {
    margin-left: 0;
    text-align: center !important;
}
.image_moving {
    margin-right: 0px;
    text-align: center !important;
}
.handy_man {
    background-size: cover;
    position: relative;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    height: auto;
    width: 100%;
    
    padding: 2rem;
}
.header__navigation-container.header__navigation-container--mobile.u-hidden--lg.js-header-navigation--mobile {
    height: auto;
    max-height: 250px;
    overflow: hidden;
    background: #51af33;
    width: 100%;
}
.get_method:before {
    display: none !important;
}
h2.taskers_Saying {
    font-size: 21px !important;
}
h2.meet-tasker-title.static-title {
    margin-bottom: 10px;
    font-size: 21px !important;
}
button.start_Reg {
    color: #51af33;
    border: 1px solid #51af33;
    background-color: white;
    padding: 0.5em 1.38em 0.5em;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: normal;
    width: 80%;
    margin-top: 6px;
    cursor: pointer;
    outline: 0;
}
.fortune_class p {
    width: 100%;
}
.fortune_background {
    padding-left: 10%;
    padding-right: 10%;
    background: #f9fafb;
    padding-top: 8%;
    padding-bottom: 3%;
}
.register_Block {
    background: white;
    border-radius: 10px;
    width: 100%;
    padding: 1.1rem 2rem;
    text-align: center;
}
p.hiw-text1 {
    width: 100%;
    font-size: 14px;
}
.hiw-title1 {
    color: #242a30;
    font-size: 20px;
    font-weight: 400;
}
.static-body .secondary-heading {
    font-size: 1.5rem !important;
}
.green_background {
     
    max-height: 481px;
   
    padding: 2em 0 3em;
   background-size: cover;
    color: white;
    position: relative;
       
}
button.learn_Option {
    width: 75%;
}

li.dwyl-list-item {
    padding: 0.25em;
    font-size: 18px;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
}
p.dwyl-heading {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center !important;
}
img.mob_size {
    width: 175px !important;
}
p.hiw-text {
    width: 100%;
}
.background_image_section img {
    width: 225px;
}
h2.hiw-lateral-title.static-title.secondary-heading {
        margin: 0 !important;
    margin-top: 35px !important;
}
.bullet_class {
    display: none;
}
.landingbackground_ontheway {
   background: #f5f5f5;
    height: 450px;
   
background-size:cover;    
}
input#usr {
    text-align: center;
    width: 60%;
    cursor: pointer;
}
.landing_ontheway h2 {
    font-weight: 100 !important;
    font-size: 2.5rem !important;
    line-height: 1.2;
}
.about_us_ontheway h1 {
    font-size: 28px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.move_sharp {
    margin-top: 91px;
    padding-left: 5%;
    padding-right: 5%;
}
.slideshow-container {
    max-width: 987px;
    position: relative;
    margin: auto;
    text-align: center !important;
    margin-bottom: 26%;
}
p.under_button {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    color: #2a2a2a;
    font-size: 13px;
    line-height: 21px;
    padding-top: 4%;
}

.mySlides.fade {
    position: absolute;
    top: 49px;
}
.text {
    color: #3178ae;
    font-size: 17px;
    padding: 2px 12px;
    margin-top: 23% !important;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* margin-bottom: 0%; */
}
h2.hiw-lateral-title.static-title.secondary-heading {
    font-size: 30px !important;
   
}

.wpb_single_image.vc_align_right {
     padding-right: 0%; 
}
section.page-banner {
    background-color: #61625d !important;
    color: #ffffff;
    height: 250px;
    display: table;
    margin-top: 58px;
}
h3.mobile_para {
    line-height: 21px;
}
.animated.fadeIn p {
    text-align: center !important;
    line-height: 21px;
}
.wpb_single_image.vc_align_left {
    
    padding-left: 0%;
}
div#download_app {
    margin-top: 150px;
    padding-left: 5%;
    padding-right: 5%;
}
ul#floating_indics_ul {
    height: 100%;
    display: none;
}
.page-banner .content-header {
    display: table-cell;
    vertical-align: middle;
    min-height: 100px;
    padding-left: 5%;
    padding-right: 5%;
}
.page-banner article {
    margin-top: 4.5rem !important;
}
h1.animated.fadeIn {
    font-size: 21px !important;
    letter-spacing: 3.9px;
    line-height: 31px;
    text-transform: uppercase;
    color: #fff;
}
.vc_row.wpb_row.vc_row-fluid.scrollTo {
    min-height: 35px !important;
}
div#scrolling_div2 {
    display: none !important;
}
div#scrolling_div3 {
    display: none !important;
}
div#scrolling_div4 {
    display: none !important;
}
div#scrolling_div5 {
    display: none !important;
}
div#scrolling_div6 {
    display: none !important;
}
}

@media screen and (max-width:480px) and (min-width: 200px){
.next {
    right: -80%;
    border-radius: 3px 0 0 3px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40% !important;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #3178ae;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    left: 4% !important;
}

}

@media screen and (max-width:991px) and (min-width: 768px){
	.arrow_pick {
     padding-top: 0px;
}
h2.meet-tasker-title.static-title {
    margin-bottom: 10px;
    font-size: 21px !important;
    font-weight: 400 !important;
}
h2.taskers_Saying {
    font-size: 24px !important;
}
.tasker_saying {
    padding-left: 3%;
    padding-right: 3%;
}
.landing_ontheway h2 {
    font-size: 40px !important;
    font-weight: 100 !important;
   
    line-height: 1.2;
}
button.learn_Option {
    width: 35%;
}
.fortune_background {
    padding-left: 7%;
    padding-right: 7%;
    background: #f9fafb;
    padding-top: 8%;
    padding-bottom: 3%;
}
.task_Picking {
    background: #f9fafb;
    padding: 1em 0;
    padding-left: 5%;
    padding-right: 5%;
}
.static-body .secondary-heading {
    font-size: 2rem !important;
}
.register_Block {
    background: white;
    border-radius: 10px;
    width: 100%;
    padding: 1.1rem 2rem;
    text-align: center;
}
}
@media screen and (max-width:1201px) and (min-width: 992px){
.register_Block {
    background: white;
    border-radius: 10px;
    width: 100%;
    padding: 3.1rem 2rem;
    text-align: center;
}
button.learn_Option {
    width: 40%;
}
}


/*slider*/
span.dot {
    background: #3178ae;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
text-align:center !important;
margin-bottom: 8%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
 color: #3178ae;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
left:10%;
}

/* Position the "next button" to the right */
.next {
 right:-67%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: none;
}

/* Caption text */
.text {
    color: #3178ae;
    font-size: 17px;
    padding: 2px 12px;
   margin-top: 10%;
    bottom: -20px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.bullet_class {
    /* text-align:center; */
    position:absolute;   
    top: -9%;
    word-spacing: 11px;
    width: 100%;
    
}

@media screen and (max-width: 991px) and (min-width: 768px){
.mySlides.fade
{
    position: absolute;
    top: 60px;
    width:100%;
}
img.mob_size {
    width: 260px !important;
}
div#scrolling_div6 {
    display: none;
}
div#scrolling_div5 {
    display: none;
}
div#scrolling_div4 {
    display: none;
}
div#scrolling_div3 {
    display: none;
}div#scrolling_div2 {
    display: none;
}
div#scrolling_div1 {
    display: none;
}
.moves_slide {
    margin-top: 100px;
}
.bullet_class {
    display: none;
}
}
.fade{
    opacity:1!important;
}
div#scrolling_div1 {
    padding: 1%!important;
}
