.page-header{
margin:10px !important;
}
.alignmewnt_top {
    margin-top: 75px;
}
h2.taskers_Saying {
    font-weight: 400;
}

html{
overflow-x:hidden;}
.header__logo {
    display: block;
    /*background-image: url(http://kedabra.com/wp-content/uploads/2017/03/kedabra_logo-1.png) !important;*/
    background-size: 168px 41px;
    width: 168px;
    height: 41px;
    margin: 0 auto;
    float: none;
    margin-bottom: 12px;
margin-left:20px;
}
.static-body footer .apps-message {
    color: white;
    font-size: 18px;
}
a.box-no-padding:hover {
    text-decoration: none;
}
footer {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    height: 291px;
    padding: 5rem;
}
.header__menu-toggle {
    display: inline-block;
    font-size: 2.75rem;
    line-height: 1.428571429;
    color: #fff !important;
    cursor: pointer;
}
.header__navigation-container.header__navigation-container--mobile.u-hidden--lg.js-header-navigation--mobile {
    height: auto;
    max-height: 300px !important;
    overflow: hidden;
    background: #51af33;
    width: 100%;
}

.measure {
    margin-left: 6% !important;
    width: 65% !important;
}
.android_button {
    padding-left: 2%;
}
.google_button {
    padding-right: 2%;
}
.howitswork_landing {
   top: -70px;
}
a.header__navigation-link {
    color: #fff !important;
}
header.page-header {
    background: transparent;
    border-bottom: none;
    color: #fff !important;
}
header.page-header {
   
    padding-top: 12px !important;
    position: relative;
    z-index: 10;
    padding-bottom: 12px !important;
    margin: 0 !important;
}
h2.taskers_Saying {
    margin-bottom: 1em !important;
}
.tasker-testimonial__quote:before {
    display: block;
    color: #b1b9c3;
    position: absolute;
    font-size: 3.75rem;
    font-weight: 600;
    content: "\201C";
    top: -0.5em;
    left: -.6em;
}
.tasker-testimonial__quote {
    position: relative;
    font-weight: normal;
    margin: 0 auto 1.5em;
    max-width: 80%;
}
img.review_class {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.tasker_saying {
padding: 3em 0;
    padding-left: 15%;
    padding-right: 15%;
    
    background-color: white;
    
    background-size: cover;
}
.tasker_saying {
    padding-left: 15%;
    padding-right: 15%;
}
img.appstore_APP {
    margin: -5px 10px 0 10px;
}

img.google_APP {
    margin: -5px 10px 0 10px;
}

a.header__navigation-link {
   
    overflow: hidden;
    
}

.seure_payment_description {
    color: #242a30;
    font-family: "Proxima", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
}
.hiw__section-title.u-align--center {
    margin-bottom: 20px;
}
.seure_payment {
    line-height: 60px !important;
}
a.header__navigation-link:hover {
    text-decoration: none;
}
.header__navigation-link {
    position: relative;
    padding: 0 1rem;
    display: inline-block;
    font-size: 17px;
    line-height: 2.25;
    color: #51af33 !important;
}

.hiw__guarantee {
    font-size: 24px;
}

.carousel-indicators .active {
    width: 12px !important;
    height: 12px !important;
    margin: 0 !important;
   background: green !important;   
}
.image_On {
    text-align: center !important;
}
ol.carousel-indicators {
    position: absolute !important;
    bottom: -70% !important;   
}

.title_slide_ON {
    font-size: 1.5em !important;
    line-height: 1.5em !important;
    font-weight: normal !important;
    text-align: Center !important;
}
  
.carousel-indicators li {
    display: inline-block !important;
    width: 10px !important;
    height: 10px !important;
    margin: 1px !important;
    text-indent: -999px !important;
    cursor: pointer !important;
    background-color: #000\9 !important;    
    border-radius: 10px !important;
    background: green !important;
    background-color: #f9fafb !important;
    border: 1px solid #b1b9c3 !important;
}
.fortune_class p {
    width: 90%;
font-size:18px;
}
.fortune_background {
    padding-left: 15%;
    padding-right: 15%;
    background: #f9fafb;
    padding-top: 8%;
    padding-bottom: 3%;
}
.fortune_class img {    
    width: 224px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 10%;
}
.fortune_class {
    text-align: center;
}
.seure_action {
    text-align: center;
}
.rabbit_gear {
   
    background-size: cover;
    position: relative;
    padding: 75px 0;
}
.main_pricing_padding {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.seure_payment_description {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1.5;
    text-align: center;
    width: 90%;
}
.seure_payment_heading {
   text-align: center;
    font-size: 16px;
    margin-bottom: -0.5rem;
    font-weight: 600;
}
.trust_safe {
    margin-left: 20%;
    background: white;
    width: 62%;
    border-radius: .5em;
    width: 60%;
    padding: 2em;
    text-align: center;
}
.tasker-description {
    text-align: center;
    font-size: 19px;
    margin-top: 1.75em;
    margin-bottom: 1.75em;
    line-height: 1.5;
}
.trust_desc {
    text-align: center;
    font-size: 18px;
    margin-top: 1.75em;
    margin-bottom: 1.75em;
    line-height: 1.5;
}
.trust_class {
    text-align: center;
    font-size: 33px;
    font-weight: 100;
    margin-bottom: .5em;
    margin-top: 0;
    /* font-size: 3.5rem; */
    line-height: 2.5;
}
.trust_background {
      
    padding: 83px 0;
    background-size: cover;
    position: relative;
}
.button_howitswork {
    background: #f9fafb;
    padding: 1.5em 0;
    padding-left: 15%;
    padding-right: 15%;
}
.lets_start, .wpb_text_column.wpb_content_element {
    margin-bottom: 0 !important;
}
.image_aboutus_howitswork {
    padding-left: 10%;
    padding-right: 10%;
    background: #fff;
}
.wpb_single_image.wpb_content_element.vc_align_right.android_button {
    margin-bottom: 0px !important;
}
.wpb_single_image.wpb_content_element.vc_align_left.google_button {
    margin-bottom: 0px !important;
}
.howitswork_landing {
  
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    background-color: #b1b9c3;
    text-align: center;
    -webkit-transition: height .15s;
    transition: height .15s;
    position: relative;
    
}
h1.hero-double-title {
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: #fff;
    /* font-size: 51px; */
    line-height: 1.5em;
    font-size: 2.5rem;
    z-index: 1;
    margin: 0;
    font-size: 5em;
    font-weight: 400;
}
p.hero-subtitle {
    font-size: 23px;
    font-weight: 600;
    max-width: 32em;
    margin: 0 auto;
    text-shadow: 0 1px 7px rgba(0,0,0,0.4);
    color: #fff;
}
</style>
<style>
.hiw__guarantee {
    font-size: 24px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
   background: green;   
}
.image_On {
    text-align: center;
}
ol.carousel-indicators {
    position: absolute;
    bottom: -70%;   
}
.title_slider_text {
    margin-bottom: 0.5em;
    font-size: 2rem;
    line-height: 1.55em;
    text-align: center;
    padding-top: 5%;
    width: 100%;
    font-weight: inherit !important;
    font-style: inherit;
    font-size: 100% !important;
}
.title_slide_ON {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: normal;
    text-align: Center;
}
  
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;    
    border-radius: 10px;
    background: green;
    background-color: #f9fafb;
    border: 1px solid #b1b9c3;
}
.fortune_class p {
    width: 90%;
font-size:18px;
}
.fortune_background {
    padding-left: 15%;
    padding-right: 15%;
    background: #f9fafb;
    padding-top: 8%;
    padding-bottom: 3%;
}
.fortune_class img {    
    width: 224px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 10%;
}
.fortune_class {
    text-align: center;
}
.seure_action {
    text-align: center;
}
.rabbit_gear {
   
    background-size: cover;
    position: relative;
    padding: 75px 0;
}
.main_pricing_padding {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.seure_payment_description {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1.5;
    text-align: center;
    width: 90%;
}
.seure_payment_heading {
    text-align: center;
    font-size: 23px;
    margin-bottom: 1.5rem;
    font-weight: 600;
}
.trust_safe {
    margin-left: 20%;
    background: white;
    width: 62%;
    border-radius: .5em;
    width: 60%;
    padding: 2em;
    text-align: center;
}
.tasker-description {
    text-align: center;
    font-size: 19px;
    margin-top: 1.75em;
    margin-bottom: 1.75em;
    line-height: 1.5;
}
.trust_desc {
    text-align: center;
    font-size: 18px;
    margin-top: 1.75em;
    margin-bottom: 1.75em;
    line-height: 1.5;
}
.trust_class {
    text-align: center;
    font-size: 33px;
    font-weight: 100;
    margin-bottom: .5em;
    margin-top: 0;
    /* font-size: 3.5rem; */
    line-height: 2.5;
}
.trust_background {   
    padding: 83px 0;
    background-size: cover;
    position: relative;
}
.button_howitswork {
    background: #f9fafb;
    padding: 1.5em 0;
    padding-left: 15%;
    padding-right: 15%;
}
.lets_start, .wpb_text_column.wpb_content_element {
    margin-bottom: 0 !important;
}
.image_aboutus_howitswork {
    padding-left: 10%;
    padding-right: 10%;
    background: #fff;
}
.wpb_single_image.wpb_content_element.vc_align_right.android_button {
    margin-bottom: 0px !important;
}
.wpb_single_image.wpb_content_element.vc_align_left.google_button {
    margin-bottom: 0px !important;
}

h1.hero-double-title {
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: #fff;
    /* font-size: 51px; */
    line-height: 1.5em;
    font-size: 2.5rem;
    z-index: 1;
    margin: 0;
    font-size: 3.5rem;
    font-weight: 400;
}
p.hero-subtitle {
    font-size: 23px;
    font-weight: 600;
    max-width: 32em;
    margin: 0 auto;
    text-shadow: 0 1px 7px rgba(0,0,0,0.4);
    color: #fff;
}






@media screen and (max-width:504px) and (min-width: 200px){
	body {
  overflow-x:hidden 
}
.header__navigation-container.header__navigation-container--mobile.u-hidden--lg.js-header-navigation--mobile {
    height: 310px !important;
    overflow: hidden;
    background: #51af33;
    width: 100%;
}
img.appstore_APP {
    margin: 0px 10px 15px 10px !important;
}
img.google_APP {
    margin: 0px 10px 15px 10px !important;
}
}
@media screen and (max-width:800px) and (min-width: 200px){
.footer{
height:auto;}
}
@media screen and (max-width:767px) and (min-width: 200px){
.header__menu-toggle {
    display: inline-block;
    font-size: 1.75rem;
    line-height: 1.428571429;
    color: #fff !important;
    cursor: pointer;
    margin-right: 10px !important;
}
.static-body .container {
    margin: 0 0em;
}
h2.taskers_Saying {
    margin-bottom: 1em !important;
    font-size: 18px !important;
}
.google_button {
    padding-right: 0%;
}
.android_button {
    padding-left: 0%;
}
.howitswork_landing {
   
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-color: #b1b9c3;
    text-align: center;
    -webkit-transition: height .15s;
    transition: height .15s;
    position: relative;
   
}
h1.hero-double-title {
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: #fff;
    /* font-size: 51px; */
    line-height: 1.5em;
    font-size: 2.5rem;
    z-index: 1;
    margin: 0;
    font-size: 3em;
    font-weight: 400;
}
p.hero-subtitle {
    font-size: 18px;
    font-weight: 600;
    max-width: 32em;
    margin: 0 auto;
    text-shadow: 0 1px 7px rgba(0,0,0,0.4);
    color: #fff;
}
.hiw-download-app__title {
    font-size: 1.75rem;
    font-weight: 300;
    padding-bottom: 1.625rem;
    text-align: center !important;
}
.google_button {
    text-align: center !important;
}
.android_button {
    text-align: center !important;
}
.trust_class {
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: .5em;
    margin-top: 0;
    /* font-size: 3.5rem; */
    line-height: 1.5;
}
.trust_safe {
    margin-left: 6%;
    background: white;
    width: 88% !important;
    border-radius: .5em;
    width: 90%;
    padding: 2em;
    text-align: center;
}
.trust_desc {
    text-align: center;
    font-size: 14px;
    margin-top: 1.75em;
    margin-bottom: 1.75em;
    line-height: 1.5;
}
.tasker-description {
    text-align: center;
    font-size: 14px;
    margin-top: 1.75em;
    margin-bottom: 1.75em;
    line-height: 1.5;
}
.hiw__section-title.u-align--center {
    font-size: 23px;
    font-weight: 300;
    color: #242a30;
    font-family: "Proxima", Arial, Helvetica, sans-serif;
}
.seure_payment_heading {
   text-align: center;
    font-size: 16px;
    margin-bottom: -0.5rem;
    font-weight: 600;
}
.seure_payment_description {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.5;
    text-align: center;
    width: 100%;
padding-bottom:20px;
}
.seure_action {
    text-align: center;
   
}
.fortune_class p {
    width: 100%;
    font-size: 15px;
}
.fortune_background {
    padding-left: 5%;
    padding-right: 5%;
    background: #f9fafb;
    padding-top: 13%;
    padding-bottom: 8%;
}
.hiw__guarantee {
    font-size: 18px;
    width: 100%;
}
footer {
    background: #67727e;
    font-size: 18px;
    padding: 2rem 0;
    overflow: hidden;
    z-index: 0;
    position: relative;
    padding-left: 5%;
    line-height: 40px;
height:auto;
}
footer .apps-message {
    color: white;
    font-size: 16px!important;
    line-height: 1.15em;
    line-height: 1.15em;
    margin-bottom: 20px;
}
a.box-no-padding {
    text-decoration: none;    
}
.seure_action img {
    text-align: center;
    padding-top: 2%;
    width: 13%;
}
.image_aboutus_howitswork {
    padding-left: 10%;
    padding-right: 10%;
    background: #fff;
    margin-top: 39px;
}
}

@media screen and (max-width:991px) and (min-width: 767px){
footer {
    background: #67727e;
    font-size: 1.25rem;
    padding: 2rem 0;
    overflow: hidden;
    z-index: 0;
    position: relative;
    font-size: 18px;
    line-height: 42px;
height:auto;
}
.fortune_class p {
    width: 100%;
    font-size: 17px;
}
.fortune_background {
    padding-left: 3%;
    padding-right: 3%;
    background: #f9fafb;
    padding-top: 8%;
    padding-bottom: 3%;
}
.seure_payment_description {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1.5;
    text-align: center;
    width: 100%;
}

.main_pricing_padding {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.image_aboutus_howitswork {
    padding-left: 1%;
    padding-right: 1%;
    background: #fff;
}
.title_slider_text {
    margin-bottom: 0.5em;
    font-size: 14px !important;
    line-height: 1.55em;
    text-align: center;
    padding-top: 5%;
    width: 100%;
}
ol.carousel-indicators {
    position: absolute;
    bottom: -40% !important;
}
.button_howitswork {
    background: #f9fafb;
    padding: 1.5em 0;
    padding-left: 1%;
    padding-right: 1%;
}
.trust_safe {
    margin-left: 5%;
    background: white;
    width: 62%;
    border-radius: .5em;
    width: 90%;
    padding: 2em;
    text-align: center;
    font-size: 18px;
}
footer .apps-message {
    color: white;
    font-size: 16px!important;
    line-height: 1.15em;
    line-height: 1.15em;
    margin-bottom: 20px;
}
a.box-no-padding {
    text-decoration: none;    
}
}
@media screen and (max-width:1201px) and (min-width: 768px){
.hiw-download-app__title {
    font-size: 22px;
}
.measure {
    width: 104% !important;
}
.hiw__section-title.u-align--center {
    margin-bottom: 20px;
    font-size: 25px;

}
h2.taskers_Saying {
    margin-bottom: 1em !important;
    font-size: 23px !important;
}
.tasker_saying {
    padding-left: 3%;
    padding-right: 3%;
}
}
@media screen and (max-width:1371px) and (min-width: 1201px){
ol.carousel-indicators {
    position: absolute;
    bottom: -44% !important;
}
.hiw-download-app__title {
    font-size: 24px !important;
    font-weight: 300;
    padding-bottom: .625rem;
}
}
@media screen and (max-width:1201px) and (min-width: 992px){
.image_aboutus_howitswork {
    padding-left: 3%;
    padding-right: 3%;
    background: #fff;
}
.button_howitswork {
    background: #f9fafb;
    padding: 1.5em 0;
    padding-left: 3%;
    padding-right: 3%;
}
.title_slider_text {
    margin-bottom: 0.5em;
    font-size: 16px !important;
    line-height: 1.55em;
    text-align: center;
    padding-top: 5%;
    width: 100%;
}
.main_pricing_padding {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.fortune_background {
    padding-left: 4%;
    padding-right: 4%;
    background: #f9fafb;
    padding-top: 8%;
    padding-bottom: 3%;
}
}