
@media (max-width: 600px)
{
.recommendations__result {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem;
    margin-top: 2rem;
}
}
.recommendations__review.media--object.display_non {
   display:none; 
}
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
  display:inline-block;
}
.star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}
span.avg_rating {
    font-size: 13px;
    color: #b2b1b1;
}
.header__navigation-container.header__navigation-container--mobile.u-hidden--lg.js-header-navigation--mobile {
    height: 100% !important;
    overflow: hidden;
    background: #51af33;
    width: 100%;
}
.pagination .pagination-caret, .pagination .pagination-caret i {
    color: rgba(0, 163, 254, 0.8);
}
label.recommendations__schedule-filter-day__inner.lableactive {
    font-size: 14px;
}
div#tomorrows {
    margin-bottom: 200px;
}
.pagination .pagination-caret {
    border: 1px solid #3178ae;
    font-size: 0.8em;
    margin: 0 .5rem;
}
.pagination {
    display: none;
}

.hand {
    position: absolute;
    bottom: 6px;
    right: -5px;
    width: 30px;
    line-height: 30px;
    background-color: white;
    border: 1px solid #242a30;
    color: #242a30 !important;
}
.customer {
    background-color: #4cadc9 !important;
    border: 1px solid #4cadc9 !important;
    padding: 2% 0% 2% 0% !important;
    text-transform: capitalize;
    font-size: 16px;
}
a.recommendations__hire-btn.btn.btn-primary.btn-large.js-btn-hire {
    background-color: #4cadc9 !important;
    border: 1px solid #4cadc9 !important;
    padding: 2% 0% 2% 0% !important;
    text-transform: capitalize;
}

input:checked+.recommendations__schedule-filter-day__inner {
    background-color: rgba(0, 163, 254, 0.8);
    border-color: rgba(0, 163, 254, 0.8);
    color: white;
    font-weight: bold;
}

i.fa.fa-caret-right {
    font-size: 30px;
}
i.fa.fa-caret-left {
    font-size: 30px;
}
i.fa.fa-info {
    border: 2px solid rgba(0, 163, 254, 0.8);
    border-radius: 50px;
    width: 20px;
    text-align: center;
    font-size: 15px;
    outline: 0;
    color: rgba(0, 163, 254, 0.8);
}
a:visited, .link:visited {
    color: #4cadc9;
}
a.build-subheader__mod-link.js-change-template {
    color: #4cadc9;
}
.continue_blue:active {
    background: #4cadc9 !important;
    border: 1px solid #4cadc9 !important;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=search]:focus, input[type=url]:focus, input[type=number]:focus, textarea:focus {
    color: #242a30;
    border-color: transparent;
    box-shadow: inset 0 0 0 1px #00c1cf !important;
}
.tasker_avail:hover {
    
    background: #4cadc9 !important;
    color: #fff !important;
    border: 1px solid #4cadc9;
}
.tasker_avail {
    width: 50%;
    background: #fff !important;
    color: #4cadc9 !important;
    border: 1px solid #4cadc9;
    text-transform: capitalize;
}
.continue_option {
    font-size: 17px;
    background-color: #4cadc9 !important;
    border: 1px solid #4cadc9 !important;
    padding: 2% 0% 2% 0% !important;
    text-transform: capitalize;
    font-weight: 400;
}
button.btn.btn-primary.js-group-cta {
    font-size: 17px;
}
.continue_blue {
    background: #4cadc9;
    border: 1px solid #4cadc9;
}
.continue_blue:hover {
    background: #4cadc9;
    border: 1px solid #4cadc9;
}
img.build-trust-banner__badge {
    width: 30px;
}



@media (max-width: 600px)
{
api.css:1
.recommendations__filters .recommendations__mobile-filter-trigger {
    margin-left: auto;
}
a.recommendations__mobile-filter-trigger.btn.btn-primary.js-modal-trigger {
    padding: 2%;
    font-size: 13px;
    width: 270px;
}
a.recommendations__mobile-filter-trigger.btn.btn-primary.js-modal-trigger {
    background: #4cadc9;
    border: 1px solid #4cadc9;
    font-size: 14px;
    width: 250px;
    padding: 3%;
    display: none;
}
.btn.btn-secondary.btn--md.js-tomorrow.tasker_avail {
    width: 300px;
    font-size: 16px;
}
}
@media (max-width: 1000px)
{
.recommendations__filters .recommendations__mobile-filter-trigger {
    display: block;
    margin-right: auto;
    background: #4cadc9;
    border: 1px solid #4cadc9;
    font-size: 17px;
    width: 300px;
    padding: 2%;
}
.recommendations__filters .recommendations__mobile-filter-trigger:hover {
    display: block;
    margin-right: auto;
    background: #4cadc9;
    border: 1px solid #4cadc9;
    font-size: 17px;
    width: 300px;
    padding: 2%;
}
}

@media screen and (max-width:767px) and (min-width: 200px){
    div#tomorrows {
    margin-bottom: 200px;
    width: 90%;
}

}
@media screen and (max-width:4400px) and (min-width: 1201px){
    .recommendations__avatar {
    width: 100%;
    border-radius: 4px;
    height: 201px !important;
}

}
/*.Zebra_DatePicker.dp_visible {
    left: 222px!important;
    top: 525.438px !important;
    
}*/
.Zebra_DatePicker.dp_visible {
    left: 465.5px !important;
    top: 163.438px !important;
    display: inline-block;
    margin-top: 169px;
    float: left !important;
}
span.Zebra_DatePicker_Icon_Wrapper {
    display: block !important;
}
.frdactive:first-child label, label.recommendations__schedule-filter-day__inner.lableactive.active {
    background: #4cadc9;
    color: white;
}
.recommendations__result, .recommendations__status{
	  -webkit-transition: all 0.2s ease!important;
  -moz-transition: all 0.2s ease!important;
  -o-transition: all 0.2s ease!important;
  transition: all 0.2s ease!important;
  z-index:0;
}
.recommendations__result:hover, .recommendations__status_:hover{
		z-index:1000;
  box-shadow:rgba(0, 0, 0, 0.1) 0 16px 16px 0;
  -webkit-box-shadow:rgba(0, 0, 0, 0.1) 0 16px 16px 0;
  -moz-box-shadow:rgba(0, 0, 0, 0.1) 0 16px 16px 0;border: 1px solid #c5f2ff;
}
label.recommendations__schedule-filter-day__inner.lableactive:hover {
    background: #4cadc9;
    cursor: pointer;
    color: #fff;
}
span.cust_rating_points {
    background: #4eb919;
    padding: 3px 5px;
    color: #fff;
    margin-left: 5px;
    border-radius: 4px;
    font-size: 13px;
}