i.fa.fa-bars {
        float: right;
        color: red;
        display: inline-block;
        font-size: 1.75rem;
        line-height: 1.428571429;
        color: #5aa1e3 !important;
        cursor: pointer;
    }

    .header__navigation-container.header__navigation-container--mobile.u-hidden--lg.js-header-navigation--mobile {
        height: 290px !important;
        overflow: hidden;
        background: #3e66ba;
        width: 100%;
    }
    header.page-header {
        background: #3e66ba;
        border-bottom: none;
        color: #fff !important;
    }
    .header__navigation-container.header__navigation-container--mobile.u-hidden--lg.js-header-navigation--mobile {
        height: auto;
        max-height: 300px;
        overflow: hidden;
        background: #3e66ba;
        width: 100%;
    }
   
    .header__navigation-container--mobile .header__navigation-link, .header__navigation-container--mobile .extole-container {
        text-align: center;
        padding: 0.5rem 0 !important;
        width: 100%;
        display: block;
        color: white !important;
    }

    li.menu-item {
        display: inline;
    }