/*  
Theme Name: Gyapomcare 
Theme URI: YourWebsite.com
Description: Your Theme Description
Version: 1.0
Author: Your Name
Author URI: http://www.yourwebsite.com

*/

   
#returnBack{
    float: left;
    clear: both;
    width: 100%;
    margin-top: 6px;
    font-size: 13px;    
}     

h2.taskers_Saying {
    margin-bottom: 1em !important;
}
.tasker-testimonial__quote:before {
    display: block;
    color: #b1b9c3;
    position: absolute;
    font-size: 3.75rem;
    font-weight: 600;
    content: "\201C";
    top: -0.5em;
    left: -.6em;
}
.tasker-testimonial__quote {
    position: relative;
    font-weight: normal;
    margin: 0 auto 1.5em;
    max-width: 80%;
}
img.review_class {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.tasker_saying {
padding: 3em 0;
    padding-left: 15%;
    padding-right: 15%;   
    background-color: white;    
    background-size: cover;
}
.tasker_saying {
    padding-left: 15%;
    padding-right: 15%;
}

.navigation__list {
    line-height: 80px;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased !important;
    font-family: steagal !important;
}
button.signin_button a {
    color: #2a2a2a;
 text-decoration: none;
}
button.signin_button a:hover {
    color: #2a2a2a;
 text-decoration: none;
}
a.href_class:hover {
    color: #fff;
    text-decoration: none;
}
.navigation-mobile__booking-link:last-child {
    margin-right: 0;
    width: 100%!important;
    text-decoration: none !important;
}
.navigation-mobile__label {
    color: #fff !important;
    font-size: 11px;
    font-family: Steagal;
    letter-spacing: 1px;
    margin-top: 10px;   
}
.navigation-mobile__booking-link:last-child {
    margin-right: 0;
    width: 100%!important;
}
h3.faq_alert1 {
    border-bottom: 1px solid #d0d0c4 !important;
    padding-left:2%;
}
.flexi .line-block {
    height: 13px;
    width: 13px;
    background-color: #3178ae;
    position: absolute;
    right: -3px;
    top: 15px;
    border-radius: 10px;
}
.container.flexi.multi {
    background: #fff;
    line-height: 1.5;
}
.flexi .panel.component-blocks:nth-child(odd) {
    clear: left;
    text-align: right;
    padding-right: 2em;
    padding-bottom: 1% !important;
}
a.cta:hover {
    background: #5cc6e5;
}
a.cta {
    background: #3178ae;
    color: #fff;
}
p.answers_infaq {
    padding: 0.5rem 2rem;
    line-height: 2;
}
hr.faq_border {
    border: 0.5px solid #e9e9e9;
    height: 0px;
}
a.accordion-section-title {
    text-decoration: none;
}
.right_side_color {
    border-right: 0px solid #3178ae;
}
a.href_class {
    color: #fff;
    text-decoration: none;
}
.your_tuns {
    margin-bottom: 0 !important;
}
input.wpcf7-form-control.wpcf7-text {
    height: 56px;
    width: 740px;
    border-color: rgb(188, 186, 188);
}
form.wpcf7-form {
    text-align: center;
}
input.wpcf7-form-control.wpcf7-submit {
    text-align: center !important;
}
.contact_form_change {
    padding-left: 11% !important;
    padding-right: 11% !important;
}
#field, label {
    float: none !important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
}
div.wpcf7-validation-errors {
    border: 2px solid #f7e700;
    width: 46%!important;
    margin-left: 27%!important;
    margin-right: 15%!important;
}
input.wpcf7-form-control.wpcf7-submit {
    width: 21%;
    height: 50px;
    background: #3178ae;
    border: none;
    color: #fff;
    padding: 1% 1% 1% 1%;
    margin-top: 3%;
    margin-bottom: 3%;
    text-transform: uppercase;
}
  textarea.wpcf7-form-control.wpcf7-textarea {
    height: 100px;
    width: 740px;
    border-color: rgb(188, 186, 188);
    font-size: 12px;
    font-family: "Steagal";
    color: rgb(71, 71, 71);
    font-weight: bold;
    line-height: 1.583;
    padding-left: 2%;
}  
  
input.wpcf7-form-control.wpcf7-text {
  
    margin-top: 0;
    font-size: 12px;
    font-family: "Steagal";
    color: rgb(71, 71, 71);
    font-weight: bold;
    line-height: 1.583;
    padding-left: 2%;
}
h2.driver_sector {
    color: #fff;
    letter-spacing: 12px;
    font-size: 45px;
    padding-top: 140px;
    /* text-shadow: 4px 4px 2px rgba(150, 150, 150, 1); */
}

.driver_background {
    background: url(http://139.59.148.41/wordpress/wp-content/uploads/2016/12/driver_registration-1.png);
    background-repeat: no-repeat;
    height: 320px;
    border-right: 0px solid #3178ae;
    background-size: cover;
}
.driver_form {
    padding-top: 3%;
}
a.accordion-parent-section-title.active h3 {
    border-bottom: 0px solid #d0d0c4;
    padding-bottom: 23px;
}
div#accordion-13286 {
    padding: 0.5rem 2rem;
    line-height: 2;
}
div#accordion-13288{
     padding: 0.5rem 2rem;
    line-height: 2; 
}
div#accordion-13281{
     padding: 0.5rem 2rem;
    line-height: 2; 
}
div#answer4{
     padding: 0.5rem 2rem;
    line-height: 2; 
}
div#answer5{
     padding: 0.5rem 2rem;
    line-height: 2; 
}
div#answer6{
     padding: 0.5rem 2rem;
    line-height: 2; 
}
div#answer7{
     padding: 0.5rem 2rem;
    line-height: 2; 
}
.template-section.faqs .accordion .accordion-section:after, .template-section.faqs .accordion-parent .accordion-section:after {
    background-color: #d0d0c4;
}
h2.help_sector {
    color: #fff;
    letter-spacing: 12px;
    font-size: 45px;
    padding-top: 9%;
    /*text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);*/
}
p.yourdetsils_sector {
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    padding-bottom: 2%;
}
.helpand_sector {
    padding-top: 2%;
    padding-bottom: 4%;
}

.faq_sector {
    padding-top: 2%;
   
}
.accordion-parent-section1 {
    padding-left: 15%;
    padding-right: 15%;
}
.div_change {
    margin-bottom: 0px !important;
}
.helpandsupport {
    background: url(http://139.59.148.41/wordpress/wp-content/uploads/2016/12/help-and-support-1.png);
    background-repeat: no-repeat;
    height: 320px;
}


.accordion-parent-section {
    padding-left: 17%!important;
    padding-right: 15%!important;
    padding-bottom: 2%;
}
.newapply {
    height: 56px;
    padding-top: 2.5%;
}
a.accordion-section-title {
    font-size: 1.200rem;
    padding: 15px;
    display: inline-block;
    transition: all linear 0.15s;
    width: 100%;
    cursor: pointer;
}
div#first_division {
    max-height: 400px;
    overflow: hidden;
}
.background_class_about_us {
    border: none;
}
img.service_im {
    min-height: 550px;
}
.service1_class {
    padding: 31px 30px !important;
    min-height: 351px;
}
 
 @media screen and (max-width:992px) and (min-width: 767px){
  .footer_images {
    margin-left: 0%;
    padding-top: 2%;
    padding-bottom: 3%;
    text-align: right;
    padding-right: 9%;
}
     /*.service_1 {
    height: 410px!important;
}
   .service_3 {
    height: 410px!important;
}

.accordion-parent-section1 {
    padding-left: 0%!important;
    padding-right: 0% !important;
}

 }

@media screen and (max-width:1200px) and (min-width: 992px){
img.service_im {
    min-height: 400px !important;
}
.drive_with {
    background: #3178ae;
    width: 30% !important;
    padding: 3% 2% 2% 3%;
    cursor: pointer;
    color: #fff;
}
       p.content_para {
    line-height: 1.5;
    padding-top: 4%;
}
.service1_class {
    padding: 10px 16px !important;
    min-height: 400px;
}
.service1_class {
    padding: 10px 16px !important;
    min-height: 400px;
}
   
     .vertical_line{
         display:none;
     }
        .footer_images {
    margin-left: 0%;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-right:6%;
    text-align: right;
        } 
}


@media screen and (max-width:1371px) and (min-width: 1201px){
img.service_im {
    min-height: 400px !important;
}
.drive_with {
    background: #3178ae;
    width: 30% !important;
    padding: 3% 2% 2% 3%;
    cursor: pointer;
    color: #fff;
}
        p.content_para {
    line-height: 1.5;
    padding-top: 4%;
}
.service1_class {
    padding: 10px 16px !important;
    min-height: 400px;
}
.service1_class {
    padding: 10px 16px !important;
    min-height: 400px;
}
    .vertical_line{
         display:none;
     }
     .footer_images {
    margin-left: 0%;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-right:6%;
    text-align: right;
        } 
}
 .wpb_raw_code.wpb_content_element.wpb_raw_html {
    margin-bottom: 0!important;
}


.image_car {
    margin-bottom: 0!important;
}
     .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        display: none;
      }

    span#verify-code {
    cursor: pointer;
    background: #3178ae;
    padding: 24px 30px;
    width: 200px;
    color: #fff;
    display: inline-block;
    text-align: center;
    margin-top: 8%;
}
.addresses__special-name {
    padding-left: 5px;
    float: left;
    line-height: 15px;
    color: #fff;
}

 .addresses {
    display: block !important;
    height: auto !important;
    background-color: #efefef;
}
.bookings {
    background: #efefef;
    display: block !important;
    height: auto !important;
}
.alert.otpalert {
    position: relative;
    left: 29%;
    width: 43%;
}
a.text_dec {
    text-decoration: none;
    color: #464646;
    font-family: Steagal !important;
}
li.navigation__item a {
    font-family: steagal !important;
    
}
.footer-not-authorized__social {
    
    font-family: Steagal !important;;
    
}
.footer-not-authorized__link {    
    font-family: Steagal!important;    
    font-weight: 400;
}
.not-activated__submit-btn {    
    font-family: Steagal !important;
    }
    .sign-up__submit-button {
        font-family: Steagal !important;    
}
.sign-up__text, .sign-up__text-bottom {    
    font-family: Steagal !important;
    font-weight: 300;
}
.login-page__header {   
    font-family: Steagal !important;   
    font-weight: 400;
}
.unit__empty-item-content {
    font-family: Steagal !important;   
    font-weight: 300;
}
.booking-type__label {
    font-family: steagal !important;
    color: #fff!important;
}
.overview-header__label {
   
    font-family: steagal !important;
}
a.unit__link {
    font-family: steagal !important;
}
.personal-info__unit-title {
       font-family: Steagal !important;  
    }
    .icon.icon--phone {
    width: 24px;
    height: 24px;
    background: url("./images/home_call_icon.png") 50% 50% no-repeat !important;
}
.control__icon.control__icon--password .icon {
     background: url("./images/home_call_icon.png") 50% 50% no-repeat !important;
   }
   .bookings__select-btn {
    font-family: Steagal !important;
 
}
.footer__copyright {
   
    font-family: Steagal !important;
    }
    .view-booking__btn {
    
    color: #fff!important;
    
    font-family: Steagal!important;
}
.view-booking__btn.view-booking__btn--disabled {
    pointer-events: none;
    color: #464646 !important;
}
a.mybooking {
    text-decoration: none;
   color: #fff!important;
}
.view-booking__link.view-booking__link--new-booking {      
    color: #fff!important;   
}

.products-step__item-title {
   
    font-family: Steagal!important;
    
    font-weight: 400;
}
button.booking__add-button {
    font-family: steagal !important;
}
.sidebar__booking-info-section.sidebar__booking-info-section--completed .sidebar__status:before {
   background: url("./images/drop_down_check_mark_icons.png") 50% 50% no-repeat !important;
    
}
.icon.icon-date--yellow-primary {
  
   background: url("./images/drop_down_calender_icon.png") 50% 50% no-repeat !important;
}
.booking__add-icon {
    background: url("./images/home_add_icon.png") 50% 50% no-repeat !important;
}
.select-value.select-value--margins>.btn:first-child {
   
    font-family: steagal !important;
}


 #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      /*html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }

      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
      }

      #mode-selector {
        color: #fff;
        background-color: #4d90fe;
        margin-left: 12px;
        padding: 5px 11px 0px 11px;
      }

      #mode-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }*/
      .bookings__search-icon {
   background: url("./images/bookings_search_blue_icon.png") 50% 50% no-repeat !important;
}
.icon.icon--filter-std {
   background: url("./images/bookings_filter_blue_icon.png") 50% 50% no-repeat !important;
}

.flag {
    background: url(./images/drop_down_london_flag_icon.png) !important;
    display: inline-block;
    width: 16px;
    height: 10px;
    margin: 0 5px 0 0;
    padding: 0;
    vertical-align: middle;
}
.icons {
    background: url("./images/personal_information_lock_blue_icon.png") 50% 50% no-repeat !important;
    width: 24px;
    height: 24px;
        position: relative;
    transition: all .3s linear;
}
.personal-info__sbm-btn {
   
    font-family: Steagal !important;
   
}
.personal-info__content-section {
    padding-bottom: 91px !important;
 
}
    .ranjith{
    background-color: #464646!important;
    color: #fff!important;
    border-color: #464646!important;
    }
    .cash_delivery {
    
    background-color: #fff !important;
    color: #979797 !important;
    font-family: steagal;
    font-weight: 400!important;
}
.accountnumber_class {
    background-color: #464646!important;
    color: #fff!important;
    border-color: #464646!important;
}
.booking-type__icon.booking-type__icon--car {
    background: url("./images/home_car_icon.png") 50% 50% no-repeat !important;
}
.icon.icon--driver-name {
    background: url("./images/my_booking_user_icon.png") 50% 50% no-repeat !important;
}
.icon.icon--car-sm {
    background: url("./images/my_booking_car_icon.png") 50% 50% no-repeat !important;
}
.icon.icon--driver-phone{
     background: url("./images/phone-receiver.png") 50% 50% no-repeat !important; 
}
.view-booking__driver-icon {
  background: url("./images/my_booking_location_icon.png") 50% 50% no-repeat !important; 
}
a.sub-navigation__link.sub-navigation__link--selected {
    border-bottom: none;
}
a.sub-navigation__link.sub-navigation__link--selected:hover {
    border-bottom: 5px solid #3178ae;
    color: #323232;
}
span.sub-navigation__link-text {
    font-family: steagal!important;
    font-weight: 400 !important;
}
.verfiy_class{
  text-decoration: none!important;
  color: #fff!important;
  outline: 0;
}
.footer__icon {
  background: url("./images/home_moshe_logo.png") 50% 50% no-repeat !important; 

}
.sign-up__submit-button-chevron{
    background: url("./images/fill_next_arrow_icon_off.png") 50% 50% no-repeat !important;
}
.display_none{
  display:none;
}
.not-activated__mobile-btn:nth-child(2n) {
    margin-right: 0;
    /* float: right; */
    width: 100%;
    color: #fff !important;
}
button.journey-params__button {
    display: none;
}
button.journey-params__toggle.journey-params__toggle--active.dropopen_more {
    display: none;
}
a.accounts__sign-in.ng-scope:hover {
    text-decoration: none;
}
button.btn.ng-scope.btn--black.laterdrop_down {
    color: #fff;
}
li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-132 {
    text-align: right!important;
    margin-left: 35%!important;
}
p.location_para {
    line-height: 21px;
    font-size: 12px;
}
.mock img {
    width: 300px;
}
.location {
    margin-top: 0%;
}

/*h2.location_class {
    border-left: 5px solid #fedb01;
    padding: 2% 2% 2% 2%;
}*/
.driver img {
    width: 600px;
    margin-top: 12%;
   
    height: 400px !important;
}
.content_div {
        padding: 12% 0% 8% 0%;
    margin-bottom: 0px;
    margin-left: 10%;
    width: 85%;
}
.vc_column-inner {
    padding: 0!important;
}
.driver_sec1 {
    margin-bottom: 0!important;
}
.content_div1 {
    padding: 14% 0% 13% 0%;
    margin-left: 15%;
    margin-bottom: 0!important;
}
button.signin_button {
    background: #fff;
    color: #161515;
    padding: 1% 2% 2% 1.5%;
    border: 1px solid grey;
    margin-right: 10%;
    font-family: steagal !important;
    font-weight: 400;
    height: 40px;
    text-align: center !important;
}
button.become_driver {
    background: #3f3f3f;
    padding: 1% 1% 1% 1%;
    border: 2px solid #fff;
    color: #fff;
    margin-left: 8%;
    border-radius: 3px;
}
.footer_home {
    background: #3f3f3f;
    text-align: center;
    padding: 5px 0px 5px 0px;
}
.footer_content {
    margin: 0;
}
.driver_sec2 {
    margin-bottom: 0!important;
}
.footer_content {
    margin-bottom: 0px !important;
}
.footer_left {
    color: #fff;
    text-align: left;
    padding-left: 3%;
    padding-top: 3%;
}
.footer_images {
    margin-left: 1px;
    padding-top: 2%;
    padding-bottom: 3%;
}
span.android_class {
    margin-left: 5%;
}
.footer_content_left span {
    padding-left: 5%;
}
p.copyrights {
    padding-top: 2%;
    margin-left: 5%;
}
/*.border_color {
    border-left: 10px solid #3178ae;
    padding-left: 0%;
    margin-left: 0%!important;
}*/
/*.border_color_right {
    border-right: 10px solid #3178ae;
    margin-right: 0%!important;
}*/
.drive_with {
    background: #3178ae;
    width: 22%;
    padding: 3% 2% 2% 3%;
    cursor:pointer;
    color:#fff;
}
img.arrow_img {
    padding-left: 1%;
    width: 22px;
}
.mock {
    position: static;    
    max-height: 100%;
}
.location {
    position: static!important;
    float: right !important;
}
.mock.pos_fixed {
    position: fixed;
    top: 9%;
    left: -0.5%;
}
.scrolling_div{
    position:relative;
}

body {
    margin: 0;
    overflow-x: hidden;
}
.background_class_about_us {
    background: url(/wp-content/uploads/2016/12/aboutus_background-1.png);
    height: 300px;
    position: relative;
}
.About_class {
    color: #fff;
    margin-top: 10%;
    letter-spacing: 18px;
    font-size: 47px;
    line-height: 13%;
    /*text-shadow: 2px 3px 2px rgb(182, 174, 174);*/
}
h3.your_service_class {
    padding-top: 4%;
    font-size: 18px;
    letter-spacing: 3.5px;
}
p.service_p_class {
    line-height: 2;
    padding-bottom: 1%;
}
.service_1 {
    background: url(/wordpress/wp-content/uploads/2016/12/service_image1-1.png) 50% 50% no-repeat;
    left: 0%;
    background-attachment: no-repeat;
    background-repeat: no-repeat;
 height: 428px;;
}
.service1_class {
    line-height: 2;
    padding-left: 3%;
   
}
p.content_para {
    line-height: 2;
    padding-top: 4%;
}
.service_2 {
    background: url(http://139.59.148.41/wordpress/wp-content/uploads/2016/12/service2.png) 50% 50% no-repeat;
    /* max-width: 100%; */
    /* max-height: 250px!important; */
    /* position: relative; */
    left: 0%;
    background-attachment: no-repeat;
    background-repeat: no-repeat;
    height: 416px;
}
.service_3 {
    background: url(http://139.59.148.41/wordpress/wp-content/uploads/2016/12/service3.png) 50% 50% no-repeat;
    /* max-width: 100%; */
    /* max-height: 250px!important; */
    /* position: relative; */
    left: 0%;
    background-attachment: no-repeat;
    background-repeat: no-repeat;
   height: 428px;
}
.border-left_1 {
    border-left: 23px solid #3178ae;
}
.border-right_1 {
    border-right: 23px solid #3178ae;
}
.color_found {
    border-right: 0px solid #3178ae;
    margin: 0;
}
.background_class_about_us {
    border-right: 0px solid #3178ae;
}
.driver1 {
    background: url(http://139.59.148.41/wordpress/wp-content/uploads/2016/12/driver-1.png);
    background-repeat: no-repeat;
    height: 428px;
   
    background-size: cover;
}
.mouse {
    background: url(http://139.59.148.41/wordpress/wp-content/uploads/2016/12/mouse-1.png);
    background-repeat: no-repeat;
    height: 455px;
       background-size: cover;
}
.totaldiv1 {
    border-left: 0px solid #3178ae;
}
.driver_sec {
    border-right: 23px solid #3178ae;
}
.right_wing {
    border-right: 55px solid #3178ae;
}
.drive_with_background {
    background: url(http://139.59.148.41/wordpress/wp-content/uploads/2016/12/drive-withus1-1.png);
    background-repeat: no-repeat;
    height: 320px;
    border-right: 0px solid #3178ae;
}
.moshe_pad {
    border-right: 0px solid #3178ae;
}
.moshe_content {
    border-right: 0px solid #3178ae;
}
h4.drive_withus_heading {
    color: #fff;
    font-weight: 400;
    font-size: 47px;
    letter-spacing: 10px;
    padding-top: 6%;
    /*text-shadow: 2px 3px 2px rgb(182, 174, 174);*/
}
button.get_started {
    background: #3178ae;
    color: #fff;
    border: #3178ae;
    padding: 1% 1% 1% 1%;
    width: 21%;
        height: 60px;
    margin-top: 3%;
}
.vertical_line {
    border-left: 1px solid #b2aeae;
    height: 4em;
    margin: auto;
    position: absolute;
    left: 49.8%;
    top: 2%;
    /* background: red; */
}
.raw_min{
    margin-bottom:0px!important;
}
.moshe_content {
    padding-top: 5%;
}
h4.moshe_teamsection {
        padding-top: 1%;
    font-size: 21px;
    letter-spacing: 3px;
}
.moshe_para {
    padding-top: 2%;
    font-size: 14px;
    line-height: 2;
}
/*.moshe_para1 {
        padding-top: 1%;
    font-size: 14px;
    line-height: 2;
}*/
.moshe_para1 {
    padding-top: 2%;
    font-size: 14px;
    line-height: 2;
}

/*.line-block.wow.fadeIn {
    height: 14px;
    width: 15px;
    background-color: #3178ae;
    position: absolute;
    right: 0;
    top: 32%;
    left: 51%;
}*/
.line-central.draw-line {
    height: 21%;
    border-left: 1px solid transparent;
    position: absolute;
    margin: auto;
    right: 0px;
    top: 12%;
    background: red;
    width: 0%;
    left: 99%;
    /* border-radius: 88px; */
}
.drivemoshe {
    padding-top: 2%;
    font-size: 21px;
    letter-spacing: 5px;
}

p.mighty_para {
    font-size: 13px;
    margin-bottom: 0;
    line-height: 1.5;
}
p.earn_mighty {
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
}
p.mighty_para {
    padding-top: 2%;
    padding-bottom: 1%;
}
.moshe_para3 {
    padding-top: 2%;
}


.padding_earn {
    padding-left: 3% !important;
}
.line-block.wow.fadeIn1 {
    height: 14px;
    width: 15px;
    background-color: #3178ae;
    position: absolute;
    right: 0;
    top: 51%;
    left: 51%;
}
.line-central1.draw-line1 {
    height: 34%;
    border-left: 1px solid transparent;
    position: absolute;
    margin: auto;
    right: 0px;
    top: 33%;
    background: #a7a2a2;
    width: 0%;
    left: 3%;
    /* border-radius: 88px; */
}
.earn_class1 {
    padding-top: 5px;
}
button.gdt_started2 {
    background: #3178ae;
    border: none;
    color: #fff;
    padding: 1% 0% 1% 0%;
    width: 15%;
    text-align: center;
    letter-spacing: 3px;
}
.extra_option {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2%;
}
.extra_option1 {
    padding-left: 15%;
    padding-right: 15%;
}
.fliud_section {
    text-align: center;
}
.need_class {
    padding-top: 2%;
}
p.fluent_english_para {
    line-height: 1.5;
    width: 90%;
}
.content1 p {
    text-align: center!important;
}
.content1 {
    border: 2px solid #3178ae!important;
}
.outer-content.outer-content {
    background: #ffffff!important;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 3%;
    margin-top: 2%;
}
.blue_sec {
    background: #3178ae;
}
.blue_sec:hover {
    background: #40b4c7;
}
.navigation__item:nth-child(1n) {
    float: right !important;
    margin-right: 0;
    clear: none;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 90px;
    height: 90px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.loader-active {
    margin-top: 35%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
@media (min-width: 767px) {
    col-sm-push-6{
        left:0px!important;
    }
        col-sm-pull-6{
        left:0px!important;
    }
}
.ng-scopesp{
display: none;
}

/*css for home page */

.image_section_back {
    position: fixed;
    top: 18%;
    left: 13%;
}
.background1 {    
    background: url(http://139.59.148.41/wordpress/wp-content/uploads/2016/12/1div.gif) left no-repeat;
    position: absolute;
    height: 434px;
    left: 16%;
    top: 17%;
    z-index: 9999999;
}

.loader:before {  
    background: url() 50% 50% no-repeat !important; 
}
.booking-type__link:hover{
    text-decoration: none !important;
}

/*end of home page css*/

@media screen and (max-width:940px) and (min-width: 250px){
     span#verify-code {
    cursor: pointer;
    background: #3178ae;
    padding: 24px 30px;
    width: 100%!important;
    color: #fff;


    display: inline-block;
    text-align: center;
    margin-left: 0!important ; 
    margin-top: 8%;
}
 }
 @media screen and (max-width:767px) and (min-width: 200px){
.driver1 {
    margin-top: 110px;
}
#booking-search-panel {
    width: 100%;
    height: 236px;
    display: block;
    z-index: 9;
    position: relative;
    top: -53px !important;
}
     .carousel {
    position: absolute !important;
    top: 43px;
    left: 53px;
    width: 63% !important;
    padding: 0%;
    overflow: hidden;
}
span.mobile-img_slide img {
    width: 70% !important;
}
     div#first_div_scroll {
    display: none;
}
.vc_row.wpb_row.vc_row-fluid.scrollTo.vc_custom_1482490396041.vc_row-o-full-height.vc_row-o-columns-middle.vc_row-flex {
    display: none;
}
.vc_row.wpb_row.vc_row-fluid.scrollTo.vc_custom_1482490432080.vc_row-o-full-height.vc_row-o-columns-middle.vc_row-flex {
    display: none;
}
.vc_row.wpb_row.vc_row-fluid.scrollTo.vc_custom_1482490449129.vc_row-o-full-height.vc_row-o-columns-middle.vc_row-flex {
    display: none;
}
.vc_row.wpb_row.vc_row-fluid.scrollTo.vc_custom_1482491032066.vc_row-o-full-height.vc_row-o-columns-middle.vc_row-flex {
    display: none;
}
.vc_row.wpb_row.vc_row-fluid.scrollTo.vc_custom_1482490728008.vc_row-o-full-height.vc_row-o-columns-middle.vc_row-flex {
    display: none;
}
 .drive_with {
    background: #3178ae;
    width: 95% !important;
    padding: 4% 0% 5% 0%;
    cursor: pointer;
    color: #fff;
    text-align: center !important;
    height: 40px;
}
     #hw .hw__wrapper {
    width: 90% !important;
    padding-top: 0%;
}
     .right_wing {
    border-right: 0px solid #3178ae;   
}
     .flexi .panel.component-blocks:nth-child(odd) {
    clear: none;
    text-align: center !important;
    padding-right: 0 !important;
    padding-top: 2em;
}
     .newapply {
    padding-top: 20px !important;
}

     .extra_option {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 1% !important;
}
.drivemoshe {
    padding-top: 5% !important;
    font-size: 21px;
    letter-spacing: 5px;
}
     .drive_with_background {
    border: none !important;
}
     .moshe_pad {
    border-right: 0px solid #3178ae !important;
}
.moshe_content {
    border-right: 0px solid #3178ae !important;
}
     .moshe_content {
    padding-top: 132px;
}
     .accordion-parent-section1 {
    padding-left: 10% !important;
    padding-right: 10% !important;
}
  h2.help_sector {
    color: #fff;
    letter-spacing: 10px;
    font-size: 26px;
    padding-top: 140px;
    /* text-shadow: 2px 2px 2px rgba(150, 150, 150, 1); */
}
     /*div#controlled_footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}*/
     .driver_background{
         border:none !important;
     }
     .right_side_color {
       border:none !important;
}
     h3.your_service_class {
       padding-top: 7% !important;
    font-size: 18px;
    letter-spacing: 3.5px;
    line-height: 1.5;
}
     .extra_option1 {
    padding-left: 5%;
    padding-right: 5%;
}
     .line.draw-line {
    display: none;
}
.blue_sec {
    background: #3178ae;
    width: 90%;
}
a.accordion-section-title {
    text-align: left;
}
/*.extra_option {
    padding-left: 5% !important;
    padding-right: 5% !important;
}*/
h3.faq_alert {
    text-align: center;
}
p.fluent_english_para {
    line-height: 1.5;
    width: 100% !important;
}
.accordion-parent-section {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
     button.gdt_started2 {
    width: 50%;
    height: 49px;
    padding: 0% 0% 2% 0%;
    font-size: 12px;
}
     /*.line-block.wow.fadeIn {
    display: none;
}
.line-block.wow.fadeIn1 {
    display: none;
}*/
.line-central1.draw-line1 {
    display: none;
}
.line-central.draw-line {
    display: none;
}
     p.earn_mighty {
    text-align: center!important;
}
p.mighty_para {
    text-align: center !important;
}
     /*.vertical_line {
    display: none;
}*/
     .moshe_content {
    padding-left: 10%!important;
    padding-right: 10% !important;
}
     .driver_form {
    padding-top: 3%;
    padding-left: 5% !important;
    padding-right: 5% !important;
    line-height: 1.5;
}
h2.driver_sector {
    color: #fff;
    letter-spacing: 8px;
    font-size: 29px;
    padding-top: 135px;
    /* text-shadow: 1px 2px 2px rgba(150, 150, 150, 1); */
    padding-left: 2%;
}
.color_found {
    border: none !important;
}
.background_class_about_us {
    border-right: 0px solid #3178ae !important;
}
.About_class {
    color: #fff;
    margin-top: 155px!important;
    letter-spacing: 9px;
    font-size: 34px;
    line-height: 13%;
}
.section_aboutus {
    padding-left: 10%;
    padding-right: 10%;
}
.border-left_1{
    border:none!important
}
.border-right_1{
    border:none!important
}
.border-left_1.section1_alert {
    padding-left: 5%;
    padding-right: 5%;
}
.border-right_1.section1_alert {
    padding-left: 5%;
    padding-right: 5%;
}
div#first_division {
    max-height: 100%!important;
    overflow: visible;
}
img.service_im {
    min-height: 300px !important;   
}
 }
 @media screen and (max-width:480px) and (min-width: 200px){
     p.content_para {
    line-height: 2;
    padding-top: 0% !important;
    margin-bottom: 5px !important;
}
.service1_class {
    padding: 0px 30px !important;
    min-height: 320px;
}
h2.location_class {
    font-size: 20px;
}
   .content_div1 {
    padding: 0% 0% 6% 0%;
    margin-left: 6% !important;
    margin-bottom: 0!important;
    width: 90%;
}
     .driver1 {
    background: url(http://139.59.148.41/wordpress/wp-content/uploads/2016/12/driver-1.png);
    background-repeat: no-repeat;
background-size: cover;
    height: 300px;
}
.mouse {
    background: url(http://139.59.148.41/wordpress/wp-content/uploads/2016/12/mouse-1.png);
    background-repeat: no-repeat;
    height: 325px;
background-size: cover;
    width: 440px !important;
}
     .totaldiv1 {
    border-left: 0px solid #3178ae;
}
.content_div {
    padding: 3% 0% 0% 0%;
    margin-left: 8%;
    width: 90%;
    text-align: center !important;
}
     .drive_with {
    background: #3178ae;
    width: 96% !important;
    padding: 4% 0% 5% 0%;
    cursor: pointer;
    color: #fff;
    text-align: center !important;
    height: 40px;
}
   
     .content_div {
    padding: 3% 0% 0% 0%;
    margin-left: 8% !important;
    width: 90%;
    text-align: center !important;
}
     a.accordion-section-title.faq2 {
    line-height: 1.5!important;
}
     .commonform1 {
    height: 56px !important;
    width: 270px !important;
    border-color: rgb(188, 186, 188);
}
       textarea.wpcf7-form-control.wpcf7-textarea {
    width: 270px !important;
}
     button.get_started {
    width: 50%;
    height: 55px !important;
}
h4.drive_withus_heading {
    padding-top: 108px;
    font-size: 24px;
    /* font-weight: bolder; */
}
.drive_with_background {
    background: url(http://139.59.148.41/wordpress/wp-content/uploads/2016/12/drive-withus1.png);
    background-repeat: no-repeat;
    height: 300px !important;
}

     .footer_left {
    color: #fff;
    text-align: center !important;
    padding-left: 0 !important;
    padding-top: 4%;
    width: 100% !important;
    padding-right: 5% !important;
}
     input.wpcf7-form-control.wpcf7-text {
    height: 56px;
    width: 270px;
    border-color: rgb(188, 186, 188);
}
input.wpcf7-form-control.wpcf7-submit {
    width: 61%;
    background: #3178ae;
    border: none;
    color: #fff;
    padding: 2% 2% 2% 2%;
    height: 50px;
    letter-spacing: 2px;
}
button.signin_button {
    width: 25%;
    font-size: 12px;
    height: 37px;
    padding: 2% 2% 2% 1.5% !important;
}
button.become_driver {
    background: #3f3f3f;
    padding: 1% 1% 1% 1% !important;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 3px;
    width: 25%;
    font-size: 12px;
    height: 37px;
}

.footer_content_left {
    display: inline-block;
    font-size: 12px;
    width: 100%;
}
p.copyrights {
    padding-top: 4%;
    margin-left: 10px;
    text-align: center;
}
.copy {
    padding-left: 5%;
    padding-right: 5%;
}
.footer_images {
    padding-top: 0%;
    text-align: center;
    margin-left: 0% !important;
}
 }
 @media screen and (max-width:767px) and (min-width: 481px){
    
     button.become_driver {
    background: #3f3f3f;
    padding: 1% 1% 1% 1%;
    border: 2px solid #fff;
    color: #fff;
    margin-left: 8%;
    border-radius: 3px;
    height: 32px;
}
button.signin_button {
    background: #fff;
    color: #161515;
    padding: 1.5% 2% 3% 1.5%;
    border: 1px solid grey;
    margin-right: 10%;
    font-family: steagal !important;
    font-weight: 400;
    height: 32px;
    text-align: center !important;
}
     .commonform1 {
    height: 56px !important;
    width: 450px !important;
    border-color: rgb(188, 186, 188);
}
          textarea.wpcf7-form-control.wpcf7-textarea {
    width: 450px !important;
}
         button.get_started {
    width: 40%;
    height: 55px !important;
}
     h4.drive_withus_heading {
    padding-top: 108px;
    font-size: 24px;
    /* font-weight: bolder; */
}
     input.wpcf7-form-control.wpcf7-text {
    height: 56px;
    width: 450px;
    border-color: rgb(188, 186, 188);
}
input.wpcf7-form-control.wpcf7-submit {
    width: 61%;
    background: #3178ae;
    border: none;
    color: #fff;
    padding: 2% 2% 2% 2%;
    height: 50px;
}

 .footer_left {
    color: #fff;
    text-align: center!important;
    padding-left: 0%;
    padding-top: 4%;
    padding-right: 5%;
}
.footer_images {
    text-align: center;
    margin: 0;
}
 }

@media screen and (max-width:991px) and (min-width: 768px){
.footer_left {
    color: #fff;
    text-align: left;
    padding-left: 8%;
    padding-top: 3%;
}
img.service_im {
    min-height: 350px !important;
}
.border_color_right.not_scroll {  
    max-height: 350px;
    overflow: hidden;
}
.drive_with {
    background: #3178ae;
    width: 35%;
    padding: 3% 2% 2% 3%;
    cursor: pointer;
    color: #fff;
}
div#first_division {
    max-height: 350px !important;
    overflow: hidden;
}
#hw .hw__wrapper {
    width: 97% !important;
}
    p.content_para {
    line-height: 1.5;
    padding-top: 4%;
}
.service1_class {
    padding: 10px 16px !important;
    min-height: 400px;
}
.service1_class {
    padding: 10px 16px !important;
    min-height: 400px;
}
     .vertical_line{
         display:none;
     }
    button.get_started {
    background: #3178ae;
    color: #fff;
    border: #3178ae;
    padding: 2% 1% 2% 1% !important;
    width: 30%!important;
    margin-top: 3%;
}
    .extra_option1 {
    padding-left: 0!important;
    padding-right: 0 !important;
}
.accordion-parent-section {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.extra_option {
    padding-left: 5%!important;
    padding-right: 5% !important;
}
div.line {
    border-left: 1px solid transparent;
    height: 0em;
    margin: auto;
    position: absolute;
    left: 50%;
    top: -4em;
    padding-top: 0%;
    margin-top: 1%;
}

}

.bckgroun1_new {
    position: absolute;
    top: 8%;
    /* width: 199px; */
    left: 6.7%;
    /* height: 441px; */
    /* background-size: 78px; */
    background-attachment: cover;
}

img.backgroundcommon_sector {
    width: 200px;
}
/*@media screen and (max-width: 958px) and (min-width: 941px) {
    .sidebar {
    float: left;
 margin-left: 3px; 
    width: 300px;
}
}*/


.privacy_policy_sector{
padding-bottom: 20px;
    font: 400 18px/30px 'Roboto', sans-serif;
    color: #999999;
    letter-spacing: 1px;
    font-family: steagal;
}
.accounts__sign-in {
    display: inline;
    cursor: pointer;
    color: #979797;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    font-family: Steagal,Arial,Helvetica,sans-serif;
    text-decoration: none;
    background: #3178ae;
    color: #494a43;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 34px 0 !important;
    transition: background .3s;
}
.flexi .panel.component-blocks:nth-child(odd) {
    clear: left;
    text-align: right;
    /* padding-right: 4px !important; */
    padding-bottom: 1% !important;
}
.component-blocks.active {
    padding-bottom: 2% !important;
}
.contact_form_content {
    line-height: 2;
    font-size: 20px;
}
a.get_stated {
    color: #fff;
    text-decoration: none;
}
.fixed-sidebar.active{
    position: fixed;
    top: 0;
}
@media only screen and (max-width: 940px) {
   .fixed-sidebar.active {
        position: relative !important;
    }
}

/*today changes menu*/
.header {
  
    padding-left: 0% !important;
}
.navigation__item:last-child:after {
    content: '';
    /* border-right: none; */
    content: '';
    border-right: 1px solid #eeebd8 !important;
    display: block;
    height: 30px;
    position: absolute;
    top: 24.5px;
    right: 0;
}
.loader-active1{
        margin-top: 40%;
}
.commonform1 {
    margin-top: 0;
    font-size: 12px;
    font-family: "Steagal";   
    font-weight: bold;
    line-height: 1.583;
    padding-left: 1%;
    width: 650px;
    height: 56px;
    width: 740px;
    border-color: rgb(188, 186, 188);
    font-size: 14px;
}
a.view-booking__btn:hover {
    text-decoration: none !important;
}
a.view-booking__link.view-booking__link--new-booking:hover {
    text-decoration: none;
}
.floating_icon {
    position: fixed;
    right: 22px;
    width: 40px;
    top: 400px;
}
img.android_floating {
    line-height: 2;
    border-bottom: 1px solid grey;
    padding-bottom: 6px;
    width:24px;
}
img.ios_floating {
    padding-top: 5px;
    width:24px;
}
img.donload_floater {
    padding-top: 8px;
}
.container {
    width: 100% !important;
}
img.donload_floater2 {
    padding-top: 15px;
    width: 52px;
    padding: 10px 0px 0px 0px;
    margin-left: 3px;
}
.float_sector2 {   
    box-shadow: -1px 0px 8px 6px rgba(0, 0, 0, 0.08);
    width: 44px;
    padding: 8px 0px 8px 10px;
}
ul#top_menu_app a {
    display: block;
    text-align: center;
    color: transparent;
    border-radius: 2em;
    margin-bottom: 15px;
    margin-right: 30px;
    width: 11px;
    height: 10px;
    border-radius: 50%;
    background: #3178ae;
}
a.sub-navigation__link {
    text-decoration: none;
}
a.sign-in__mobile-forgot-pass-link {
    text-decoration: none;
}
a.sign-in__mobile-link {
    text-decoration: none;
}
.icon.icon--location{
     background: url("./images/booking_cancelled_location_icon.png") 50% 50% no-repeat !important; 
}
div.wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 1%;
    margin-left: 20%;
    margin-right: 20%;
}
.commonform1 {
    font-size: 12px;
    font-family: "Steagal";
    color: rgb(162, 157, 157);
    font-weight: 600;
    line-height: 1.583;
    padding-left: 2%;
    font-size: 15px;
}
@media (max-width: 766px){
    .dt__calendar.dt__end {
    display: none;  
     } 
}
.perfect-datetimepicker {
    width: 100%!important;
}
a.booking-item-link {
    text-decoration: none;
}
a.unit__link {
    text-decoration: none;
}
.d-minus {
    background: url("./images/arrow-down-sign-to-navigate.png") 50% 50% no-repeat !important; 
}
.d-plus{
     background: url("./images/arrow-up-sign-to-navigate.png") 50% 50% no-repeat !important;
}
td.prevm {
     background: url("./images/left.png") 50% 50% no-repeat !important;
}
td.nextm {
     background: url("./images/right.png") 50% 50% no-repeat !important;
}

        
span#lost_pass_error {
    font-size: 15px;
    line-height: 20px;
    text-align: center!important;
    color: red;
}
button[disabled]{
    cursor: default;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.rightcolor{
    position: absolute;
    right: 10px;
    top: 30px;
}
