a.btn.btn-secondary.deactivate-btn.deact {
    color: #fff;
}
.active a span {
    border-bottom: none !important;
}
.border_container {
    margin-bottom: 50px;
}
input.move_width {
    width: 80% !important;
}
input.move_width.useremailis {
    width: 90% !important;
}
input#acc_number {
    width: 90% !important;
}
/*.hiding_bar.header__navigation-container.header__navigation-container--mobile.u-hidden--lg.js-header-navigation--mobile {
    height: 150px !important;
   
}*/
.hiding_bar.header__navigation-container.header__navigation-container--mobile.u-hidden--lg.js-header-navigation--mobile {
    max-height: 100% !important;
}
.header__navigation-container.header__navigation-container--mobile.u-hidden--lg.js-header-navigation--mobile {
    height: 100% !important;
    overflow: hidden;
    background: #51af33;
    width: 100%;
}
.row {
    margin-right: -15px;
    margin-left: 0px !important;
}
input[type="text"] {
    width: 80%;
}
a.btn.btn-secondary.btn-small.edit {
    border: 1px solid #0092f5;
    background-color: #0092f5;
}
.border_container {
    border-radius: 10px;
    margin-top: 2%;
}
span.space {
    padding-left: 10px;
}
.space {
    padding-left: 10px;
}
.mobile_view_select {
    width: 100%;
}
.deact:hover {    
    color: #fff !important;    
}
.deact {
    border: 1px solid #0092f5 !important;
    background-color: #0092f5 !important;
    color: #fff;
    text-transform: lowercase;
    font-weight: 400;
    padding: 1% !important;
    width: 30%;
    margin-top: 1em;
    font-size: 16px !important;
}
span.deactivate {
    font-size: 18px;
}
ul.nav.nav-tabs.nav-stacked li a:focus {
    border-left: 5px solid #0092f5 !important;
    border-radius: 0;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    /* border: 1px solid transparent; */
    border-radius: 0;
}
.main_content_account {
    height: 470px;
    border-left: 1px solid #ddd;
}
.nav-tabs {
    border-bottom: 0px solid #ddd !important;
}
.nav-tabs {
    border-bottom: 0px solid #ddd;
}
p.any_transit {
    margin: 0 0 1.5rem 0;
    color: #545e69;
    text-align: center;
    font-size: 18px;
}
.transcation_modal {
    text-align: center;
    font-size: 18px;
    margin-bottom: 1em;
}

input.element_desire {
    width: 360px !important;
    font-weight: normal;
    border: 1px solid #b1b9c3;
    font-size: 1em;
    border-radius: 4px;
}
.redemption_code {
    padding-left: 2%;
}
span.autocomplete_price {
    font-size: 18px;
}
span.account_balance {
    font-size: 18px;
}
span.dashboard_backsection {
    font-size: 18px;
    color: #3178ae !important;
}
span.dashboard_backsection a:hover {
    font-size: 18px;
    color: #3178ae !important;
text-decoration:none !important;
}
.billing_cancel p {
    font-size: 18px;
}
input[type="text"] {
    width: 45%;
}
ul.nav.nav-tabs.nav-stacked li a:hover {
    border: 0px!important;
}
.nav_bar_account_page {
    border-right: 1px solid #ddd;
}
.account--small-form_edit_billing {
    padding-left: 2%;
}
.move_five {
    padding-left: 90px;
}
tr.border_table {
    font-weight: bold;
    border-bottom: 1px solid #dce0e6;
}
.account--small-form_notifications {
    padding-left: 3%;
    width: 100%;
    font-size: 16px;
    line-height: 50px;
}
button#ChangePas {
    margin-bottom: 0;
}
.account--view .account--notifications table th {
    font-weight: bold;
    border-bottom: 1px solid #dce0e6;
}
a.btn.cancel {
    background: #eae8e8;
    width: 18%;
     margin-left: 3%;   
    padding: 2% 1% 2% 1%;
}
button.btn.btn-primary.save {
    width: 18%;
   margin-left: 3%;   
    padding: 2% 1% 2% 1%;
}
.nav_bar_account_page {
    border-right: 0px solid #dce0e6;
}


input[type="password"] {
    width: 50%;
    margin-bottom: 1em;
    height: 42px;
}

.common_Class {
    padding-left: 3%;
    margin-bottom: 1rem;
    position: relative;
}
.logout_button {
    border: 1px solid #b1b9c3 !important;
}
.logout_button {
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    font-size: 15px !important;
    padding: 0.5em 1.38em 0.5em;
    color: #545e69 !important;
    border: 1px solid #b1b9c3 !important;
    background-color: white;
    outline: none;
    cursor: pointer;
}

.details_avatar {
    line-height: 2.5;
    font-size: 20px;
}

.avatar-container_ontheway img {
    z-index: 10;
    overflow: hidden;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    border: 1px solid #dce0e6;
    background-color: white;
    text-align: center;
    position: relative;
}
.center_avatar {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
}
.section_1 {
    border-bottom: 1px solid #dad7d7;
    font-size: 32px;
    margin-bottom: 1em;
}
h3.account--title {
    margin-top: 18px;
    font-size: 29px;
    margin-bottom: 12px;
}
.section_1 {
    border-bottom: 1px solid #dad7d7;
    font-size: 32px;
}
.fade.in {
    opacity: 1;
    display: block;
}
.fade {
    display:none;
}
.account_heading {
    line-height: 1.2;
    font-size: 36px;
    font-weight: 600;
    padding: 1em 0 0;
}
.main_account_container {
    padding-left: 15%;
    padding-right: 15%;
}

a.header__navigation-link {
    font-size: 17px;
}
a.header__navigation-link:hover {
    text-decoration:none;
}
.border_container {
    border: 1px solid #d6d6d6;
    padding: 0% !important;
}

.page-header {
    /* padding-bottom: 12px; */
    margin: 0!important;
    border-bottom: 1px solid #eee;
    padding-top: 12px;
    padding-bottom: 15px;
}
.nav_bar_account_page {
    padding: 0 !important;
}
ul.nav.nav-tabs.nav-stacked a {
    border: 0;
}
a.btn.btn-secondary.btn-small {
    float: right;
    width: 11%;
    color: #fff;
    border: 1px solid #51af33;
    background-color: #51af33;
    font-size: 12px;
}
input.element_desire {
    width: 100% !important;
}


@media screen and (max-width:1201px) and (min-width: 991px){

}
@media screen and (max-width:4400px) and (min-width: 1201px){

}

@media screen and (max-width:767px) and (min-width: 200px){
	button#UserUpdate {
    margin-bottom: 0!important;
    font-size: 13px;
}
	a.btn.cancel span {
    font-size: 12px;
}
    input.width100 {
    width: 90%;
}
    a.btn.cancel {
    background: #eae8e8;
    width: 30%;
    margin-left: 3%;
    padding: 2% 1% 2% 1%;
}
button.btn.btn-primary.save {
    width: 30%;
    margin-left: 3%;
    padding: 2% 1% 2% 1%;
}
    a.btn.btn-secondary.deactivate-btn.deact {
    width: 100%;
    margin-bottom: 15px;
    color: #fff !important;
}
.static-body .container--wide {
    padding-left: 8%;
    padding-right: 8%;
}
.main_account_container {
    padding-left: 5%;
    padding-right: 5%;
}
.section_1 {
    border-bottom: 1px solid #dad7d7;
    font-size: 32px;
    padding-bottom: 3%;
}
.mobile_view_select {
    width: 98%;
    margin: 5% 0% 5% 1%;
}
a.btn.btn-secondary.btn-small {
    float: right;
    width: 20%;
    color: #fff;
    border: 1px solid #51af33;
    background-color: #51af33;
    font-size: 10px;
    margin-bottom: 0;
}
.main_content_account {
    height: auto;
    border-left: 0px solid #ddd;
}
.details_avatar {
    text-align: center;
}
h3.account--title {
    margin-top: 18px;
    font-size: 21px !important;
    margin-bottom: 12px;
}
}


@media screen and (max-width:991px) and (min-width: 768px){
.main_account_container {
    padding-left: 5%;
    padding-right: 5%;
}
.section_1 {
    border-bottom: 1px solid #dad7d7;
    font-size: 32px;
    padding-bottom: 3%;
}
.details_avatar {
    text-align: center;
}
h3.account--title {
    margin-top: 18px;
    font-size: 21px !important;
    margin-bottom: 12px;
}
.deact {
    border: 1px solid #0092f5 !important;
    background-color: #0092f5 !important;
    color: #fff;
    text-transform: lowercase;
    font-weight: 400;
    padding: 1% !important;
    width: 30%;
    margin-top: 1em;
    font-size: 13px !important;
}
}