@media screen and (max-width:767px) and (min-width: 200px){
.blog_Padding {
    padding-left: 3%!important;
    padding-right: 3% !important;
}
}

.blog_Padding {
    padding-left: 15%;
    padding-right: 15%;
}
.vc_row{
margin:0!important}

.vc_grid.vc_grid-owl-theme .vc_grid-owl-dots {
    display: none;
    margin-top: 20px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 30px;
}
input {
    border: 1px solid black;
    margin-bottom: .5em;
    padding: 1% !important;
    cursor: pointer;

h3#comments {
    padding-left: 10%;
}