a.js-show-supplemental.expect_popup {
    color: #4cadc9;
}
.blue_vision {
    color: white;
    border: 1px solid #0d8dab;
    background-color: #0d8dab;
    text-transform: lowercase;
}
.blue_vision:hover {
    color: white;
    border: 1px solid #0d8dab;
    background-color: #0d8dab;
    text-transform: lowercase;
}

/*popup css*/
.lightbox--container1 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 200;
}

.confirm-lightbox--button-row button {
    font-size: 18px;
    width: 30%;
    text-transform: lowercase;
}
button.js-confirm.btn.btn-primary.close {
    background: rgba(0, 163, 254, 0.8);
    border: 1px solid rgba(0, 163, 254, 0.8);
}

@media (max-width: 500px)
{
.confirm-lightbox--button-row button {
    width: 100% !important;
    display: block;
    margin: 0;
}
.lightbox--content-wrapper {
    min-height: 41%;
    width: 100%;
}
}


/* end of popup css*/

.customer {
    background-color: #4cadc9 !important;
    border: 1px solid #4cadc9 !important;
    padding: 2% 0% 2% 0% !important;
    text-transform: lowercase;
    font-size: 16px;
}
a.recommendations__hire-btn.btn.btn-primary.btn-large.js-btn-hire {
    background-color: #4cadc9 !important;
    border: 1px solid #4cadc9 !important;
    padding: 2% 0% 2% 0% !important;
    text-transform: lowercase;
}

input:checked+.recommendations__schedule-filter-day__inner {
    background-color: rgba(0, 163, 254, 0.8);
    border-color: rgba(0, 163, 254, 0.8);
    color: white;
    font-weight: bold;
}

i.fa.fa-caret-right {
    font-size: 30px;
}
i.fa.fa-caret-left {
    font-size: 30px;
}
i.fa.fa-info {
    border: 2px solid rgba(0, 163, 254, 0.8);
    border-radius: 50px;
    width: 20px;
    text-align: center;
    font-size: 15px;
    outline: 0;
    color: rgba(0, 163, 254, 0.8);
}
a:visited, .link:visited {
    color: #4cadc9;
}
a.build-subheader__mod-link.js-change-template {
    color: #4cadc9;
}
.continue_blue:active {
    background: #4cadc9 !important;
    border: 1px solid #4cadc9 !important;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=search]:focus, input[type=url]:focus, input[type=number]:focus, textarea:focus {
    color: #242a30;
    border-color: transparent;
    box-shadow: inset 0 0 0 1px #00c1cf !important;
}
.tasker_avail:hover {
    
    background: #4cadc9 !important;
    color: #fff !important;
    border: 1px solid #4cadc9;
}
.tasker_avail {
    width: 50%;
    background: #fff !important;
    color: #4cadc9 !important;
    border: 1px solid #4cadc9;
    text-transform: lowercase;
}
.continue_option {
    font-size: 17px;
    background-color: #4cadc9 !important;
    border: 1px solid #4cadc9 !important;
    padding: 2% 0% 2% 0% !important;
    text-transform: lowercase;
    font-weight: 400;
}
button.btn.btn-primary.js-group-cta {
    font-size: 17px;
}
.continue_blue {
    background: #4cadc9;
    border: 1px solid #4cadc9;
}
.continue_blue:hover {
    background: #4cadc9;
    border: 1px solid #4cadc9;
}
img.build-trust-banner__badge {
    width: 30px;
}



@media (max-width: 600px)
{
api.css:1
.recommendations__filters .recommendations__mobile-filter-trigger {
    margin-left: auto;
}
a.recommendations__mobile-filter-trigger.btn.btn-primary.js-modal-trigger {
    padding: 2%;
    font-size: 13px;
    width: 270px;
}
a.recommendations__mobile-filter-trigger.btn.btn-primary.js-modal-trigger {
    background: #4cadc9;
    border: 1px solid #4cadc9;
    font-size: 14px;
    width: 250px;
    padding: 3%;
}
.btn.btn-secondary.btn--md.js-tomorrow.tasker_avail {
    width: 300px;
    font-size: 16px;
}
}
@media (max-width: 1000px)
{
.recommendations__filters .recommendations__mobile-filter-trigger {
    display: block;
    margin-right: auto;
    background: #4cadc9;
    border: 1px solid #4cadc9;
    font-size: 17px;
    width: 300px;
    padding: 2%;
}
.recommendations__filters .recommendations__mobile-filter-trigger:hover {
    display: block;
    margin-right: auto;
    background: #4cadc9;
    border: 1px solid #4cadc9;
    font-size: 17px;
    width: 300px;
    padding: 2%;
}
}

@media screen and (max-width:1201px) and (min-width: 991px){

}
@media screen and (max-width:4400px) and (min-width: 1201px){

}