
@media screen and (max-width: 480px) and (min-width: 200px) {

}

@media (max-width: 500px), (max-width: 800px) and (min-width: 501px)
{
.static-body .container {
    margin: 0!important;
}

a.btn.btn-primary.profile__build-hire-btn.js-hire {
   
    padding: 2% !important;
    width: 100%;
}
}


a.btn.btn-primary.profile__build-hire-btn.js-hire {
    color: white;
    border: 1px solid #3178ae !important;
    background-color: #3178ae !important;
    font-size: 15px;
    padding: 4%;
}
a.btn.btn-secondary.btn-block.profile__hire-btn.js-hire-btn {
    color: white;
    border: 1px solid #3178ae !important;
    background-color: #3178ae !important;
    font-size: 15px;
 
    text-transform: capitalize;
}
.profile__subnav-link.is-focused {
    color: #3178ae !important;
    border-color: #3178ae !important;
}

.profile__subnav-link.is-focused {
    display: block;
    border-bottom: 3px solid transparent;
    font-size: 1.125rem;
    color: #545e69;
    padding: .75em 1.25em;
    border-color: #dce0e6;
    cursor:pointer;
}
 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 100 !important;
}
.profile-review__title {
    font-weight: 100 !important;
}
.profile__bio-section {
    background-color: white;
    padding: 1rem 0;  
    line-height: 1.8;
}
.media-object {
    line-height: 1.5;
}
.hand {
    font-size: 30px;
}
li.profile__bio-fact {
    font-size: 17px;
}
.media--content {
    font-size: 15px;
}
a.header__navigation-link {
    color: #3178ae !important;
}

.pages{
    float: right;
    padding: 20px;
    margin: 5px 0px;
}
.pages ul li{
    cursor:pointer;
    float: left;
    color: #5aa1e3;
    padding: 4px 8px;
    border: 2px solid #5aa1e3;
    margin-right: 5px;
}

/*PAGE LOADER CSS STARTING--------------*/
#spinner.active {
    display: block;
}
div#page_loader_parent {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0,0,0,0.7);
    top:0px
}
#spinner {
    display: none;
    position: absolute;
    height: 60px;
    width: 60px;
    top: 40%;
    left: 48%;
    z-index: 1;
}
.ball {
    position: absolute;
    display: block;
    background-color: #feffff;
    left: 24px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
}
div#spinner:after {
    content: 'loading profile...';
    color: #fff;
    position: absolute;
    bottom: -36px;
    width: 150px;
    left: -16px;
}
#first {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0.3, 0.9, 0.9);
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 6px 30px;
    -moz-animation-timing-function: cubic-bezier(0.5, 0.3, 0.9, 0.9);
    -moz-animation-name: rotate; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 6px 30px;

}
#second {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0.5, 0.9, 0.9);
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 6px 30px;
	  -moz-animation-timing-function: cubic-bezier(0.5, 0.5, 0.9, 0.9);
    -moz-animation-name: rotate; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 6px 30px;
}
#third {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0.7, 0.9, 0.9);
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 6px 30px;
	  -moz-animation-timing-function: cubic-bezier(0.5, 0.7, 0.9, 0.9);
    -moz-animation-name: rotate; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 6px 30px;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
  }
  100% { 
    -webkit-transform: rotate(1440deg) scale(1); 
  }
}​

@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0deg) scale(1);
  }
  100% { 
    -moz-transform: rotate(1440deg) scale(1); 
  }
}
/*PAGE LOADER CSS ENDING--------------*/