.vc_row{
margin:0!important}
.height_calc {
    height: 500px;
    height: 420px;
    background-color: #b1b9c3;
    text-align: center;
    -webkit-transition: height .15s;
    transition: height .15s;
    position: relative;
    padding-top: 0;
    margin-top: -70px !important;
}
.header__navigation-link {
    position: relative;
    padding: 0 0.8rem;
    display: inline-block;
    font-size: 1rem;
    line-height: 2.25;
}
.vc_toggle_content p {
    font-family: steagal;
    font-weight: lighter !important;
    color: grey;
}

h3.Faq_Stands {
    font-weight: 400;
    font-size: 36px;
    color: #292828;
}
.vc_toggle_title>h4 {
    display: inline;
    font-family: steagal;
    font-weight: 400;
}
h1.hero-double-title {
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: #fff;
    /* font-size: 51px; */
    line-height: 1.5em;
    font-size: 2.5rem;
    z-index: 1;
    margin: 0;
    font-size: 3.5rem;
    font-weight: 400;
}
p.hero-subtitle {
    font-size: 23px;
    font-weight: 600;
    max-width: 32em;
    margin: 0 auto;
    text-shadow: 0 1px 7px rgba(0,0,0,0.4);
    color: #fff;
}
a.box-no-padding {
    text-decoration: none;
}
.section{
margin-bottom:0px !important}
.border_Bottom {
    border-bottom: 1px solid #c1c0c0;
    color: #000000;
    display: block;
    padding: 10px 0;
}
i.vc_toggle_icon {
    float: right;
}
.header__menu-toggle {
    display: inline-block;
    font-size: 1.75rem;
    line-height: 1.428571429;
    color: #5aa1e3 !important;
    cursor: pointer;
}
a.header__navigation-link:hover {
    color: #fff !important;
}.footer-inner a {
    color: black;
}
.footernew {
    border-top: 1px solid #ddd;
    margin-top: 60px;
    padding: 30px 0;
    font-size: 15px;
    background-color: #fff !important;
}
a.header__navigation-link {
    color: #fff !important;
}
a.header__navigation-link:hover {
    color: #42a9e6 !important;
text-decoration:none;
}
.container--wide {
    width: 100%;
}
li.blocks-item:hover {
    background: #01b5f6;
cursor: pointer;
}
li.blocks-item {
    padding: 10px 10px 10px 10px;
    background: #fff;
    color: #01b5f6;
    border: 1px solid #01b5f6;
}
.section {
    position: relative;
    background-color: white;
    border-radius: 3px;
    border: 0px solid #dce0e6; 
}
.Helping_Padding{
Padding-left:15%;
padding-right:15%;
}
.hero-inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 610px;
    margin: 0 auto;
}
.blocks-item-link {
    color: #51af33;
    padding: 20px 30px;
}
.hero {
    
    background-position: center;
    background-size: cover;
    height: 300px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}
.search input[type="search"] {
    border: 1px solid #ddd;
    border-radius: 30px;
    box-sizing: border-box;
    color: #999;
    height: 40px;
    padding-left: 40px;
    padding-right: 20px;
    -webkit-appearance: none;
    width: 100%;
}

@media screen and (max-width:767px) and (min-width: 200px){
    h1.hero-double-title{
        font-size:2em;
    }
a.header__navigation-link:hover {
    color: #fff !important;
}
h3.Faq_Stands {
    font-weight: 400;
    font-size: 25px !important;
    color: #292828;
}
.Helping_Padding {
    Padding-left: 10%;
    padding-right: 10%;
}

}
@media screen and (max-width: 956px) and (min-width: 200px)
{
h3.Faq_Stands {
    font-weight: 400;
    font-size: 22px !important;
    color: #292828;
}
}
@media screen and (max-width:3300px) and (min-width: 992px){
footer {
    background: #67727e;
    font-size: 18px;
    padding: 3rem 0;
    overflow: hidden;
    z-index: 0;
    position: relative;
    height: 270px;
}
}