button.btn.btn-default.close_popup {
    background: #2598ed;
    color: #fff;
    font-size: 14px;
}
p.left_col_head21 {
    font-size: 11px;
    color: #999999;
    font-family: sans-serif;
    margin-top: 11px;
    margin-bottom: 11px;
}
p.left_col_head22 {
    font-size: 11px;
    color: #999999;
    font-family: sans-serif;
    margin-top: 11px;
    margin-bottom: 11px;
}
textarea {
    resize: none;
}
.getpdf {
    float: left;
}
.header__navigation-container.header__navigation-container--mobile.u-hidden--lg.js-header-navigation--mobile {
    height: 100% !important;
    overflow: hidden;
    background: #51af33;
    width: 100%;
}
.page-header {
    padding-bottom: 9px;
     margin: 0!important;
    border-bottom: 1px solid #eee;
}
.header__navigation-container.header__navigation-container--mobile.u-hidden--lg.js-header-navigation--mobile {
    height: auto;
    max-height: 100% !important;
    overflow: hidden;
    background: #51af33;
    width: 100%;
}
button.btn.btn-default.close_popup:hover {
    background: #2598ed;
    color: #fff;
    font-size: 14px;
}
.media--content {
    margin: 0!important;
}

@media (max-width: 800px) and (min-width: 501px)
{
.row .col-md-3 {
    width: 100% !important;
}
}
@media screen and (max-width: 768px) and (min-width: 200px){
  span.UserNames {
    font-size: 20px;
}
	.general_setting {
    border-bottom: 1px solid gainsboro;
    padding: 2% !important;
    font-size: 8px;
}
button.invoice_section {
    background: #0092f5;
    padding: 4px !important;
    width: 100%;
    border: 1px solid #0092f5;
    color: #fff;
    border-radius: 5px;
    font-size: 12px !important;
}

span.generalhandling_view {
    font-size: 20px !important;
}
button.current_tasks.addcft {
    width: 100%;
    margin-bottom: 10px;
}
button.current_tasks {
    width: 100% !important;
}
button.pasttasks {
    width: 100% !important;
}

header.page-header {
    margin: 0!important;
    padding: 15px !important;
}



.taskername {
    padding: 4%;
    border-bottom: 1px solid #e0e2e4;
}
button.pasttasks:hover {
    background-color: #0092f5;
    color: #fff;
}
button.current_tasks:hover {
    background-color: #0092f5;
    color: #fff;
}
body.static-body.customize-support.lp-none {
    background: url(http://iserve.ind.in/wp-content/uploads/2017/03/hisstory.png);
    background-size: cover;
}
.close {
    float: right;
    font-size: 45px !important;
    font-weight: 700;
    line-height: 1;
    color: #ea0707;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
        opacity: initial !important;
}
}

@media screen and (max-width:767px) and (min-width: 200px){
    .modal-dialog {
    overflow-y: scroll !important;
    max-height: 91%;
    margin-top: 20px;
    margin-bottom: 20px;
}
}
/*css for popup modal*/

@media (min-width: 768px)
{
.modal-dialog {
    width: 630px!important;
    margin: 30px auto;
}
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}
.modal-footer {
    padding: 10px;
    text-align: right;
    border-top: 0px solid #e5e5e5 !important;
}
span.generalhandling_view {
    font-size: 26px;
}
.close_popup {
    padding: 10px;
    font-size: 15px;
    background: #337ab7;
    color: #fff;
}
.close_popup:hover {
    
    font-size: 15px;
    background: #337ab7;
    color: #fff;
}
img.logo_iserve_Popup {
    /* float: left; */
    width: 170px;
    text-align: center;
}
span.Weight {
    display: inline-block;
}
td.rt_col_head {
    color: #999999;
    font-size: 13px;
}

td.rt_col_head21 {
   
    font-size: 14px;
    font-weight: 500;
    width: 49%;
}
td.align-rt1 {
    text-align: right;
    float: right;
    width: 100%;
    font-size: 14px;
}
span.Weightright {
    float: right;
}
span.Weightright {
   
  color: #999999;
    font-size: 12px;
    font-weight: 500;
        text-align: center;
}
span.Weight {
    
 color: #999999;
    font-size: 12px;
    font-weight: 500;
        text-align: center;
        margin-left:24px;
}
	  hr {
    margin: 0px;
    background: #b3b3b3;
    opacity: 0.5;
}
body {    
    font-family: 'Open Sans', sans-serif;
}
td {
    font-family: 'Open Sans' !important;
}
         /* CLIENT-SPECIFIC STYLES */
         #outlook a{padding:0;} /* Force Outlook to provide a "view in browser" message */
         .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
         .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div{line-height: 100%;} /* Force Hotmail to display normal line spacing */
         body, table, td, a{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
         table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;} /* Remove spacing between tables in Outlook 2007 and up */
         img{-ms-interpolation-mode:bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */
         /* RESET STYLES */
         body{margin:0; padding:0;}
         img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
         table{border-collapse:collapse !important;}
         body{height:100% !important; margin:0; padding:0; width:100% !important;}
         /* iOS BLUE LINKS */
         .appleBody a{color:#68440a; text-decoration: none;}
         .appleFooter a{color:#999999; text-decoration: none;}
         /* MOBILE STYLES */
         @media screen and (max-width: 625px) {
           .generated {
    font-weight: 400;
    font-size: 13px !important;
}
         /* ALLOWS FOR FLUID TABLES */
         table[class="wrapper"]{
         width:100% !important;
         min-width:0px !important;
         }
         span.left_col_field
         {
           margin-left:0px !important;
         }
         p.left_col_head{
           margin-left:0px !important;
         }
         /* USE THESE CLASSES TO HIDE CONTENT ON MOBILE */
         td[class="mobile-hide"]{
         display:none;}
         img[class="mobile-hide"]{
         display: none !important;
         }
      span.lasttrip {
    position: relative;
    top: 0px !important;    
    text-align: center !important;    
    width: 100%;
    display: inline-block;
    font-size:13px;
}

td.mobile_using {
    margin-top: 7px !important;
}
td.align-rt {
    text-align: right;
    font-size: 12px !important;
    font-weight: bold;
}
td.bold_txt {
        font-size: 13px !important;
}
         img[class="img-max"]{    
		    width: 50% !important;
    margin-top: 20px !important;
    margin-left: 80px;     
         }
         p.left_col_head {
    text-align: left !important;
}
         /* FULL-WIDTH TABLES */
         table[class="responsive-table"]{
         width:100%!important;
         }
         /* UTILITY CLASSES FOR ADJUSTING PADDING ON MOBILE */
         td[class="padding"]{
         padding: 10px 5% 15px 5% !important;
         }
         td[class="padding-copy"]{
         padding: 10px 5% 10px 5% !important;
         text-align: center;
         }
         td[class="padding-meta"]{
         padding: 30px 5% 0px 5% !important;
         text-align: center;
         }
         td[class="no-pad"]{
         padding: 0 0 0px 0 !important;
         }
         td[class="no-padding"]{
         padding: 0 !important;
         }
         td[class="section-padding"]{
         padding: 10px 5px 10px 5px !important;
         }
         td[class="section-padding-bottom-image"]{
         padding: 10px 15px 0 15px !important;
         }
         /* ADJUST BUTTONS ON MOBILE */
         td[class="mobile-wrapper"]{
         /*padding: 10px 5% 15px 5% !important;*/
         }
         table[class="mobile-button-container"]{
         margin:0 auto;
         width:100% !important;
         }
         a[class="mobile-button"]{
         width:80% !important;
         padding: 15px !important;
         border: 0 !important;
         font-size: 16px !important;
         }
         }
		 table#end_block tbody tr td {
    font-size: 12px!important;
    color: #232323!important;
    border: 1px solid #bfbfbf;
    padding: 3%!important;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
p.left_col_head {
    font-size: 11px;
    color: #999999;
    font-family: sans-serif;
	margin-top:11px;
	margin-bottom:11px;
	margin-left:5px
}
tr.bottom_border {
    border-bottom: solid 1px #efe7e7;
}
.rt_col_head {
      font-family: sans-serif;
    font-size: 15px;
    
    padding-bottom: 7px;
    border-bottom: 1px solid #e0dcdc;
}
td.rt_col_head2 {
    font-family: sans-serif;
    color: #999999;
    font-size: 14px;
    font-weight: 500;
	width:59%;
    line-height:25px !important;
}
td.bold_txt {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
}
span.left_col_field {
    font-family: sans-serif;
    font-size: 14px;
	margin-top:11px;
	margin-bottom:11px;
	margin-left:5px
}
td#app_det {
    font-size: 16px;
    font-family: sans-serif;
    text-align: left;
}
td.align-rt {
    text-align: right;
	font-size:14px;
  font-weight:bold;
}
span.lasttrip {
    text-align: right;
    float: right;
    position: relative;
    top: 28px;
}
.generated {
    font-weight: 400;
}
.glyphicon {  
    color: #0092f5 !important;
   
}
.taskername {
    padding: 4%;
    border-bottom: 1px solid #e0e2e4;
}
/*map css */
#map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }

      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
      }

      #mode-selector {
        color: #fff;
        background-color: #4d90fe;
        margin-left: 12px;
        padding: 5px 11px 0px 11px;
      }

      #mode-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      td#app_det1 {
    height: 200px;
}
.gm-svpc {
    display: none;
}
.gmnoprint {
    display: none;
}
tr.delivery {
    border-bottom: solid 1px #efe7e7;
}
tr.bottom_border11 {
    border: 1px solid #e0dcdc;
}
span.phone {
    font-size: 14px;
    color: #999999;
}
p.left_col_head112 {
    margin: 0%;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: solid 1px #efe7e7;
}
span.left_col_field {
    margin-left: 0px;
}
p.left_col_head {
    margin-left: 0;
}
td.rt_col_head {
    padding-top: 12px;
}
td.align-rt123 {
    font-size: 13px;
}
td.align-rt12 {
    color: #999999;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
textarea {
    margin-top: 10px;
}

/*css for popup modal*/

@media (max-width: 500px), (max-width: 800px) and (min-width: 501px)
{
.static-body .container {
    margin: 0;
}
}
span.fa.fa-search {
    position: absolute;
    right: 25px;
    top: 18px;
    color: #0092f5 !important;
}
input.searching_content {
    width: 100%;
}
.padding_sector {
    padding: 0 !important;
}
.padding_zero {
    padding: 4px;
}
.calender {
    padding: 0;
}
button.invoice_section {
    background: #0092f5;
    padding: 7px;
    width: 100%;   
    border: 1px solid #0092f5;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
}
.Invoice_section {
    float: right;
}

.task_history {
    background: #f2f2f2;

    margin-bottom: 18px;
    padding: 10px;    
    -moz-border-radius: 0;    
    border: 1px solid gainsboro;
}
body.static-body.customize-support.lp-none {   
    
}
button.current_tasks {
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid gainsboro;
    padding: 9px;
    width: 49%;
}
button.pasttasks {
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid gainsboro;
    padding: 9px;
    width: 50%;
}

p.live_track {
    border-bottom: 1px solid grey;
    line-height: 2.2;
cursor:pointer;
}
.more_right_change {
    float: right;
}
img.imsge_sentence {
   
    border-radius: 30px;
}
span.location_date {
    color: #b4b8bd;
}
.general_setting {
    border-bottom: 1px solid gainsboro;
    padding: 1%;
    font-size: 2rem;
	position:relative
}
.booking_status2 {
    position: absolute;
    right: 8px;
    font-size: 16px;
    bottom: 4px;
    color: #35d61a;
    font-weight: 600;
}
.bid_num {
    font-size: 15px;
    font-weight: 600;
    color: #0092f5;
}
i.fa.fa-chevron-up {
    font-size: 13px;
    padding-left: 5px;
}
.hide_details {
    padding: 1%;
    text-align: center;
       color: #0092f5;
    border-top: 1px solid gainsboro;
}
.hide_details1  {
    padding: 1%;
    text-align: center;
    color: #00c1cf;
    border-top: 1px solid gainsboro;
}
.Description_section {
    padding: 4%;
}
span.tasker_name1 {
    
       color: #0092f5;
    font-weight: 400;
    font-size: 21px;
}
/*span.tasker_name {
    margin-left: 363px;
}*/
.location_min {
    padding: 4%;
    border-bottom: 1px solid #e0e2e4;
}
.datepicker_section {
    padding: 2%;
    border-bottom: 1px solid gainsboro;
}
.booking_status {
    background: #e4e5e6;   
    border-bottom: 1px solid gainsboro;
    padding: 1%;
}
.struture_whole {
    border: 1px solid gainsboro; 
border-radius:5px;  
background:#fff;
margin-bottom:10px;
}

span.date_selection1 {
    margin-left: 25%;
}
h4.tasks {
    color: #fff;
    
}
span.fate_time {
    padding-left: 12px;
    border-left: 1px solid grey;
}
hr {
    margin-top: 0% !important; 
     margin-bottom: 1.5rem !important;
    border: 1px solid transparent;
    border-top-color: #dce0e6;
}
select.selectpicker {
    width: 100%;
}
.loadersmall {
    position: absolute;
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    left: calc(50% - 45px);
    top: calc(50% - 0px);
}
.nocatlist {
    text-align: center;
    font-size: 21px;
    color: red;
    padding: 3em;
}
    a.btn.btn-secondary.btn-small.btn-sm-block.support-cta {
    width: 20%;
    font-size: 14px;
    padding: 1%;
    background: #4cadc9;
    color: #fff !important;
    border: 1px solid #4cadc9;
}
a:visited, .link:visited {
    color: #4cadc9!important;
}
a.btn.btn-secondary.btn-small.btn-sm-block.support-cta {
     width: 20%;
    font-size: 14px;
    padding: 1%;
}
.fortune_class {
    text-align: center !important;
}
.fortune_class p {
    width: 90%;
    font-size: 18px;
}
.fortune_class img {
    width: 224px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 10%;
}
.fortune_background {
    padding-left: 15%;
    padding-right: 15%;
}
h2.dashboard__get-started-title {
    color: #67727e;
    margin-top: 0;
    margin-bottom: 0em;
}
.dashboard__get-started-icon {
    background-color: #67727e;
    font-size: 1.25em;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 43px;
    font-weight: 600;
    color: white;
    margin-top: 7px;
}
/*.media--content {
    margin: 0 0 1.5rem 0 !important;
}*/
.search-bar-container {
max-width: 700px;
    margin: 0 !important;
    padding-top: 1rem;
}
@media screen and (max-width:800px) and (min-width: 200px){
.dashboard__get-started-container {
    padding-left: 5%;
    padding-right: 5%;
}
a.btn.btn-secondary.btn-small.btn-sm-block.support-cta {
    width: 90%;
    font-size: 14px;
    margin-left: 5%;
text-transform:lowercase;
}
.fortune_class p {
    width: 100%;
    font-size: 18px;
}
.fortune_background {
    padding-left: 5%;
    padding-right: 5%;
}

}
@media screen and (max-width:4400px) and (min-width: 1201px){

}
span.sitsh {
    cursor: pointer;
}
.drop_down_soon {
    position: absolute;
    background: #e4e5e6;
    right: 10px;    
    width: 25%;
    text-align: center;
    z-index: 99999;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
}
span.tasker_more {
    cursor: pointer;
}
.shmap{
    height: 300px;
}
.generalhandling_view2 {
   float: right;
    font-size: 15px;
    margin-top: 0px;
    font-weight: 500;
    color: #a5a5a5;
}
.pencount_current {
      display: inline;
    /* background: white; */
    padding: 4px 10px;
    border-radius: 5px;
    border: 1px solid #0092f5;
    margin-right: 10px;
}
.no_booking_parent {
    text-align: center;
    border: 1px solid #e4e4e4;
    padding: 3%;
}
span#no_bookings {
    font-size: 18px;
    color: grey;
}
.showing_deatils_block,.showing_deatils_block2 {
    height: 50px;
    background: #f1f1f1;
    width: 66.7%;
    margin: auto;
    margin-bottom: 15px;
    border: 1px solid #d6d6d6;
}
#load_more,#load_more2 {
    width: 50%;
    display: inline-block;
    background: #67bbf7;
    padding: 12px;
    text-align: center;
    color: #fff;
    font-size: 16px;
	float:right;
    cursor: pointer;
	border:0px
}
#load_more:hover,#load_more2:hover {
    background: #066fb9;
    transition: all 100ms ease-in-out;
}
.showing_book_info ,.showing_book_info2{
    width: 50%;
    float: left;
    text-align: center;
    line-height: 45px;
}
#load_more2:disabled {
    cursor: not-allowed;
    background: grey;
}
.no_padding{
	padding:0px!important;
}
input.form-control.has-error {
    border: 1px solid red;
}
.width_20 {
    width: 19%;
    float: left;
}
.width_80 {
    width: 80%;
    float: left;
}
span#search_bookings {
    padding: 10px;
    border: 1px solid #cecece;
    border-radius: 0px 5px 5px 0px;
}
span#search_bookings:hover {
    background: #0092f5;
	transition:all 200ms ease-in-out
}
span#search_bookings:hover span {
    color:#fff!important
}



/*LOADER CSS*/

.overlay{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.7);
  height:100%;
  width:100%;
  z-index:9999;
}
.wrap:before{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.wrap{
  position:relative;
  text-align:center;
  color:white;
  font-family:Arial;
  height:100%;
}
.center{
  display:inline-block;
  vertical-align:middle;
}
.document-loader{
  display:inline-block;
  min-width:100px;
  min-height:141px;
  position:relative;
  padding:5px;
  border-radius:4px;
  background: #6696bf;
  animation:slideInOut 1s ease infinite;
}
.document-loader:before{
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom-left-radius: 2px;
  border-width: 5px;
  border-style: solid;
  border-color: #4c4c4c #4c4c4c rgba(255,255,255,.35) rgba(255,255,255,.35);
  border-bottom-left-radius: 4px;
  border-width: 16px;
}
.document-loader .heading{
  display:block;
  height:8px;
  background:#333;
  width:0px;
  margin-bottom:5px;
  margin-top:5px;
  animation: growHeading 1s linear infinite;
}
.document-loader .heading.short{
  animation: growHeadingShort 1s linear infinite;
}
.document-loader .heading:first-child{
  margin-top:0px;
}
.document-loader .line{
  display:block;
  margin:3px 0 3px 0;
  background:#eee;
  height:4px;
  width:0px;
  animation: growLine 1s linear infinite;
}
.document-loader .line.short{
  margin-bottom:6px;
  animation: growLineShort 1s linear infinite;
}

@keyframes slideInOut{
  0%{
    transform:translateX(-100%);
    opacity:0;
  }
  20%{
    transform:translateX(-5%);
    opacity:1;
  }
  80%{
    transform:translateX(5%);
    opacity:1;
  }
  100%{
    transform:translateX(100%);
    opacity: 0;
  }
}

@keyframes growHeading{
  0%{
    width:0px;
  }
  60%{
    width:0;
  }
  70%{
    width:85px;
  }
  100%{
    width:90px;
  }
}

@keyframes growHeadingShort{
  0%{
    width:0px;
  }
  30%{
    width:0;
  }
  40%{
    width:45px;
  }
  100%{
    width:65px;
  }
}

@keyframes growLine{
  0%{
    width:0px;
  }
  60%{
    width:0px;
  }
  80%{
    width:85px;
  }
  100%{
    width:100px;
  }
}

@keyframes growLineShort{
  0%{
    width:0;
  }
  50%{
    width:0;
  }
  60%{
    width:70px;
  }
  100%{
    width:75px;
  }
}
input#search_booking_name:disabled {
    background: #eaeaea;
    cursor: not-allowed;
}
input.searching_content.has-error {
    border: 1px solid red;
}
.Invoice_section.hide_invoice {
    display: none;
}
img#sign_img {
    height: 150px;
    background: whitesmoke;
    width: 100%;
}
.overlay p {
    color: #fff;
    z-index: 9999999;
}
.display_not_assigned {
    display: none;
}
button#load_more:disabled {
    background: grey;
    cursor: not-allowed;
}
.remove_animate {
    position: absolute;
    left: -200%;
    background: #99deff;
    transition: all 100ms ease-in-out;
}