button.register_Teak_Reg_resr {
    background: #0092f5;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-weight: bolder;
    padding: 2%;
    margin-top: 3%;
}
input#phones {
    ont-weight: normal;
    border: 1px solid #b1b9c3;
    font-size: 1em;
    border-radius: 4px;
    -webkit-transition-property: border-color, color, box-shadow;
    transition-property: border-color, color, box-shadow;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    max-width: 100%;
    height: 40px;
}
input#phoness {
    font-weight: normal;
    border: 1px solid #b1b9c3;
    font-size: 1em;
    border-radius: 4px;
    -webkit-transition-property: border-color, color, box-shadow;
    transition-property: border-color, color, box-shadow;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    max-width: 100%;
    height: 40px;
}

/*new css for reset password*/

button.e-mail_reset {
    padding: 9px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: normal;
    text-tramsform: lowercase !important;
    color: #fff;
    background-color: #286090;
    border: 0;
    width: 30%;
}
button.phone_number_reset {
    padding: 9px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: normal;
    text-tramsform: lowercase !important;
    color: #fff;
    background-color: #286090;
    border: 0;
     width: 40%;}

     .E-mail_discuss {
    text-align: center;
    margin: 20px auto;
}
input#phone {
    font-weight: normal;
    border: 1px solid #b1b9c3;
    font-size: 1em;
    border-radius: 4px;
    -webkit-transition-property: border-color, color, box-shadow;
    transition-property: border-color, color, box-shadow;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    max-width: 100%;
    vertical-align: middle;
    min-height: 40px;
}




/*new css for reset password*/

@media screen and (max-width:768px) and (min-width: 200px){

    button.Signin_Onthepage {
    font-size: 18px !important;
}
button.Login_Onthepage {
    color: #0092f5;
    border: 1px solid #0092f5;
    background-color: white;
    width: 48%;
    float: left;
    display: inline-block;
    text-align: center;
    padding: 0.5em 1.38em 0.5em;
    border-radius: 4px;
    font-size: 18px !important;
}
}


 .logerror{
       display: inline-table;
    color: red;
    text-align: center;
    margin: 4px 0 0 0;
    border: 1px solid red;
    padding: 7px;
    }
/*    .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 .selected-flag {
   
       margin-top: 8px;
    } */
    .logsuccess{
     color:green;
    }
    .intl-tel-input {
     width: 100%!important;
    }
    .forerror{
      color:red;
      margin: 4px 0 0 0;
    }
    .forsuccess{
     color:green;
     margin: 4px 0 0 0;
    }
    
    #phone{
    display: inline !important;
    width: 100%!important;
/*    border-radius: 0px 5px 5px 0px !important;
    margin-left: -4px !important;
    border-left: 0 !important;*/
    }
.page_heading_container {
    display: none;
}

button.btn.btn-primary.u-full-width {
    text-transform: capitalize;
}
button.btn.btn-primary.u-full-width {   
      padding: 3%;
    border-radius: 4px;
    font-size: 18px;
    font-weight: normal;
text-tramsform:lowercase !important;
}
.reset_password {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding: 8%;
    margin-top: 10%;
width:98%;
margin-left:1%;
}
.panel--spaced {
    padding: 8%;
    padding-top:2.5%;
    max-width: 98%;
    margin-top: 4em;
margin-left:1%;
}
hr#signup_seperator {
    margin: 0px;
    margin-bottom: 10px;
}
.section_Login_NEW {
    margin-bottom: 4%;
}
.forgot:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #5aa1e3;
}
.forgot {
    cursor: pointer;
    text-align: center;
        font-size: 16px;
    text-decoration: none;
}
.forgot:hover {
    cursor: pointer;
}

p.or_Loginpage {
    font-size: 16px;
}
p.u-align--center a {
    color: #0092f5;
}
html {
     margin-top: 0px !important; 
}
header.page-header {
    display: none;
}
.login_Onthepage.pop {   
	margin-top: 10px;
    background: url(/wp-content/uploads/2017/01/login_page-landing-page.png) !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity .3s ease-in-out;
}
.loginpage_Ontheway {
color: #242a31;
    position: relative;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 95%;
    top: 8em;
    max-width: 100%;
    margin-bottom: 1em !important;
    border-radius: 4px;
    padding:5%;
    background: white;
    border: 1px solid #dce0e6;
}
button.Signin_Onthepage:hover {
    border: 1px solid #0092f5;
    background-color: #0092f5;
    color: #fff;
    cursor: pointer;

}
button.Login_Onthepage:hover {
    border: 1px solid #0092f5;
    background-color: #0092f5;
    color: #fff;
    cursor: pointer;
}
p.u-align--center {
    margin-top: 4%;
    font-size: 16px;
}
.section_Login_NEW {
    text-align: Center;
}
.ls-btn-container {
    width: 100%;
    display: inline-block;
}
button.Signin_Onthepage {
     color: #0092f5;
    border: 1px solid #0092f5;
    background-color: white;
    width: 48%;
   float: right; 
    display: inline-block;
    text-align: center;
    padding: 0.5em 1.38em 0.5em;
    border-radius: 4px;
    font-size: 21px;
}
button.Login_Onthepage {
    color: #0092f5;
    border: 1px solid #0092f5;
    background-color: white;
    width: 48%;
    float: left;
    display: inline-block;
    text-align: center;
    padding: 0.5em 1.38em 0.5em;
    border-radius: 4px;
    font-size: 21px;

}
button.google_OnthePage {
    background-color: #D73D32;
    border-color: #D73D32;
    margin-bottom: 1em;
    color: white;
    border: 1px solid #b1b9c3;
    cursor: pointer;
    outline: none;
    font-size: 22px;
    padding: 10px 10px 10px 10px;
    width: 100%;
border-radius:4px;
 font-size: 21px;
}
button.facebook_OnthePage {
    background-color: #3B5998;
    border-color: #3B5998;
    margin-bottom: 1em;
    color: white;
    width: 100%;
    outline: none;
    border-radius: 4px;
    padding: 10px 10px 10px 1px;
    border: 1px solid #b1b9c3;
    font-size: 22px;
    position:relative
}
.small, small {
    font-size: 90%;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=search]:focus, input[type=url]:focus, input[type=number]:focus, textarea:focus {
    color: #242a30;
    border-color: transparent;
    box-shadow: inset 0 0 0 1px #5aa1e3;
}

//css animation for loading bar

#circularG{
	position:relative;
	width:58px;
	height:58px;
	margin: auto;
}

.circularG{
	position:absolute;
	background-color:rgb(0,0,0);
	width:14px;
	height:14px;
	border-radius:9px;
		-o-border-radius:9px;
		-ms-border-radius:9px;
		-webkit-border-radius:9px;
		-moz-border-radius:9px;
	animation-name:bounce_circularG;
		-o-animation-name:bounce_circularG;
		-ms-animation-name:bounce_circularG;
		-webkit-animation-name:bounce_circularG;
		-moz-animation-name:bounce_circularG;
	animation-duration:1.1s;
		-o-animation-duration:1.1s;
		-ms-animation-duration:1.1s;
		-webkit-animation-duration:1.1s;
		-moz-animation-duration:1.1s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#circularG_1{
	left:0;
	top:23px;
	animation-delay:0.41s;
		-o-animation-delay:0.41s;
		-ms-animation-delay:0.41s;
		-webkit-animation-delay:0.41s;
		-moz-animation-delay:0.41s;
}

#circularG_2{
	left:6px;
	top:6px;
	animation-delay:0.55s;
		-o-animation-delay:0.55s;
		-ms-animation-delay:0.55s;
		-webkit-animation-delay:0.55s;
		-moz-animation-delay:0.55s;
}

#circularG_3{
	top:0;
	left:23px;
	animation-delay:0.69s;
		-o-animation-delay:0.69s;
		-ms-animation-delay:0.69s;
		-webkit-animation-delay:0.69s;
		-moz-animation-delay:0.69s;
}

#circularG_4{
	right:6px;
	top:6px;
	animation-delay:0.83s;
		-o-animation-delay:0.83s;
		-ms-animation-delay:0.83s;
		-webkit-animation-delay:0.83s;
		-moz-animation-delay:0.83s;
}

#circularG_5{
	right:0;
	top:23px;
	animation-delay:0.97s;
		-o-animation-delay:0.97s;
		-ms-animation-delay:0.97s;
		-webkit-animation-delay:0.97s;
		-moz-animation-delay:0.97s;
}

#circularG_6{
	right:6px;
	bottom:6px;
	animation-delay:1.1s;
		-o-animation-delay:1.1s;
		-ms-animation-delay:1.1s;
		-webkit-animation-delay:1.1s;
		-moz-animation-delay:1.1s;
}

#circularG_7{
	left:23px;
	bottom:0;
	animation-delay:1.24s;
		-o-animation-delay:1.24s;
		-ms-animation-delay:1.24s;
		-webkit-animation-delay:1.24s;
		-moz-animation-delay:1.24s;
}

#circularG_8{
	left:6px;
	bottom:6px;
	animation-delay:1.38s;
		-o-animation-delay:1.38s;
		-ms-animation-delay:1.38s;
		-webkit-animation-delay:1.38s;
		-moz-animation-delay:1.38s;
}



@keyframes bounce_circularG{
	0%{
		transform:scale(1);
	}

	100%{
		transform:scale(.3);
	}
}

@-o-keyframes bounce_circularG{
	0%{
		-o-transform:scale(1);
	}

	100%{
		-o-transform:scale(.3);
	}
}

@-ms-keyframes bounce_circularG{
	0%{
		-ms-transform:scale(1);
	}

	100%{
		-ms-transform:scale(.3);
	}
} 

@-webkit-keyframes bounce_circularG{
	0%{
		-webkit-transform:scale(1);
	}

	100%{
		-webkit-transform:scale(.3);
	}
}

@-moz-keyframes bounce_circularG{
	0%{
		-moz-transform:scale(1);
	}

	100%{
		-moz-transform:scale(.3);
	}
}
.error{
    border-color: red; 
    border-weight:1px, 
    border-style:solid
}
.regerror{
    color: red;
    text-align: center;
}
.regnumerror{
    color: red;
    text-align: center;
    
}
.loader_fb {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 50px;
    left: calc(50% - 25px);
    height: 50px;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader_fb {
    position: absolute;
    top: 0px;
}