  h2#emailError {
    color: red;
    font-size: 19px;
    text-align: center;
}
h2#emailSuccess {
    color: green;
    font-size: 19px;
    text-align: center;
}
.control__field {
   
    padding: 0px !important;
}
#verification1{
   border: 1px solid #eff3f7;
   border-bottom: 5px solid #b5b7b9;
    text-align: center;
}
#verification2{
    border: 1px solid #eff3f7;
   border-bottom: 5px solid #b5b7b9;
    text-align: center;
}
#verification3{
    border: 1px solid #eff3f7;
    border-bottom: 5px solid #b5b7b9;
    text-align: center;
}
#verification4{
    border: 1px solid #eff3f7;
   border-bottom: 5px solid #b5b7b9;
    text-align: center;
}
input[type=text]:focus {
   
    box-shadow: none;
}
 /* Today */
 .page {
    max-width: 500px !important;
       padding: 30px; 
    }
     .login-page {
    background-color: #fff;
    border-top: none !important;
    padding: 50px 440px 50px 100px;
    position: relative;
    width: 100%;
    margin-bottom: 140px;
}
.login-page.login-page--center {
   padding: 30px !important;
}
.login-page {
    padding: 0!important;
 
}
.control__field.control__field--activation {
   
    border-bottom: none!important;
    font-size: 24px !important;
   
}
.not-activated__divider {
    display: inline-block;
    width: 7px !important;
    /* height: 30px; */
    border-left: none !important;
}

.control__label.control__label--activation{
        margin-bottom: 20px;
}
span#verify-code {
    
    padding: 15px 0 !important;
    color: #fff;
}
img.imgctr {
    text-align: center;
    margin-left: auto;
    position: relative;
    margin-right: auto;
    width: 183px;
}

body.static-body.lp-none{
    background:url("http://iserve.ind.in/wp-content/uploads/2017/05/otp-1.png")50% 50% no-repeat;
    max-height: 632px;
}
.not-activated {
    background-color: initial !important;
}
header.page-header {
    
    display: none;
}
footer {
    display: none;
}
@media (max-width: 956px){
.login-page__header {
    display: block !important;
}
}
.login-page.login-page--margin-120{
    text-align: center;
}