
/*popup css*/
.adderror{
	color:red;
}
.header__navigation-container.header__navigation-container--mobile.u-hidden--lg.js-header-navigation--mobile {
    height: 100% !important;
    overflow: hidden;
    background: #51af33;
    width: 100%;
}
input#address-595-address2 {
    text-overflow: ellipsis;
}
input#address {
    text-overflow: ellipsis;
    width: 100%;
}
.confirm-lightbox--button-row button {
    font-size: 18px;
    width: 30%;
    text-transform: lowercase;
}
button.js-confirm.btn.btn-primary.close {
    background: rgba(0, 163, 254, 0.8);
    border: 1px solid rgba(0, 163, 254, 0.8);
}

@media (max-width: 500px)
{
.confirm-lightbox--button-row button {
    width: 100% !important;
    display: block;
    margin: 0;
}
.lightbox--content-wrapper {
    min-height: 41%;
    width: 100%;
}
}


/* end of popup css*/

.trust {
    width: 30px;
}

i.fa.fa-info {
    border: 2px solid rgba(0, 163, 254, 0.8);
    border-radius: 50px;
    width: 20px;
    text-align: center;
    font-size: 15px;
    outline: 0;
    color: rgba(0, 163, 254, 0.8);
}
a:visited, .link:visited {
    color: #8c008c;
}
a.build-subheader__mod-link.js-change-template {
    color: #8c008c;
}
.continue_blue:active {
    background: #8c008c !important;
    border: 1px solid #8c008c !important;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=search]:focus, input[type=url]:focus, input[type=number]:focus, textarea:focus {
    color: #242a30;
    border-color: transparent;
    box-shadow: inset 0 0 0 1px #00c1cf !important;
}
.tasker_avail:hover {
    
    background: #8c008c !important;
    color: #fff !important;
    border: 1px solid #8c008c;
}
.tasker_avail {
    width: 50%;
    background: #fff !important;
    color: #8c008c !important;
    border: 1px solid #8c008c;
    text-transform: lowercase;
}
.continue_option {
    font-size: 17px;
    background-color: #8c008c !important;
    border: 1px solid #8c008c !important;
    padding: 2% 0% 2% 0% !important;
    text-transform: lowercase;
    font-weight: 400;
}
button.btn.btn-primary.js-group-cta {
    font-size: 19px;
    text-transform: capitalize;
}
.continue_blue {
    background: #8c008c;
    border: 1px solid #8c008c;
}
.continue_blue:hover {
    background: #8c008c;
    border: 1px solid #8c008c;
}

@media screen and (max-width:1201px) and (min-width: 991px){

}
@media screen and (max-width:4400px) and (min-width: 1201px){

}