.col-md-12{
    width: 100%;
}
.col-md-4{
    width: 33.33%;
}
.confirm-box{
   width: 25% ;
}


.slot_Container{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 200;
}

.lightbox--content{
    padding: 10px 20px;
}

.slot_Container .lightbox--internal{
       width: 71% !important;
    max-width: 71% !important;
}

.slot_buttons:hover {
    background: #0c80a7;
    transition: all 100ms ease-in-out;
}
.slot_buttons {
    min-width: 262px;
   display: inline-block;
    background: #4ebade;
    margin:0px 10px 10px 0px;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    position: relative;
}

span.popup_pricing_slot{
    clear: both;
    padding: 0px 10px;
    background: #464646;
    border: 1px solid #464646;
    border-radius: 4px;
    float: left;
    margin-right: 10px;
}

.go_for_book{
    float: right;
    width:auto;
}

.cancel_book{
    float: right;
    width: auto;
    margin: 0px 10px;
}

.book_slot{
    float: left;
    width: 100%;
    padding: 10px;
}


.go_for_book span{
    background: #ff9800;
    color: #fff;
    padding: 5px 16px;
    border-radius: 4px;
}


.go_for_book span:hover{
     cursor: pointer;
     background: #ff8300;
     transition: all 100ms ease-in-out;
}


.cancel_book span{
    background: #666666;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
}

.active_slot{
     background: #0c80a7 !important;
}

.cancel_book span:hover{
    background: #888888;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.slot_error{
    float: left;
    padding: 0px 20px;
    text-align: center;
    color: red;
}
@-webkit-keyframes lightboxExpandIn{0%{-webkit-transform:translateY(-75%) translateX(-50%);transform:translateY(-75%) translateX(-50%)}100%{-webkit-transform:translateY(-50%) translateX(-50%);transform:translateY(-50%) translateX(-50%)}}@keyframes lightboxExpandIn{0%{-webkit-transform:translateY(-75%) translateX(-50%);transform:translateY(-75%) translateX(-50%)}100%{-webkit-transform:translateY(-50%) translateX(-50%);transform:translateY(-50%) translateX(-50%)}}@-webkit-keyframes lightboxFadeIn{0%{opacity:0}100%{opacity:0.5}}@keyframes lightboxFadeIn{0%{opacity:0}100%{opacity:0.5}}.lightbox--container{position:fixed;left:0;right:0;top:0;bottom:0;z-index:200}.lightbox--background{position:fixed;left:0;right:0;top:0;bottom:0;background-color:#242a30;-webkit-animation-name:lightboxFadeIn;animation-name:lightboxFadeIn;-webkit-animation-duration:0.25s;animation-duration:0.25s;opacity:0.5}.lightbox--internal{position:fixed;min-width:275px;max-height:100vh;left:50%;top:50%;cursor:default;overflow-y:auto;box-shadow:0px 2px 2px 0px rgba(36,42,48,0.1);-webkit-transform:translateY(-50%) translateX(-50%);transform:translateY(-50%) translateX(-50%)}.lightbox--content-wrapper{border-radius:8px;overflow:hidden;position:relative;background:white}.lightbox--title{padding:0.5rem 1rem;font-weight:300;font-size:1.75rem}.lightbox--content-wrapper .page-loader{top:auto}.lightbox--content{padding:5px 1rem}.is-hidden+.lightbox--content{padding:1rem 2rem}.lightbox--dismiss{position:absolute;vertical-align:middle;top:0.75rem;right:1rem;font-size:1.125rem}.lightbox--dismiss,.lightbox--dismiss:visited,.lightbox--dismiss:hover{color:#242a30}@media all and (min-width: 501px){.lightbox--dismiss{font-size:1.5rem}}.lightbox--title.is-hidden ~ .lightbox--dismiss{top:1rem;right:1rem}.lightbox--title.is-hidden ~ .lightbox--dismiss,.lightbox--title.is-hidden ~ .lightbox--dismiss:visited,.lightbox--title.is-hidden ~ .lightbox--dismiss:hover{color:#242a30}.lightbox--background.js-dismiss,.lightbox--background .js-dismiss{cursor:pointer}.confirm-lightbox{max-width:400px}.confirm-lightbox--button-row{direction:rtl}.confirm-lightbox--button-row button{margin:0 0.25em}@media all and (max-width: 500px){.lightbox--internal{height:98%;width:98%;max-height:none;max-width:none}.lightbox--content-wrapper{min-height:100%;width:100%}.confirm-lightbox--button-row button{width:100%;display:block;margin:0}.confirm-lightbox--button-row button+button{margin-top:0.5em}}@media all and (min-width: 501px) and (max-width: 800px), all and (min-width: 801px) and (max-width: 1024px){.lightbox--internal{width:85vw}}@media all and (min-width: 1025px), all and (min-width: 1201px){.lightbox--internal{max-width:75vw}}.ReactModal__Overlay{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}.new-tooltip{position:absolute;z-index:100}.new-tooltip__interior{position:relative;background:white;border:1px solid #dce0e6;border-radius:4px;max-width:450px;box-shadow:0px 2px 2px 0px rgba(36,42,48,0.15)}.new-tooltip__content{padding:1.25rem;overflow-y:auto}.new-tooltip__title{border-bottom:1px solid #dce0e6;padding:1.25rem 1.25rem 0.625rem;font-weight:600}.new-tooltip__caret{display:block;width:16px;height:16px;position:absolute}.new-tooltip__caret:before,.new-tooltip__caret:after{content:'';display:block;position:relative}.new-tooltip[data-tt-placement*="t"] .new-tooltip__caret{top:100%;margin-left:-16px}.new-tooltip[data-tt-placement*="t"] .new-tooltip__caret:before{border-left:16px solid transparent;border-right:16px solid transparent;border-top:16px solid #dce0e6}.new-tooltip[data-tt-placement*="t"] .new-tooltip__caret:after{top:-16px;left:1px;border-left:15px solid transparent;border-right:15px solid transparent;border-top:15px solid white}.new-tooltip[data-tt-placement="t"] .new-tooltip__caret{left:50%}.new-tooltip[data-tt-placement="lt"] .new-tooltip__caret{left:auto;right:32px}.new-tooltip[data-tt-placement="rt"] .new-tooltip__caret{right:auto;left:32px}.new-tooltip[data-tt-placement*="b"] .new-tooltip__caret{top:-16px;margin-left:-16px}.new-tooltip[data-tt-placement*="b"] .new-tooltip__caret:before{border-left:16px solid transparent;border-right:16px solid transparent;border-bottom:16px solid #dce0e6}.new-tooltip[data-tt-placement*="b"] .new-tooltip__caret:after{top:-15px;left:1px;border-left:15px solid transparent;border-right:15px solid transparent;border-bottom:15px solid white}.new-tooltip[data-tt-placement="b"] .new-tooltip__caret{left:50%}.new-tooltip[data-tt-placement="bl"] .new-tooltip__caret{left:auto;right:32px}.new-tooltip[data-tt-placement="br"] .new-tooltip__caret{right:auto;left:32px}.new-tooltip[data-tt-placement="l"] .new-tooltip__caret{top:50%;left:100%;-webkit-transform:translateY(-16px);transform:translateY(-16px)}.new-tooltip[data-tt-placement="l"] .new-tooltip__caret:before{border-top:16px solid transparent;border-bottom:16px solid transparent;border-left:16px solid #dce0e6}.new-tooltip[data-tt-placement="l"] .new-tooltip__caret:after{top:-31px;border-top:15px solid transparent;border-bottom:15px solid transparent;border-left:15px solid white}.new-tooltip[data-tt-placement="r"] .new-tooltip__caret{top:50%;left:0;-webkit-transform:translateX(-16px) translateY(-16px);transform:translateX(-16px) translateY(-16px)}.new-tooltip[data-tt-placement="r"] .new-tooltip__caret:before{border-top:16px solid transparent;border-bottom:16px solid transparent;border-right:16px solid #dce0e6}.new-tooltip[data-tt-placement="r"] .new-tooltip__caret:after{top:-31px;border-top:15px solid transparent;border-bottom:15px solid transparent;border-right:15px solid white}.pagination{text-align:center}.pagination>*{padding:0.125rem 0.4em;line-height:1.25rem;display:inline-block;border-radius:2px}.pagination *{vertical-align:middle}.pagination .pagination-caret{border:1px solid #51af33;font-size:0.8em;margin:0 .5rem}.pagination .pagination-caret,.pagination .pagination-caret i{color:#51af33}.pagination .current{border:none;color:#242a30}.pagination .disabled{color:#545e69}.search-bar-container{position:relative;max-width:510px;margin:0 auto;width:100%}.search-bar-container .page-loader{display:none;margin:-1.5em 0 0 1em;top:50%;font-size:9px;position:relative;text-indent:-9999em;border-top:0.5em solid #dce0e6;border-right:0.5em solid #dce0e6;border-bottom:0.5em solid #dce0e6;border-left:0.5em solid #86919d;-webkit-animation:loader 1.1s infinite linear;animation:loader 1.1s infinite linear}.search-bar-container .page-loader,.search-bar-container .page-loader:after{border-radius:50%;width:2.5em;height:2.5em}@media all and (min-width: 801px) and (max-width: 1024px), all and (min-width: 1025px){.search-bar-container{margin:0.5em auto;margin-top:2em}}@media all and (max-width: 500px), all and (min-width: 501px) and (max-width: 800px){.search-bar-container{margin-top:1em}.search-bar-container:not([data-query="empty"]){position:fixed;overflow:scroll;top:0;bottom:0;left:0;right:0;background-color:#f9fafb;z-index:150;padding:1em;margin-top:0}.search-bar-container:not([data-query="empty"]) .sb-input{border:1px solid #dce0e6}}.sb-results--item{-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;outline:none;background-color:white}.sb-container--input{position:relative;border:none}.sb-input--icon,.sb-input--clear{position:absolute;-webkit-transform:translateY(-50%);transform:translateY(-50%);top:50%;z-index:50;font-size:1.125em}.sb-input--icon{color:#51af33;margin-left:.75rem}.sb-input--clear{padding:0.25em;right:10px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.sb-input--clear i{background-color:#dce0e6;display:inline-block;border-radius:50%;color:white}@media all and (min-width: 801px) and (max-width: 1024px), all and (min-width: 1025px){.sb-input--clear i:hover{cursor:pointer}}.search-bar-container .sb-input{padding-left:2.5em;z-index:50;border:1px solid #dce0e6;width:100%}.search-bar-container .sb-input:focus{border:1px solid #dce0e6;box-shadow:none}.search-bar-container[data-query="empty"] .sb-input--clear{display:none}.search-bar-container:not([data-query="empty"]) .sb-input{padding-right:2.125em}.search-bar-container[data-list="hidden"] .sb-container--results{display:none}.sb-container--results[data-list="hidden"]{display:none}.search-bar-container:not([data-list="hidden"]) .sb-input{border-bottom-left-radius:0px;border-bottom-right-radius:0px}.search-bar-container[data-query="fetching"] .ss-magnifier{display:none}.search-bar-container[data-query="fetching"] .page-loader{display:block;position:absolute}.sb-container--results{background-color:#f9fafb;width:100%;color:#242a30;border-bottom-left-radius:4px;border-bottom-right-radius:4px;box-shadow:0 2px 4px 1px rgba(177,185,195,0.3);overflow:hidden;border:1px solid #dce0e6;border-top:none;z-index:100;position:relative}.sb-results--item{background-color:white;text-align:left}.sb-results--item[data-state="highlighted"],.sb-results--item:hover{background-color:#f9fafb}.sb-results--item .media--object{-webkit-box-align:stretch;-webkit-align-items:stretch;-ms-flex-align:stretch;align-items:stretch}.sb-results--item .media--figure{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.sb-results--item a{display:block;padding:0.75em 0.825em}.sb-results--item .media--content{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.sb-results__results-item__img{border-radius:50%;height:60px;width:60px}.sb-results__promo-item{border:2px solid #e8ebef;border-top:none;position:relative}.sb-results__promo-item__title{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;height:40px;background:#e8ebef;position:relative}.sb-results__promo-item-value{color:#36b5bb;font-weight:600}@media all and (min-width: 801px) and (max-width: 1024px), all and (min-width: 1025px){.sb-results__promo-item-value{position:absolute;top:.5em;right:0}}.sb-results--general{border-top:1px solid #dce0e6;padding:0.75em 0.825em}.sb-results--general,.sb-results--general p{text-align:left;font-weight:normal;color:#242a30;font-size:0.875rem;margin-bottom:0}.sb-results--general p{font-weight:600}.sb-results--not-found a{font-size:1rem}@media all and (min-width: 801px) and (max-width: 1024px), all and (min-width: 1025px){.sb-container--results{position:absolute}.sb-results--general,.sb-results--item a{padding:0.75em 1.4em}}@media all and (max-width: 500px), all and (min-width: 501px) and (max-width: 800px){body[data-is-searching]{position:fixed}}@-webkit-keyframes loader{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes loader{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.credit-card--type-indicator{display:inline-block;width:28px;height:19px;-webkit-transition:background-position 0.25s ease-in-out;transition:background-position 0.25s ease-in-out;background-image:url("https://d31ebqhycylygn.cloudfront.net/v3/assets/web/credit-card-types-sprite-5920baac45f385382cc7b296d2729a4c.png");background-size:28px auto;background-position:0 -144px;background-repeat:no-repeat}.credit-card--type-indicator[data-card-type="amex"]{background-position:0 0}.credit-card--type-indicator[data-card-type="discover"]{background-position:0 -24px}.credit-card--type-indicator[data-card-type="visa"]{background-position:0 -48px}.credit-card--type-indicator[data-card-type="mastercard"]{background-position:0 -72px}.credit-card--type-indicator[data-card-type="jcb"]{background-position:0 -96px}.credit-card--type-indicator[data-card-type="diners"]{background-position:0 -120px}@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5){.credit-card--type-indicator{background-image:url("https://d31ebqhycylygn.cloudfront.net/v3/assets/web/credit-card-types-sprite@2x-b8816f53f74cf7fa114a4467dc2ce162.png")}}.banner--notice{font-weight:600}@media all and (max-width: 500px){.build-container{padding-left:0.5rem;padding-right:0.5rem}}@media all and (min-width: 1025px){.supplemental-info__modal-body{width:70vw;padding:1rem}}@media all and (min-width: 1201px){.supplemental-info__modal-body{width:830px;padding:1rem}}.supplemental-info__offering-row{background:#e8ebef;margin-bottom:1.75rem;margin-left:-3rem;margin-right:-3rem}.supplemental-info__offering-img{display:block;margin:0 auto}@media all and (max-width: 500px){.supplemental-info__offering-img{width:96px;height:96px}}@media all and (min-width: 801px) and (max-width: 1024px), all and (min-width: 1025px){.supplemental-info__section{padding-left:1.5rem}}.supplemental-info__section-title{font-size:1.125rem;font-weight:normal}.confirmation--main .confirmation--section{padding:1.5rem 0}.confirmation--main .confirmation__job-info-header{padding-bottom:1rem}.confirmation--main .confirmation--section:not(:first-child),.confirmation--main .confirmation__bordered-top{border-top:1px solid #dce0e6}.confirmation--main .confirmation__section-label,.confirmation--main .confirmation__field-label{display:block;font-size:0.875rem}.confirmation--main .confirmation__section-label{color:#545e69}.confirmation--main .confirmation__section-value,.confirmation--main .confirmation__section-value p{font-size:1.125rem;font-weight:normal}.confirmation--main input,.confirmation--main button{width:100%}.confirmation--main .confirmation__cta-help{margin-top:2rem}.confirmation--main .confirmation--promo-container{margin-top:2rem}.confirmation--main .confirmation--payment-show .credit-card--type-indicator{position:relative;top:0.25rem;left:1rem}.confirmation--main .confirm-book-btn{width:230px;margin:0 auto}.confirmation--main .confirm-book__cancel-reassure{margin-top:.5em}.confirmation--main .floating-cta.is-stuck{position:fixed;width:100%;text-align:center;left:0;bottom:0;z-index:1000;background:white;padding:1rem;box-shadow:-3px 0 7px rgba(0,0,0,0.25)}.confirmation--main .floating-cta .hidden-when-stuck{visibility:hidden;display:none}.confirmation--main .is-stuck .hidden-when-stuck{display:block;visibility:visible}.confirmation--main .month-field{padding-right:4px}.confirmation--main .confirmation--payment-form input{width:100%}.confirmation--main .confirmation--payment-form select{width:98%}.confirmation--main .confirmation--payment-form .confirmation--form-height{height:22px}.confirmation--main .confirmation--payment-form .confirmation--help{margin:0.5rem 0}.confirmation--main .confirmation--payment-form .confirmation--payment-cancel-container{position:relative}.confirmation--main .confirmation--payment-form .confirmation--payment-cancel{position:absolute;right:0;z-index:50;font-size:0.875rem}.confirmation--main .confirmation--payment-form .credit-card--type-indicator{margin-top:2.33rem}.confirmation--main .confirmation__description-toggle,.confirmation--main .confirmation__payment-info-edit{font-size:0.875rem}.confirmation--main .error-container input:focus,.confirmation--main .error-container select:focus{box-shadow:none}.confirmation--main .error-container:after{display:block}.confirmation--main .credit-card--type-name{text-transform:uppercase;margin-left:0.25em;line-height:25px;vertical-align:top}.confirmation--main .confirmation__promo-description{right:1em;top:0;font-size:1.125rem;color:#36b5bb;line-height:44px}.confirmation--main .confirmation--job-info-time{margin-top:0.5rem}.confirmation--main .confirmation__job-info-recurring-savings{font-weight:normal}.confirmation--main .confirmation__recurring-lockup{font-size:1.125rem;color:#36b5bb}.confirmation--main .confirmation__recurring-lockup-icon{font-size:1rem}.confirmation--main .confirmation__invitee-avatar{border-radius:4px;margin-top:.4em}.confirmation--main .confirmation__job-info-list-icon{display:inline-block;text-align:left}.confirmation--main .confirmation__job-info-list-item{padding:0.5rem 0}.confirmation--main .confirmation__job-info-list-value{display:inline-block;margin-left:.5rem}.confirmation--main .confirmation--error-list{color:#da9e07;font-weight:600}.confirmation--main .confirmation__hourly-rate{display:inline-block;font-size:1.75rem;letter-spacing:.05rem}.confirmation--main .confirmation__formatted-hourly-rate{font-weight:normal}@media all and (min-width: 501px){.confirmation--main .confimationB-container{padding:0 2.5rem}.confirmation--main .confirmation--section{padding:1.5rem 0 0}.confirmation--main .confirmation--contact-section{padding-bottom:10px}.confirmation--main .confirmation__job-info-header{padding-bottom:1.25rem}}@media all and (min-width: 801px) and (max-width: 1024px), all and (min-width: 1025px){.confirmation--main .confirmation__job-info-header{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row nowrap;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.confirmation--main .confirmation__rate-plus-savings{text-align:right}.confirmation--main .confirmation__job-info-invitee{padding-left:3rem;border-left:1px solid #dce0e6}}@media all and (max-width: 500px), all and (min-width: 501px) and (max-width: 800px){.confirmation--main .confimationB-container{padding:0 1.5rem}.confirmation--main .confirmation__job-info-subitems{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row nowrap;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;width:100%}.confirmation--main .confirmation__recurring-lockup--sm{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row nowrap;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.confirmation--main .confirmation__recurring-lockup-icon{margin-right:.25em}}@media all and (min-width: 501px) and (max-width: 800px){.confirmation__rate-plus-savings{text-align:left}}@media all and (max-width: 500px){.confirmation__main-body{padding-top:0}.confirmation__build-container{padding-left:0;padding-right:0}.confirmation--main .confimationB-container{margin-top:0 !important}.confirmation--main .confirmation__job-info-header{-webkit-flex-flow:column nowrap;-ms-flex-flow:column nowrap;flex-flow:column nowrap;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;padding-bottom:1.5rem}.confirmation--main .confirmation__hourly-rate{font-size:1.5rem;margin-left:auto;margin-right:auto}.confirmation--main .confirmation__rate-plus-savings{text-align:center}.confirmation--main .confirmation__job-info-title{margin-bottom:1.5rem;text-align:center}.confirmation--main .confirmation__job-info-title h2{font-size:2rem;line-height:1.25em}}.confirmation__supplemental-infos{margin-top:.25rem;display:inline-block;font-weight:normal}.build-group__items-container{display:none}.build-group__title{text-transform:uppercase;color:#545e69;font-size:1rem;font-weight:normal}.build-group__summary{font-weight:normal;line-height:1.25em}.build-group__summary li{padding:0.25em 0}.build-group__summary i{margin-right:0.5em;color:#86919d}.build-group__cta{text-align:center;padding:1rem 0;position:relative}.build-group__cta-subtext{margin-top:1rem;color:#545e69;font-size:0.875rem;text-align:center}.build-group__cta-tooltip{font-size:0.875rem}@media all and (min-width: 801px) and (max-width: 1024px), all and (min-width: 1025px){.build-group__cta-tooltip-container{position:relative;display:inline-block;top:-1.875rem;left:1.5rem;width:0;height:0;overflow:visible}.build-group__cta-tooltip{width:300px;text-align:left}}@media all and (max-width: 500px), all and (min-width: 501px) and (max-width: 800px){.build-group__cta-tooltip-container{margin-top:1.5rem}.build-group__cta-tooltip{display:block;max-width:300px;margin:0 auto;position:relative}}.build-group__status-icon{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;text-decoration:none;text-rendering:optimizeLegibility;white-space:nowrap;line-height:1;-webkit-font-feature-settings:"liga";-moz-font-feature-settings:"liga=1";-moz-font-feature-settings:"liga";-ms-font-feature-settings:"liga" 1;-o-font-feature-settings:"liga";font-feature-settings:"liga";-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;position:absolute;right:1.375rem;top:1.375rem}.build-form-input{padding:1rem 0}.build-form-input[data-field-type="group"]{position:relative;padding:1.375rem}.build-form-input[data-field-type="group"][data-state="summary"][data-editing="false"]{cursor:pointer}.build-form-input[data-field-type="group"][data-state="summary"][data-editing="false"] .build-group__status-icon{color:#86919d}.build-form-input[data-field-type="group"][data-state="summary"][data-editing="false"] .build-group__status-icon:before{content:"\e370"}.build-form-input[data-field-type="group"][data-state="summary"][data-editing="false"]:hover .build-group__status-icon:before{content:"\e00d"}.build-form-input[data-field-type="group"] .build__form-banner{margin-left:-1.375rem;margin-right:-1.375rem}.build-form-input[data-field-type="radio"] li,.build-form-input[data-field-type="checkboxes"] li,.build-form__list-inputs li{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding-bottom:0.25rem;position:relative}.build-form-input[data-field-type="radio"] input,.build-form-input[data-field-type="checkboxes"] input,.build-form__list-inputs input{-webkit-box-flex:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;height:1.25em;margin-right:0.5rem}.build-form-input[data-field-type="radio"] input+label,.build-form-input[data-field-type="checkboxes"] input+label,.build-form__list-inputs input+label{-webkit-box-flex:1;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;line-height:1.25em}.build-form-input[data-field-name="job_size"] label strong,.build-form-input[data-field-name="job_size"] label span,.build-form-input[data-field-name="tools"] .build-form-input[data-field-name="seconds_between"] label strong,.build-form-input[data-field-name="tools"] .build-form-input[data-field-name="seconds_between"] label span{display:block}.build-form-input[data-field-name="job_size"] label span:only-child,.build-form-input[data-field-name="tools"] .build-form-input[data-field-name="seconds_between"] label span:only-child{font-weight:bold}.build-form-input[data-field-name="job_size"] .build-form-input__title,.build-form-input[data-field-name="tools"] .build-form-input__title,.build-form-input[data-field-name="vehicle_requirement"] .build-form-input__title,.build-form-input[data-field-name="seconds_between"] .build-form-input__title{font-size:1.25rem;padding-bottom:0.25em;border-bottom:1px solid #dce0e6;margin-bottom:1rem}.build-form-input[data-field-type="address"] .build-form__list-inputs{margin-bottom:1rem}.build-form-input[data-field-type="address"] input[type="text"],.build-form-input[data-field-type="address"] textarea,.build-form-input[data-field-type="text"] input[type="text"],.build-form-input[data-field-type="text"] textarea{width:100%}.build-form-input[data-field-type="text"] textarea{resize:none;height:10em;width:100%;display:block}.build-form-input[data-field-name="job_size"] .build-input-list li,.build-form-input[data-field-name="tools"] .build-input-list li{padding-right:0.5rem}@media all and (min-width: 801px) and (max-width: 1024px), all and (min-width: 1025px){.build-form-input[data-field-name="job_size"] .build-input-list:after,.build-form-input[data-field-name="tools"] .build-input-list:after{content:"";clear:both;display:table}.build-form-input[data-field-name="job_size"] .build-input-list li,.build-form-input[data-field-name="tools"] .build-input-list li{float:left;width:33%}.build-form-input[data-field-name="job_size"] .build-input-list li:nth-child(3n+1),.build-form-input[data-field-name="tools"] .build-input-list li:nth-child(3n+1){clear:left}}.build-form-input[data-field-name="seconds_between"] .build-input-list li{padding-right:0.5rem}@media all and (min-width: 801px) and (max-width: 1024px), all and (min-width: 1025px){.build-form-input[data-field-name="seconds_between"] .build-input-list:after{content:"";clear:both;display:table}.build-form-input[data-field-name="seconds_between"] .build-input-list li{float:left;width:50%}.build-form-input[data-field-name="seconds_between"] .build-input-list li:nth-child(2n+1){clear:left}.build-form-input[data-field-name="seconds_between"] .build-input-list li:nth-child(n+3){padding-top:1.5rem}}.build--datetime-windows{position:relative;overflow-x:hidden;margin-top:1rem;height:228px}.build--datetime-windows .page-loader{margin:80px auto 0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.build--datetime-windows .is-disabled{opacity:0.3;color:#b1b9c3;cursor:not-allowed;pointer-events:none}.build--datetime-windows .build--datetime-windows-viewport{position:relative;left:0;padding:0 3rem;white-space:nowrap}.build--datetime-windows .build--datetime-windows-control{position:absolute;left:0;top:0;bottom:0;width:2rem;text-align:center;background:-webkit-linear-gradient(0deg, #fff, #fff 50%, rgba(255,255,255,0));background:linear-gradient(90deg, #fff, #fff 50%, rgba(255,255,255,0))}.build--datetime-windows .build--datetime-windows-control i{position:absolute;top:50%;left:0;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.build--datetime-windows .build--datetime-windows-control[data-direction="right"]{left:auto;right:0;background:-webkit-linear-gradient(180deg, #fff, #fff 50%, rgba(255,255,255,0));background:linear-gradient(-90deg, #fff, #fff 50%, rgba(255,255,255,0))}.build--datetime-windows .build--datetime-windows-control[data-direction="right"] i{left:auto;right:0}.build--datetime-windows .build--datetime-windows-change-day{width:270px;height:218px;padding:0 2rem;position:relative;display:inline-block;white-space:normal;vertical-align:top}.build--datetime-windows .build--datetime-windows-change-day:not(:last-child){border-right:1px solid #dce0e6}.build--datetime-windows .build--datetime-windows-change-day .build--datetime-windows-change-title{font-size:1.125rem}.build--datetime-windows .build--datetime-windows-change-day .btn{margin-top:0.3rem;padding-left:0;padding-right:0}.build--datetime-windows .build__datetime-slot-btn{background-color:#f9fafb;border:1px solid #b1b9c3;color:#545e69}.build--datetime-windows .build__datetime-slot-btn.is-selected{background-color:#51af33;border-color:#51af33;color:white}.build--datetime-windows .build__datetime-slot-btn[disabled]{background-color:#f9fafb;border-color:#dce0e6;color:#b1b9c3}.build--datetime-windows .build--datetime-windows-change-sameday-content .build--datetime-windows-change-text{position:absolute;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:186px;top:50%;left:32px;right:32px;text-align:center}.build--datetime-windows .build--datetime-windows-change-sameday-content select{position:absolute;width:186px;bottom:0;left:32px;right:32px}.build__location-validation{color:#36b5bb}.build-group[data-field-name="ikea_products_group"]{overflow:visible}.ca-moving-disclaimer__text{margin-top:1rem;margin-bottom:-0.25rem;font-size:0.875rem}.build-hire-content{padding-top:0.5rem}.search-bar-container--ikea{position:relative;margin:0 auto;width:100%}.search-bar-container--ikea .page-loader{display:none;margin:-1.5em 0 0 1em;top:50%;font-size:9px;position:relative;text-indent:-9999em;border-top:0.5em solid #dce0e6;border-right:0.5em solid #dce0e6;border-bottom:0.5em solid #dce0e6;border-left:0.5em solid #86919d;-webkit-animation:loader 1.1s infinite linear;animation:loader 1.1s infinite linear}.search-bar-container--ikea .page-loader,.search-bar-container--ikea .page-loader:after{border-radius:50%;width:2.5em;height:2.5em}@media all and (min-width: 801px) and (max-width: 1024px), all and (min-width: 1025px){.search-bar-container--ikea{margin:0 auto}.search-bar-container--ikea:not([data-query="empty"]):not([data-list="hidden"]) .sb-container--results{box-shadow:0 2px 4px 1px rgba(177,185,195,0.3)}}@media all and (max-width: 500px), all and (min-width: 501px) and (max-width: 800px){.search-bar-container--ikea{margin-top:1em}.search-bar-container--ikea:not([data-query="empty"]){position:fixed;overflow:scroll;top:0;bottom:0;left:0;right:0;background-color:#f9fafb;z-index:150;padding:1em;margin-top:0}.search-bar-container--ikea:not([data-query="empty"]) .sb-input{border:1px solid #dce0e6}}.sb-results--item{-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;outline:none;background-color:white}.sb-container--input{position:relative;border:none}.sb-input--clear{position:absolute;-webkit-transform:translateY(-50%);transform:translateY(-50%);top:50%;z-index:50;font-size:1.125em}.sb-input--clear{padding:0.25em;right:10px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;font-size:0.875rem}.sb-input--clear i{display:inline-block;color:#86919d;background-color:transparent}@media all and (min-width: 801px) and (max-width: 1024px), all and (min-width: 1025px){.sb-input--clear i:hover{cursor:pointer}}.sb-input{padding-left:2.5em;z-index:50;border:1px solid #dce0e6;width:100%}.search-bar-container--ikea[data-query="empty"] .sb-input--clear{display:none}.search-bar-container--ikea:not([data-query="empty"]) .sb-input{padding-right:2.125em}.search-bar-container--ikea[data-list="hidden"] .sb-container--results{display:none}.search-bar-container--ikea:not([data-list="hidden"]) .sb-input{border-bottom-left-radius:0px;border-bottom-right-radius:0px}.search-bar-container--ikea[data-query="fetching"] .ss-magnifier{display:none}.search-bar-container--ikea[data-query="fetching"] .page-loader{display:block;position:absolute}.sb-container--results{background-color:#f9fafb;width:100%;color:#242a30;border-bottom-left-radius:4px;border-bottom-right-radius:4px;overflow:hidden;border:1px solid #dce0e6;border-top:none;z-index:100;position:relative}.sb-results--item{background-color:white;text-align:left;border-bottom:1px solid #dce0e6}.sb-results--item:last-child{border-bottom:none}.sb-results--item[data-state="highlighted"],.sb-results--item:hover{background-color:#f9fafb}.sb-results--item .media--object{-webkit-box-align:stretch;-webkit-align-items:stretch;-ms-flex-align:stretch;align-items:stretch}.sb-results--item .media--figure{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.sb-results--item a{color:#242a30;display:block;padding:0.75em 0.825em}.sb-results--item .media--content{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.sb-results__results-item__img{border-radius:50%;height:60px;width:60px}.sb-results--general{border-top:1px solid #dce0e6;padding:0.75em 0.825em}.sb-results--general,.sb-results--general p{text-align:left;font-weight:normal;color:#242a30;font-size:0.875rem;margin-bottom:0}.sb-results--general p{font-weight:600}.sb-results--not-found a{font-size:1rem}@media all and (min-width: 801px) and (max-width: 1024px), all and (min-width: 1025px){.sb-container--results{position:absolute}.sb-results--general,.sb-results--item a{padding:0.75em 1.4em}}@media all and (max-width: 500px), all and (min-width: 501px) and (max-width: 800px){body[data-is-searching]{position:fixed}}@-webkit-keyframes loader{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes loader{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.ikea-products__subtotal-row{border-top:1px solid #dce0e6}.ikea-products__subtotal-price{font-size:1.75rem;font-weight:normal;margin-left:1rem}.ikea-products__confirm-item{padding:.5rem 0}.ikea-products__article-num{margin-left:.5rem}.ikea-products__list{padding-top:1.5rem}.ikea-products__qty-input{margin-right:1rem}.ikea-products__qty-input--label{margin-right:0.5rem}.ikea-products__qty-input--value{margin:0 0.5rem;display:inline-block;width:2rem;text-align:center}.ikea-products__qty-input--btn{padding:0 0.5rem}.ikea-products__remove-link{margin-right:0.5rem}.login-signup-container .title{text-align:center;margin-bottom:1em}.login-signup-container .input-group:last-of-type{margin-bottom:1em}.login-signup-container .btn{margin-bottom:1em}.login-signup-container .btn[type="submit"]{margin-bottom:0}.login-signup-container form{margin-bottom:0.25rem}.login-signup-container p{margin-bottom:0}.login-signup-container .btn-divider{text-align:center;margin:0.5rem 0}.login-signup-container .disclaimer{text-align:center;font-size:0.875em}.login-signup-container .alt-view{margin-top:0.725rem;font-size:1.125em;text-align:center}@media all and (min-width: 501px) and (max-width: 800px){.ls-lightbox-content{min-width:60vw}}@media all and (min-width: 801px) and (max-width: 1024px), all and (min-width: 1025px){.ls-lightbox-content{width:450px}}.profile__header{padding:2rem 0;background-image:url(https://d31ebqhycylygn.cloudfront.net/v3/assets/web/profile/other-e1c97a9c7c7bf6fe3ab0cab2e43ab2e9.jpg);background-repeat:no-repeat;background-size:cover;text-align:center;color:white}.profile__header p{color:white}.profile__headshot-img{width:172px;height:172px;border:4px solid white;border-radius:50%}.profile__headshot-banner{background:#36b5bb;color:white;text-transform:uppercase;text-align:center;height:24px;line-height:24px;font-size:0.875rem;width:150px;margin:-48px auto 0;border-radius:12px;z-index:2;position:relative;font-weight:normal}.profile__greeting{margin:2rem 0 0;font-weight:300}.profile__greeting strong{font-weight:normal}.profile__overview{margin-top:2rem;font-size:0.875rem}.profile__overview-section{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.profile__overview-icon{-webkit-box-flex:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;vertical-align:middle;font-size:1.5em}.profile__overview-details{text-align:left;-webkit-box-flex:0;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;margin-left:1em}.profile__overview-primary{font-weight:normal;font-size:1.25em;margin:0}.profile__overview-secondary{font-weight:300;margin-top:0.25em}.profile__subnav{border-bottom:1px solid #dce0e6}.profile__subnav-list{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.profile__subnav-item{-webkit-box-flex:0;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;position:relative;padding:0 1.5rem}.profile__subnav-item:not(:first-child):before{content:'';top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);height:2rem;background:#dce0e6;width:1px;position:absolute;left:0}a.profile__subnav-link{display:block;border-bottom:3px solid transparent;font-size:1.125rem;color:#545e69;padding:.75em 1.25em}.profile__subnav-link:hover{border-color:#dce0e6}.profile__subnav-link.is-focused{color:#51af33;border-color:#51af33}.profile__subview{background-color:white;padding:2rem 0;min-height:50vh}.profile__reviews-list .page-loader{top:auto}.profile-review+.profile-review{margin-top:2rem}.profile-review__rate{display:block;width:30px;height:30px;border-radius:50%;text-align:center;line-height:30px;background-color:white;border:1px solid #242a30;color:#242a30;position:absolute;bottom:0;right:0;vertical-align:middle}.profile-review__title{font-weight:600}.profile-review__message{margin:0.25em 0}.profile-review__meta{font-size:0.875rem;color:#545e69}.profile__hire-item:not(:first-child){margin-top:2rem}.profile .is-loading{opacity:0.25}.profile__bio-section:not(:first-child){margin-top:2rem}.profile__bio-fact:not(:first-child){margin-top:0.5rem}.profile__bio-fact i{margin-right:0.25em}.profile__bio-question-q{font-weight:600;font-size:1.125rem}.profile__bio-question-q:not(:first-child){margin-top:1rem}.profile__bio-question-a{line-height:1.4em}.profile__bio-question-a,.profile__bio-question-a>*{color:#545e69}.build-subheader--profile.is-stuck{position:fixed;top:0;left:0;right:0;z-index:50;border-bottom:1px solid #dce0e6;box-shadow:0 0 2px 1px rgba(36,42,48,0.15)}.profile__video{width:100%}@media all and (min-width: 801px) and (max-width: 1024px), all and (min-width: 1025px){.profile__overview{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}.profile__overview-section{padding:0 2em;-webkit-box-flex:0;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto}.profile__overview-section:not(:first-child){border-left:1px solid white}}@media all and (max-width: 500px), all and (min-width: 501px) and (max-width: 800px){.profile__overview{max-width:350px;margin-left:auto;margin-right:auto}.profile__subnav-list{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}.profile__subnav-item{padding-left:1rem;padding-right:1rem}.profile__overview-section{-webkit-box-pack:left;-webkit-justify-content:left;-ms-flex-pack:left;justify-content:left}.profile__overview-section:not(:first-child){margin-top:1rem}.profile__build-hire-btn{margin-top:1rem;display:block}}.build-progress{background:white;border-bottom:1px solid #dce0e6;padding:1px 0}.build-progress__container{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.build-progress__step{padding:0.6rem 0;text-align:center;-webkit-box-flex:1;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;vertical-align:top;font-weight:normal;color:#b1b9c3;cursor:default}.build-progress__step i{font-size:1.25em;margin-right:1rem;vertical-align:middle}.build-progress__step span,.build-progress__step strong{line-height:1.25em;vertical-align:bottom}.build-progress__step[data-state="previous"]{color:#67727e}.build-progress__step[data-state="current"],.build-progress__step[data-state="previous"]:hover{color:#404852}.build-progress__step[data-state="previous"]:hover{cursor:pointer}.build-progress__step[data-state="previous"] i,.build-progress__step[data-state="future"] i{display:none}.build-progress__step[data-state="current"]{font-weight:600}@media all and (max-width: 500px){.build-progress{display:none}}@media all and (min-width: 501px) and (max-width: 800px){.build-progress__step i{display:none}}.recommendations__layout{margin-top:2rem;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}@media all and (max-width: 1000px){.recommendations__layout{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}}.recommendations__filters{-webkit-box-flex:1;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto}@media all and (min-width: 1001px){.recommendations__filters{margin-right:24px;width:376px;min-width:376px;max-width:376px}}@media all and (min-width: 1001px){.recommendations__filters .is-stuck{position:fixed;top:1rem;width:376px}}.recommendations__results{-webkit-box-flex:1;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto}.recommendations__filter select,.recommendations__filter input[type="text"],.recommendations__filter textarea{width:100%;margin-top:1rem}.recommendations__filter{padding:0 0 1.75rem 0}.recommendations__filter:not(:first-child){border-top:1px solid #dce0e6;padding-top:1.75rem}.recommendations__filter_new select,.recommendations__filter_new input[type="text"],.recommendations__filter_new textarea{width:100%;margin-top:1rem;margin-bottom:1.75rem}.recommendations__filter_new:not(:last-child){border-bottom:1px solid #dce0e6}.recommendations__filter_new:not(:first-child){margin:0rem 0 1.75rem 0;padding:0rem 0 1.75rem 0}.recommendations__filter_new:last-child{padding-bottom:0rem}.recommendations__filter-title{text-transform:uppercase;font-size:1em;line-height:1em;margin:0}.recommendations__filter-icon{position:relative;top:.15em;font-size:1.5rem}.recommendations__schedule-filter .build--datetime-windows{height:87px}.recommendations__schedule-filter .build--datetime-windows-viewport{padding-left:1rem;padding-right:1rem}.recommendations__schedule-filter-day{width:80px;height:80px;display:inline-block}.recommendations__schedule-filter-day__inner{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;height:100%;width:100%;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;background:#f9fafb;border:1px solid #b1b9c3;border-radius:4px;color:#545e69}.recommendations__schedule-filter-day__inner *{display:block}input[disabled]+.recommendations__schedule-filter-day__inner{border-color:#dce0e6;color:#b1b9c3}input:checked+.recommendations__schedule-filter-day__inner{background-color:#51af33;border-color:#51af33;color:white;font-weight:bold}.recommendations__date-picker-title{font-weight:600;font-size:1.25rem;display: none;text-align:center;margin:0 auto;padding-bottom:.3125rem}.recommendations__mobile-filter-trigger{font-size:1.25rem;display:none;max-width:350px}.recommendations__mobile-filter-dismiss{display:none}.recommendations__filters .recommendations__mobile-filter-trigger{margin-bottom:2rem}@media all and (min-width: 1001px){.recommendations__filters .recommendations__mobile-filter-trigger{display:none}}@media all and (max-width: 1000px){.recommendations__filters .recommendations__filter-items{ display: block;}.recommendations__filters .recommendations__mobile-filter-trigger{display:none;margin-right:auto}}@media all and (max-width: 600px){.recommendations__filters .recommendations__mobile-filter-trigger{margin-left:auto}}@media all and (min-width: 601px){.recommendations__filters .recommendations__filter-items{-webkit-transition:none;transition:none}}.lightbox--content .recommendations__mobile-filter-dismiss{display:block}@media all and (min-width: 601px){.recommendations__small-only{display:none}}@media all and (max-width: 600px){.recommendations__large-only{display:none}}.recommendations__pill{display:inline-block;line-height:2.5rem;padding:0 1rem;vertical-align:middle}.recommendations__pill i{font-size:1.25em;vertical-align:middle}.recommendations__pill--elite{color:#36b5bb}.recommendations__pill--new-tasker{color:#36b5bb;font-weight:normal}.recommendations__status{position:relative;text-align:center;margin:3rem 0;height:0}.recommendations__pill--status{margin-top:-1.25rem;font-weight:600}.recommendations__status-warning{margin-top:2rem;margin-bottom:-1rem;font-weight:600;text-align:center}.recommendations__result{background:white;border:1px solid #dce0e6;border-radius:4px;padding:2rem;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;margin-bottom:2rem;text-align:center}@media all and (max-width: 600px){.recommendations__result{margin-left:auto;margin-right:auto;max-width:350px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;padding:1rem}}@media all and (min-width: 501px){.recommendations__result{text-align:left}}.recommendations__result:not(.is-enabled){pointer-events:none;opacity:0.4}.recommendations__result-figure{-webkit-box-flex:2;-webkit-flex:2;-ms-flex:2;flex:2;text-align:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;width:50%;margin:0 auto}@media all and (min-width: 801px) and (max-width: 1024px), all and (min-width: 1025px){.recommendations__result-figure{width:auto;margin:auto}}.recommendations__result-content{-webkit-box-flex:5;-webkit-flex:5;-ms-flex:5;flex:5;position:relative}@media all and (min-width: 601px){.recommendations__result-content{margin-left:2rem}}@media all and (max-width: 600px){.recommendations__result-content{text-align:center}}.recommendations__avatar{width:100%;border-radius:4px}@media all and (max-width: 600px){.recommendations__avatar{margin-bottom:1rem}}.recommendations__result--tasker .recommendations__avatar:hover{cursor:pointer}.recommendations__result-price-container{margin-bottom:1rem}@media all and (min-width: 601px){.recommendations__result-price-container{position:absolute;right:0;top:0}}.recommendations__result-price-container.priceChange-appear,.recommendations__result-price-container.priceChange-enter{opacity:0.01}.recommendations__result-price-container.priceChange-appear-active,.recommendations__result-price-container.priceChange-enter-active{opacity:1;-webkit-transition:opacity .500s ease-in;transition:opacity .500s ease-in}.recommendations__result-price-container.priceChange-leave{opacity:1}.recommendations__result-price-container.priceChange-leave-active{opacity:0.01;-webkit-transition:opacity .250s ease-out;transition:opacity .250s ease-out}.recommendations__result-price{font-size:1.5em}.recommendations__result-price strong{font-weight:600}.recommendations__result-price--no-positioning{margin-bottom:1rem;font-size:1.5em}.recommendations__result-price--no-positioning strong{font-weight:600}.recommendations__recurring-savings{margin-top:.25em;color:#36b5bb}.recurring-savings__icon{font-size:1.15em}.recommendations__result-name{font-size:2em;font-weight:bold;margin-bottom:0.5rem}.recommendations__result--tasker .recommendations__result-name:hover{cursor:pointer}.recommendations__blurb-title{font-size:1rem;font-weight:bold}.recommendations__blurb p:last-child{margin-bottom:0}.recommendations__result--tasker .recommendations__blurb-title{padding-top:1rem;border-top:1px solid #dce0e6}.recommendations__hire-btn{margin:1rem 0;font-size:1.125rem}@media all and (max-width: 600px){.recommendations__result--tasker .recommendations__result-figure .recommendations__hire-btn,.recommendations__result--tasker .recommendations__result-figure .recommendations__review-link{display:none}.recommendations__result--tasker .recommendations__result-content .recommendations__result-actions{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}.recommendations__result--tasker .recommendations__result-content .recommendations__hire-btn{margin-left:auto;margin-right:auto}}@media all and (min-width: 601px){.recommendations__result--tasker .recommendations__result-content .recommendations__result-actions{display:none}}.recommendations__result-info{margin-bottom:1rem}.recommendations__result-info li:not(:first-child){margin-top:0.25rem}@media all and (min-width: 601px){.recommendations__result-info .recommendations__pill{margin-left:-1.25rem}}.recommendations__result-info i{margin-right:0.25rem}.recommendations__result-info--zero,.recommendations__result-info--zero i{color:#86919d}.recommendations__result-info--invoices i{color:#242a30}.recommendations__result-info--rating i{color:#242a30}.recommendations__review{margin-top:18px}@media all and (max-width: 500px){.recommendations__review,.recommendations__no-category-review{display:none}}.recommendations__review-content{font-style:italic}@media all and (max-width: 600px){.recommendations__no-category-review{text-align:left}}.recommendations__no-category-review{margin-top:1rem}.recommendations__no-category-review__avatar{background-color:#e8ebef}.recommendations__no-category-review__info{font-style:italic}.recommendations__result,.recommendations__status{-webkit-transition:opacity 0.25s ease-in;transition:opacity 0.25s ease-in}.bar-loader .recommendations__result,.bar-loader .recommendations__status{opacity:0.25}.recommendation-reviews-lightbox{width:100%}@media all and (min-width: 501px) and (max-width: 800px){.recommendation-reviews-lightbox{min-width:80vw}}@media all and (min-width: 801px) and (max-width: 1024px), all and (min-width: 1025px){.recommendation-reviews-lightbox{min-width:40vw}}@media all and (min-width: 1201px){.recommendation-reviews-lightbox{min-width:600px}}.recommendation-reviews-lightbox .tasker-review{margin-bottom:2em}.recommendation-reviews-lightbox .reviews-section:not(:last-of-type){border-bottom:1px solid #dce0e6;margin-bottom:1em}.recommendation-reviews-lightbox .reviews-section--header{text-transform:uppercase;font-weight:600;margin-bottom:0.5em}.recommendation-reviews-lightbox .tasker-review-avatar{height:80px;width:80px;border-radius:100%}.recommendation-reviews-lightbox .icon-rating{position:absolute;bottom:6px;right:-5px;width:30px;line-height:30px;background-color:white;border:1px solid #242a30;color:#242a30}.recommendation-reviews-lightbox i{color:white;text-align:center;border-radius:100%}.recommendation-reviews-lightbox .recommendation-section--no-reviews{max-width:80%;margin:1.5em auto}.recommendation-reviews-lightbox .recommendation-section--no-reviews i{font-size:2rem;line-height:75px;display:inline-block;width:75px;margin-bottom:0.5em;background-color:white;border:1px solid #242a30;color:#242a30}.recommendation-reviews-lightbox .recommendation-section-divider{padding-bottom:1em;border-bottom:1px solid #dce0e6;margin-bottom:1.5em;width:100%}.recommendation-reviews-lightbox .pagination-container{float:right}.recurring-options__choices{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:1.5rem 0 0;margin-left:-0.5rem}.recurring-options__choice-item{-webkit-box-flex:0;-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%;padding-left:0.5rem;margin:0 0 0.5rem}.recurring-options__choice-btn{display:block;text-align:center;padding:0.5em 1em 0.5em;border:1px solid #b1b9c3;background:#f9fafb;color:#545e69;border-radius:4px;font-weight:normal}.recurring-options__choice-input:checked+.recurring-options__choice-btn{background:#51af33;border-color:#51af33;color:white}.recurring-options__active-period-text{height:2em}.build-subheader .media--object{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.build-subheader__title{font-size:2rem;font-weight:normal;line-height:1em;margin:0;padding-bottom:0.5em}.build-subheader__subtitle{margin:0.25em 0 0}.build-subheader__panel--spaced{padding:2rem 2.5rem}.build-subheader__supplemental{padding-bottom:0.5em}.build-subheader__supplemental-info-title{font-size:1.25rem;font-weight:600;padding-right:0.5em;padding-bottom:0.5em}.build-subheader__back-link{display:inline-block;vertical-align:top;line-height:72px}.build-subheader__mod-link{font-size:1rem}.build-subheader__attribute-list{margin-top:0.5rem}.build-subheader__attribute-list li{display:inline-block;padding-right:1rem}.build-subheader__attribute-list li:not(:first-child){padding-left:1rem;border-left:1px solid #dce0e6}.build-subheader__attribute-list i{margin-right:0.25rem}.build-subheader--profile{background:#fff;padding:1rem 0}@media all and (min-width: 501px){.build-subheader__mod-link{margin-left:0.5rem}}@media all and (max-width: 500px){.build-subheader--form .media--figure,.build-subheader--profile .media--figure,.build-subheader__title span,.build-subheader__subtitle{display:none}.build-subheader__mod-link{display:block}}.build-tasker{text-align:center;overflow:visible;padding:1rem}.build-tasker-cta,.build-tasker__rate,.build-tasker__name,.build-tasker__avatar,.build-tasker__description{margin:0.5rem 0}.build-tasker__avatar{margin-top:-1.5rem;z-index:1}.build-tasker__avatar img{width:144px;height:144px;border-radius:50%}.build-tasker__name{font-size:1.75rem}.build-tasker__rate{font-size:1.75rem;font-weight:600}.build-tasker-cta{width:100%}.build-tasker-cta__support{margin:1rem 0;font-size:0.875rem}.build-tasker-cta__price{opacity:0.6}.build-trust-banner{background:#e8ebef;font-size:1rem}@media all and (min-width: 501px){.build-trust-banner{padding:0.5rem 0;font-size:1.25rem}}.build-trust-banner__container{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}.build-trust-banner__badge{margin-right:1rem}.build-trust-banner__info{margin-left:2rem}.build-trust-tooltip__title{font-size:1.25rem;border-bottom:1px solid #dce0e6;padding-bottom:.5em;margin-bottom:1em}.build-trust-tooltip__prop{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;margin-bottom:.5em}.build-trust-tooltip__prop-icon{margin-right:.75em}.build-trust-tooltip__prop-text{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}@media all and (max-width: 500px), all and (min-width: 501px) and (max-width: 800px){.build-trust-banner__title strong{display:block}.build-trust-banner__container{padding-left:1rem;padding-right:1rem}}