/***常量***/
/***function***/
/***style***/
.perfect-datetimepicker {
  position: relative;
  width: 240px;
  margin: 2px 0 0;
  font-size: 14px;
  color: #333;
  background-color: #FAFAFA;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  line-height: 0;
  overflow: hidden;
 /* border: 1px solid #CCCCCC;*/
}
.perfect-datetimepicker * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.perfect-datetimepicker table {
  width: 100%;
  margin: 0;
  border-collapse: separate;
  border-spacing: 2px;
  background-color: white;
  padding: 3px;
}
.perfect-datetimepicker table td {
  border: 0;
  text-align: center;
  padding: 2px;
  width: 34px;
  height: 27px;
  cursor: pointer;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.perfect-datetimepicker table td.weekend {
  color: #d9534f;
}
.perfect-datetimepicker table.mt tbody td {
  width: 58px;
  height: 38px;
}
.perfect-datetimepicker td.day {
  width: 14.28571429%;
}
.perfect-datetimepicker td.name {
  font-weight: bold;
}
.perfect-datetimepicker td.oday {
  color: #CCCCCC;
}
.perfect-datetimepicker td.disabled {
  color: #999;
}
.perfect-datetimepicker td i {
  font-size: 18px;
  font-weight: bold;
}
.perfect-datetimepicker td table.tt {
  border: 0;
  padding: 0;
}
.perfect-datetimepicker table.tt {
  padding: 5px;
}
.perfect-datetimepicker table.tt td.hover {
  border: 0;
}
.perfect-datetimepicker table.tt td.common {
  width: 5px;
}
.perfect-datetimepicker table.tt tbody td {
  width: 40px;
  height: 14px;
}
.perfect-datetimepicker table.tt input {
  outline: none;
  border: 1px solid #cccccc;
  margin: 0 auto;
  padding: 0 !important;
  width: 38px;
  height: 24px;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  -ms-transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  -webkit-transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  -o-transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
}
.perfect-datetimepicker table.tt input:focus {
  border-color: #66afe9;
  -webkit-box-shadow: 0 0 6px rgba(102, 175, 233, 0.6);
  -moz-box-shadow: 0 0 6px rgba(102, 175, 233, 0.6);
  box-shadow: 0 0 6px rgba(102, 175, 233, 0.6);
}
.perfect-datetimepicker table.tt input[type=number]::-webkit-inner-spin-button,
.perfect-datetimepicker table.tt input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.perfect-datetimepicker table.tt input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.perfect-datetimepicker .buttonpane {
  border-top: 1px solid #CCCCCC;
}
.perfect-datetimepicker tbody td.hover {
  background-color: #eee;
  padding: 1px;
  border: 1px solid #CCCCCC;
}
.perfect-datetimepicker tbody td.today {
  font-weight: bold;
  color: #178cdf;
}
.perfect-datetimepicker tbody td.selected {
  font-weight: bold;
  padding: 1px;
  color: white;
  border: 1px solid #178cdf;
  background-color: #178cdf;
}
.perfect-datetimepicker tfoot td.hover {
  background-color: #eee;
  padding: 1px;
  border: 1px solid #eee;
}
.perfect-datetimepicker thead td.hover {
  background-color: #eee;
  padding: 1px;
  border: 1px solid #eee;
}
.perfect-datetimepicker thead td.title {
  font-weight: bold;
  text-align: center;
  padding: 2px;
}
i {
  font-family: "finex";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'finex';
  src: url('../resources/fonts/iconfont.eot');
  /* IE9*/
  src: url('../resources/fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../resources/fonts/iconfont.woff') format('woff'), /* chrome、firefox */ url('../resources/fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../resources/fonts/iconfont.svg#svgFontName') format('svg');
  /*  iOS 4.1- */
}
i.icon-datepicker-minus:before {
  content: '\e601';
}
i.icon-datepicker-plus:before {
  content: '\e603';
}
i.icon-datepicker-prev:before {
  content: '\e602';
}
i.icon-datepicker-next:before {
  content: '\e600';
}
