@charset "UTF-8";
/* Addison Lee Home Page Widget */
.hw__wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .hw__wrapper .hw-clear {
    clear: both; }
  .hw__wrapper .hw-form {
    padding-top: 20px; }
    .hw__wrapper .hw-form:before {
      content: '';
      position: absolute;
      left: 0;
      top: 56px;
      height: 15px;
      width: 100%;
      background-color: #fff; }
  .hw__wrapper .hw-row {
    padding: 0 10px;
    margin: 0;
    clear: both; }
    .hw__wrapper .hw-row .hw-col, .hw__wrapper .hw-row .hw-col--2, .hw__wrapper .hw-row .hw-col--1 {
      padding: 0 10px;
      float: left; }
      .hw__wrapper .hw-row .hw-col--2 {
        width: 50%; }
      .hw__wrapper .hw-row .hw-col--1 {
        width: 25%; }
  .hw__wrapper a:hover {
    text-decoration: none; }

.hw-tabs {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 500;
  position: relative;
  display: -webkit-box; }
  .hw-tabs__tab {
    cursor: pointer;
    position: relative;
    float: left;
    margin-right: 10px;
    padding: 0 20px;
    height: 56px;
    color: #464646;
    background-color: #f8f7ef;
    border-top: 4px solid #f8f7ef;
    -webkit-box-shadow: 0 3px 10px 0 rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0 3px 10px 0 rgba(50, 50, 50, 0.2);
    box-shadow: 0 3px 10px 0 rgba(50, 50, 50, 0.2); }
    .hw-tabs__tab div {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      display: inline-block; }
      .hw-tabs__tab div:not(:first-child) {
        margin-left: 20px; }
    .hw-tabs__tab .hw-zone-button__wrapper {
      display: none; }
   .hw-tabs__tab.hw-tab--active {
    cursor: auto;
    color: #494a43;
    background-color: #fff;
    border-top: 4px solid #3178ae;
}
      .hw-tabs__tab.hw-tab--active .hw-zone-button__wrapper {
        display: inline-block; }

.hw-dropdown.hw-dropdown--open .hw-form-group__input {
  border: 0.5px solid #fedb00 !important; }
  @media screen and (min-width: 0\0) {
    .hw-dropdown.hw-dropdown--open .hw-form-group__input {
      border: 1px solid #fedb00 !important; } }

.hw-dropdown.hw-dropdown--open .hw-dropdown-menu, .hw-dropdown.hw-dropdown--open .hw-form-group__note {
  display: block; }

.hw-dropdown-menu, .hw-form-group__note {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #fedb00;
  border-top: none;
  box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.08);
  max-height: 300px;
  overflow-y: auto; }
  .hw-dropdown-menu li, .hw-form-group__note li {
    margin: 0;
    padding: 0; }

.hw-dropdown-menu > li > a, .hw-form-group__note > li > a {
  display: block;
  cursor: pointer;
  color: #464646;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: #fff;
  line-height: 1.3;
  padding: 10px 14px;
  text-align: left;
  width: 100%; }

.hw-dropdown-menu > .active > a, .hw-form-group__note > .active > a, .hw-dropdown-menu > .active > a:focus, .hw-form-group__note > .active > a:focus, .hw-dropdown-menu > .active > a:hover, .hw-form-group__note > .active > a:hover, .hw-dropdown-menu > li > a:hover, .hw-form-group__note > li > a:hover, .hw-dropdown-menu > li > a:focus, .hw-form-group__note > li > a:focus {
  text-decoration: none;
  background-color: #fffbe6;
  outline: 0; }

[uib-typeahead-popup].hw-dropdown-menu, [uib-typeahead-popup].hw-form-group__note {
  display: block; }

.hw-form {
  clear: both;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 10px 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 3px 10px 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 3px 10px 0 rgba(50, 50, 50, 0.2); }
  .hw-form form {
    margin: 0;
    padding: 0; }
  .hw-form.hw-form--submitted .hw-form-group__input.ng-empty {
    border: solid 1px #e74c3c !important; }
    @media screen and (min-width: 0\0) {
      .hw-form.hw-form--submitted .hw-form-group__input.ng-empty {
        border: solid 1px #e74c3c !important; } }
  .hw-form .hw-form-group {
    width: 100%;
    position: relative;
    margin-bottom: 20px; }
    .hw-form .hw-form-group.hw-dropdown label {
      pointer-events: none; }
    .hw-form .hw-form-group.hw-dropdown:before {
      content: '▼';
      position: absolute;
      top: calc(50% - 10px);
      right: 10px;
      display: inline;
      cursor: pointer;
      color: inherit;
      background-color: transparent;
      margin: 0;
      padding: 0;
      border: none;
      text-decoration: none;
      border-radius: 4px;
      font-size: 10px;
      text-align: center;
      transition: 0.2s ease;
      width: 20px;
      height: 20px;
      line-height: 20px;
      pointer-events: none; }
    .hw-form .hw-form-group.hw-dropdown.hw-dropdown--open:before {
      content: '▲'; }
    .hw-form .hw-form-group.hw-icon label, .hw-form .hw-form-group.hw-icon__marker label, .hw-form .hw-form-group.hw-icon__marker--dark label {
      left: 50px !important; }
    .hw-form .hw-form-group.hw-icon input, .hw-form .hw-form-group.hw-icon__marker input, .hw-form .hw-form-group.hw-icon__marker--dark input {
      text-indent: 49px !important; }
    .hw-form .hw-form-group.hw-icon__marker input {
      background-image: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E %3Csvg width='18px' height='24px' viewBox='0 0 18 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: sketchtool 3.7.2 (28276) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3E6E193CAD-567F-44BD-9F11-BC559674C998%3C/title%3E %3Cdesc%3ECreated with sketchtool.%3C/desc%3E %3Cdefs/%3E %3Cg id='Booking-Flow' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='Mobile-Widget-States' transform='translate(-38.000000, -332.000000)'%3E %3Cg id='bottom' transform='translate(0.000000, 314.000000)'%3E %3Cg id='Location' transform='translate(0.000000, 10.000000)'%3E %3Cg id='location-icon' transform='translate(35.000000, 8.000000)'%3E %3Crect id='Rectangle-177' x='0' y='0' width='24' height='24'/%3E %3Cpath d='M12.0147177,12.4289718 C10.1199973,12.4289718 8.58380708,10.892932 8.58380708,8.99839721 C8.58380708,7.10386238 10.1199973,5.5678226 12.0147177,5.5678226 C13.9094381,5.5678226 15.4456284,7.10386238 15.4456284,8.99839721 C15.4456284,10.892932 13.9094381,12.4289718 12.0147177,12.4289718 M12.0104291,0 C7.0338932,0 3,4.08324143 3,9.12018261 C3,16.3201011 12.0104291,24.0003 12.0104291,24.0003 C12.0104291,24.0003 21.0200005,16.3201011 21.0200005,9.12018261 C21.0200005,4.08324143 16.9861073,0 12.0104291,0' id='Location-Icon' fill='%23c1ba97'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E"); }
    .hw-form .hw-form-group.hw-icon__marker--dark input {
      background-image: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E %3Csvg width='18px' height='24px' viewBox='0 0 18 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: sketchtool 3.7.2 (28276) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3E6E193CAD-567F-44BD-9F11-BC559674C998%3C/title%3E %3Cdesc%3ECreated with sketchtool.%3C/desc%3E %3Cdefs/%3E %3Cg id='Booking-Flow' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='Mobile-Widget-States' transform='translate(-38.000000, -332.000000)'%3E %3Cg id='bottom' transform='translate(0.000000, 314.000000)'%3E %3Cg id='Location' transform='translate(0.000000, 10.000000)'%3E %3Cg id='location-icon' transform='translate(35.000000, 8.000000)'%3E %3Crect id='Rectangle-177' x='0' y='0' width='24' height='24'/%3E %3Cpath d='M12.0147177,12.4289718 C10.1199973,12.4289718 8.58380708,10.892932 8.58380708,8.99839721 C8.58380708,7.10386238 10.1199973,5.5678226 12.0147177,5.5678226 C13.9094381,5.5678226 15.4456284,7.10386238 15.4456284,8.99839721 C15.4456284,10.892932 13.9094381,12.4289718 12.0147177,12.4289718 M12.0104291,0 C7.0338932,0 3,4.08324143 3,9.12018261 C3,16.3201011 12.0104291,24.0003 12.0104291,24.0003 C12.0104291,24.0003 21.0200005,16.3201011 21.0200005,9.12018261 C21.0200005,4.08324143 16.9861073,0 12.0104291,0' id='Location-Icon' fill='%23464646'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E"); }
    .hw-form .hw-form-group .hw-form-group__label {
      top: 14px;
      left: 16px;
      text-transform: uppercase;
      position: absolute;
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #c1ba97;
      margin-bottom: 0;
      line-height: 1; }
      .hw-form .hw-form-group .hw-form-group__label.has-icon {
        left: 50px; }
    .hw-form .hw-form-group a.hw-form-group__input {
      cursor: pointer;
      display: inherit;
      text-decoration: none; }
    .hw-form .hw-form-group .hw-form-group__input {
      width: 100%;
      max-height: 60px;
      font-size: 14px;
      color: #494a43;
      background-color: #fff;
      padding: 30px 0 14px 0;
      line-height: 1;
      box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.03);
      border: solid 1px #c3c3c3;
      /**
      * these look great on chrome, but don't work on safari yet :(
      */
      text-indent: 15px;
      background-position: 15px 50%;
      background-repeat: no-repeat; }
      @media screen and (min-width: 0\0) {
        .hw-form .hw-form-group .hw-form-group__input {
          border: solid 1px #c3c3c3 !important; } }
      .hw-form .hw-form-group .hw-form-group__input:focus {
        outline-offset: -1px;
        outline-color: #fedb00;
        outline-width: 1px;
        outline-style: solid; }

.hw-button {
    display: block;
    text-decoration: none;
    background-color: #3178ae !important;
    text-align: center;
    height: 60px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #494a43;
    line-height: 60px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
 .hw-button:hover {
    background-color: rgba(84, 140, 219, 0.8)!important;
}
  .hw-button[disabled] {
    cursor: not-allowed; }

.hw-search {
  background-image: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  touch-action: manipulation;
  transition: 0.2s ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  width: 100px;
  height: 43px;
  margin: 8.5px 10px;
  background-color: #fedb00;
  color: #464646;
  border-color: #fedb00; }
  .hw-search .hw-search-icon {
    background: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E %3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: sketchtool 3.8.3 (29802) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3ED8285644-84CE-41DB-8B8E-EBC154D6F923%3C/title%3E %3Cdesc%3ECreated with sketchtool.%3C/desc%3E %3Cdefs/%3E %3Cg id='Components-for-Developers' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='Journey-Details' transform='translate(-520.000000, -838.000000)'%3E %3Cg id='Group' transform='translate(50.000000, 501.000000)'%3E %3Cg id='Journey--Details' transform='translate(20.000000, 293.000000)'%3E %3Cg id='Input:-Dropdown' transform='translate(0.000000, 24.000000)'%3E %3Cg id='Button' transform='translate(410.000000, 10.000000)'%3E %3Cg id='-g-search-icon' transform='translate(38.000000, 8.000000)'%3E %3Crect id='Rectangle-116' x='0' y='0' width='24' height='24'/%3E %3Cpath d='M9.50003812,3.66664917 C12.7158878,3.66664917 15.3334011,6.28328837 15.3334011,9.49992128 C15.3334011,12.7157209 12.7158878,15.3331934 9.50003812,15.3331934 C6.28335511,15.3331934 3.66667514,12.7157209 3.66667514,9.49992128 C3.66667514,6.28328837 6.28335511,3.66664917 9.50003812,3.66664917 M9.50003812,16.9998426 C11.2758805,16.9998426 12.9075554,16.3756824 14.1942287,15.33986 L20.5759278,21.7547926 C20.9000961,22.0806226 21.4267654,22.0822892 21.7542671,21.7564593 C22.0809354,21.432296 22.0817687,20.9039682 21.7576004,20.5781383 L15.367568,14.1565391 C16.3867398,12.8765525 17.0000762,11.2590695 17.0000762,9.49992128 C17.0000762,5.36413135 13.6358925,2 9.50003812,2 C5.36418377,2 2,5.36413135 2,9.49992128 C2,13.6348779 5.36418377,16.9998426 9.50003812,16.9998426' id='Fill-211' fill='%23494A43'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E") 50% 50% no-repeat;
    display: inline-block;
    height: 100%;
    width: 100%; }
  .hw-search:hover {
    background-color: rgba(254, 219, 0, 0.8);
    color: #464646; }

.hw-form-group__note {
  display: block; }
  .hw-form-group__note div {
    line-height: 1.3;
    padding: 10px 14px; }

.hw-loader {
  display: block;
  width: 100%;
  text-align: center; }

.hw-loader:before {
  content: '';
  display: inline-block;
  animation: spin 0.6s linear infinite;
  width: 43px;
  height: 43px;
  background: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E %3Csvg version='1.1' id='loader-1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='35px' height='35px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E %3Cpath fill='%23000' d='M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z'/%3E %3C/svg%3E") 50% 50% no-repeat; }

.hw-button .hw-loader {
  height: 100%; }
  .hw-button .hw-loader:before {
    width: 59px;
    height: 59px; }

@keyframes spin {
  to {
    transform: rotate(1turn); } }

.hw-zone-button__wrapper {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 500; }

.hw-zone-button {
  vertical-align: top;
  display: inline-flex;
  padding: 8px 10px;
  color: #99967c;
  text-decoration: none;
  letter-spacing: 0;
  line-height: 1; }
  .hw-zone-button:hover, .hw-zone-button:focus {
    outline: none;
    background-color: #f8f7ef; }
  .hw-zone-button span.hw-arrow {
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 1;
    padding-top: 1px; }

.hw-zone-button__dropdown {
  width: auto;
  border-top: 1px solid #fedb00;
  color: #99967c;
  max-height: none; }

.hw-form .hw-zone-button__wrapper {
  display: none; }

.flag.flag--GB {
  background-position: 0 -711px; }

.flag.flag--FR {
  background-position: 0 -693px; }

.flag.flag--US {
  background-position: 0 -2142px; }

.flag.flag--ES-CE {
  background-position: 0 -603px; }

.flag.flag--ES-ML {
  background-position: 0 -612px; }

.flag.flag--ES {
  background-position: 0 -621px; }

.flag {
  background: url("https://static.addisonlee.com/images/web/flags.png") no-repeat 0 9px;
  display: inline-block;
  width: 16px;
  height: 9px;
  margin: 2px 5px 0 0;
  padding: 0;
  vertical-align: baseline; }

@media (max-width: 940px) {
  #hw .hw-tabs {
    padding-left: 10px; }
  #hw .hw-tabs__tab {
    width: calc(50% - 10px);
    text-align: center; }
    #hw .hw-tabs__tab:last-child {
      margin-right: 0; }
    #hw .hw-tabs__tab .hw-zone-button__wrapper {
      display: none; }
  #hw .hw__wrapper {
    width: 100%; }
    #hw .hw__wrapper .hw-form {
      padding-top: 10px; }
      #hw .hw__wrapper .hw-form .hw-zone-button__wrapper {
        margin-bottom: 10px;
        text-align: center;
        display: block;
        width: auto;
        margin-left: auto;
        margin-right: auto; }
    #hw .hw__wrapper .hw-form-group {
      margin-bottom: 10px !important; }
    #hw .hw__wrapper .hw-row {
      padding: 0 5px; }
      #hw .hw__wrapper .hw-row .hw-col--2 {
        width: 100%;
        padding: 0 5px; }
      #hw .hw__wrapper .hw-row .hw-col--1 {
        width: 50%;
        padding: 0 5px; }
  .hw-zone-button__dropdown {
    width: 100%;
    right: -1px !important;
    text-align: center; }
    .hw-zone-button__dropdown > li > a {
      font-size: 130%; } }